@{import('pages/users.min.css','pages/timeline.min.css','gallery/photoswipe.css','gallery/default-skin/default-skin.css','custom_plugins/cardToggler.css')}

<style>

.modal-footer {
  border: 0;
}

</style>


<div class="modal fade text-xs-left" id="add_bonus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35"
                          aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                  <h3 class="modal-title" id="myModalLabel35">إضافة مكافأة</h3>
                                </div>
                                <form>
                                  <div class="modal-body">
                                    <div class="col-xl-8 col-lg-6 col-md-12 mb-1">
                                      <fieldset class="form-group">
                                        <label for="basicInput">اسم الموظف</label>
                                        <input type="text" class="form-control" id="basicInput">
                                      </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                      <fieldset class="form-group">
                                        <label for="basicInput">قيمة الإضافة</label>
                                        <input type="text" class="form-control" id="basicInput">
                                      </fieldset>
                                    </div>
                                    <div class="col-xl-12 col-lg-6 col-md-12">
                                      <fieldset class="form-group">
                                        <label for="placeTextarea">سبب الإضافة</label>
                                        <textarea class="form-control" id="placeTextarea" rows="3" placeholder="سبب الإضافة"></textarea>
                                      </fieldset>
                                    </div>
                                  <div class="modal-footer">
                                    <input type="submit" class="btn btn-outline-primary btn-lg" value="ارسال الإضافة">
                                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal"
                                    value="اغلاق">
                                  </div>
                                </div>
                                </form>
                              </div>
                            </div>
                          </div>



<div class="app-content content container-fluid">
   <div class="content-wrapper">
     <div class="content-header row">
       <div class="content-header-left col-md-6 col-xs-12 mb-2">
         <div class="row breadcrumbs-top">
           <div class="breadcrumb-wrapper col-xs-12">
             <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
               </li>
               <li class="breadcrumb-item"><a href="#">ادارة التشغيل</a>
               </li>
               <li class="breadcrumb-item"><a href="employees.php">الموظفين</a>
               </li>
               <li class="breadcrumb-item active">المكافآت
               </li>
             </ol>
           </div>
         </div>
         <h3 class="content-header-title mb-0">المكافآت</h3>
       </div>
       <div class="content-header-right col-md-6 col-xs-12">
           <div class="form-group" style="text-align: left">
             <!-- button group -->
             <div class="btn-group" role="group" aria-label="Basic example">
                <div class="btn-group">
                    <button type="button" class="btn btn-icon btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="employees_times">الحضور والانصراف</a>
                      <a class="dropdown-item" href="vacations">الأجازات</a>
                      <a class="dropdown-item" href="salaries">المرتبات</a>
                      <a class="dropdown-item" href="bonuses">المكافئات</a>
                      <a class="dropdown-item" href="reports">التقييمات</a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-secondary" >
                      <i class="icon-calendar icon-right"></i>
                      جدولة مكافأة جديدة</button>
                  <button type="button" class="btn btn-secondary" data-target="#add_bonus" data-toggle="modal">
                      <i class="ft-plus icon-right"></i>
                    اضافة مكافأة لموظف</button>
                  

             </div>
            </div>
           </div>
        </div>
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                  <div class="card bg-gradient-x-primary">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-4 col-sm-12 border-right-primary border-right-lighten-3">
                          <div class="card-block text-xs-center">
                            <h1 class="display-4 white"><i class="icon-users font-large-2"></i> 1579</h1>
                            <span class="white">اجمالي الموظفين</span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 border-right-primary border-right-lighten-3">
                          <div class="card-block text-xs-center">
                            <h1 class="display-4 white"> 15201</h1>
                            <span class="white">اجمالي المكافآت</span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                          <div class="card-block text-xs-center">
                            <h1 class="display-4 white"> 1621</h1>
                            <span class="white">مكافآت مستحقة</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-xs-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">المكافآت</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                      <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard" style="padding-top: 0px;">
                      <table class="table table-striped table-bordered base-style ">
                        <thead>
                          <tr>
                            <th>كود</th>
                            <th>اسم الموظف</th>
                            <th>تاريخ التعيين</th>
                            <th>اجمالى المكافآت</th>
                            <th>المكافآت المستحقة</th>
                            <th>تاريخ آخر مكافأة</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td>101</td>
                              <td>ريان كمال فهمي</td>
                              <th>11/8/2017</th>
                              <td>230</td>
                              <td>40</td>
                              <td>1/11/2017
                          </tr>
                          <tr>
                              <td>101</td>
                              <td>ريان كمال فهمي</td>
                              <th>11/8/2017</th>
                              <td>230</td>
                              <td>40</td>
                              <td>1/11/2017
                          </tr>
                          <tr>
                              <td>101</td>
                              <td>ريان كمال فهمي</td>
                              <th>11/8/2017</th>
                              <td>230</td>
                              <td>40</td>
                              <td>1/11/2017
                          </tr>
                          <tr>
                              <td>101</td>
                              <td>ريان كمال فهمي</td>
                              <th>11/8/2017</th>
                              <td>230</td>
                              <td>40</td>
                              <td>1/11/2017
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>كود</th>
                            <th>اسم الموظف</th>
                            <th>تاريخ التعيين</th>
                            <th>اجمالى المكافآت</th>
                            <th>المكافآت المستحقة</th>
                            <th>تاريخ آخر مكافأة</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
        
        
        
                </div>
           </div>
        </div>



          <div class="row match-height">
        <div class="col-xl-6 col-lg-12">
          <div class="card">
              <div class="card-header">
              <h4 class="card-title">أعلى الموظفين حصولا على مكافآت</h4>
            </div>

            <div class="card-body">
              <div class="table-responsive table-outer">
                  <table class="table table-bordered  mb-0 ">
                    <thead>
                      <tr>
                        <th>اسم الموظف</th>
                        <th>اجمالي المكافآت</th>
                        <th>
                          قيمة آخر مكافأة
                        </th>
                        <th>
                          تاريخ آخر مكافأة
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          ريان كمال فهمي
                        </td>
                        <td>
                          6500 جنيه
                        </td>
                        <td>
                          1200 جنيه
                        </td>
                        <td>
                          12-09-2017
                        </td>
                      </tr>
                      <tr>
                          <td>
                            ريان كمال فهمي
                          </td>
                          <td>
                            6500 جنيه
                          </td>
                          <td>
                            1200 جنيه
                          </td>
                          <td>
                            12-09-2017
                          </td>
                        </tr>
                        <tr>
                            <td>
                              ريان كمال فهمي
                            </td>
                            <td>
                              6500 جنيه
                            </td>
                            <td>
                              1200 جنيه
                            </td>
                            <td>
                              12-09-2017
                            </td>
                          </tr>
                          <tr>
                              <td>
                                ريان كمال فهمي
                              </td>
                              <td>
                                6500 جنيه
                              </td>
                              <td>
                                1200 جنيه
                              </td>
                              <td>
                                12-09-2017
                              </td>
                            </tr>
                            <tr>
                                <td>
                                  ريان كمال فهمي
                                </td>
                                <td>
                                  6500 جنيه
                                </td>
                                <td>
                                  1200 جنيه
                                </td>
                                <td>
                                  12-09-2017
                                </td>
                              </tr>

                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
          <div class="col-xl-6 col-lg-12">
          <div class="card" >
            <div class="card-header">
              <h4 class="card-title">مكافآت مجدولة<h4>
            </div>
            <div class="card-body">
              <div class="table-responsive table-outer">
                  <table class="table table-bordered  mb-0">
                    <thead>
                      <tr>
                        <th>اسم المكافآة</th>
                        <th>تاريخ الاستحقاق</th>
                        <th>النوع</th>
                        <th>القيمة</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>الجودة</td>
                        <td>12-07-2018</td>
                        <td>مخصصة</td>
                        <td>40</td>
                      </tr>
                      <tr>
                          <td>الجودة</td>
                          <td>12-07-2018</td>
                          <td>مخصصة</td>
                          <td>40</td>
                        </tr>
                        <tr>
                            <td>الجودة</td>
                            <td>12-07-2018</td>
                            <td>مخصصة</td>
                            <td>40</td>
                          </tr>
                          <tr>
                              <td>الجودة</td>
                              <td>12-07-2018</td>
                              <td>مخصصة</td>
                              <td>40</td>
                            </tr>
                            <tr>
                                <td>الجودة</td>
                                <td>12-07-2018</td>
                                <td>مخصصة</td>
                                <td>40</td>
                              </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>





@{import('vendors.min.js')};
<script>



</script>

