<div class="form">
    <div class="form-body p-1">
        <div class="row">
            <div class="col-md-12">
                    <div class="form-group">
                        <label>
                            اسم الموظف
                        </label>
                        <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="ft-user"></i></span>
                                <input type="text" class="form-control" placeholder="اسم الموظف" aria-describedby="basic-addon1">
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        نوع التعديل
                    </label>
                    <select class="form-control">
                        <option>
                            زيادة
                        </option>
                        <option>
                            خفض
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label>
                        القيمة
                    </label>
                    <input type="number" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        سبب التعديل
                    </label>
                    <textarea rows="3" class="form-control" placeholder="سبب التعديل"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" >
                    تعديل المرتب
                </button>
            </div>
        </div>
    </div>
</div>