<div class="form">
    <div class="form-body p-1">
        <div class="row" >
            <div class="col-md-12">
                <div class="form-group">
                <label>
                    مسمى المعيار
                </label>
                <input class="form-control" type="text" placeholder="مسمى المعيار" />
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        وصف المعيار
                    </label>
                    <textarea class="form-control" rows="8" placeholder="وصف المعيار" ></textarea>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-md-12 mb-1">
                    <fieldset>
                        <label class="display-inline-block custom-control custom-checkbox">
                            <input type="checkbox" name="checkInline1" checked="" class="custom-control-input">
                            <span class="c-indicator bg-primary custom-control-indicator"></span>
                            <span class="custom-control-description">تفعيل تلقائي بعد التثبيت !</span>
                        </label>
                    </fieldset>
                </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" >
                    اضافة المعيار
                </button>
            </div>
        </div>
    </div>
</div>