<div class="m-1">
        <p>نوع القانون :</p>
        <div class="cf mb-1">
            <section class="plan">
                <input type="radio" name="law_type" id="7" value="come">
                <label class="free-label four col" for="7">
                    <p class="no-margin">حضور متأخر</p>
                </label>
                <input type="radio" name="law_type" id="8" value="leave">
                <label class="free-label four col" for="8">
                    <p class="no-margin">انصراف مبكر</p>
                </label>
            </section>
        </div>
        <hr>
        <section id="roles_container">
            <div class="flexed-row flexed-between">
                <p>حالات القانون</p> <b>
                          <span class="roles_length">0</span> حالة
                      </b>
            </div>
            <div class=" roles_empty flexed-column flexed-vcentered flexed-centered mb-1 p-1 pt-3 pb-3" style="background-color:#ECEFF1">
                <p>قم بإضافة الحالة الأولى لهذا القانون الجديد الآن</p>
                <button type="button" class="btn btn-primary add_new_law_role">اضافة الحالة الأولى</button>
            </div>

            <div class="roles-container">

            </div>
        </section>
        <div class="flexed-row  mt-1 ">
                <a class="primary float-xs-right add_new_law_role"> <i class="ft-plus-circle"></i>
                    حالة جديدة</a>
            </div>
        <div class=" mt-1">
            <button type="button" class="btn btn-primary float-xs-right">ادراج القانون</button>
        </div>
    </div>