<div class="form">
    <div class="form-body p-1">
            <div class="row">
                <div class="col-md-12">
                        <div class="form-group">
                                <label for="eventRegInput1">اسم الموظف</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="ft-user"></i></span>
                                    <input type="text" class="form-control" placeholder="اسم الموظف" aria-describedby="basic-addon1">
                                </div>
                            </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput1">تاريخ بدء الأجازة</label>
                        <input type="text" id="projectinput1" class="form-control" placeholder="بدء الأجازة" name="fname">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput2">تاريخ انتهاء الأجازة</label>
                        <input type="text" id="projectinput2" class="form-control" placeholder="انتهاء الأجازة" name="lname">
                      </div>
                    </div>
                  </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        نوع الأجازة
                    </p>
                    <div class="form-group">
                            <fieldset>
                                    <label class="custom-control custom-radio">
                                      <input id="radioStacked1" name="radio-stacked1" type="radio" class="custom-control-input">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description">اجازة مرضية</span>
                                    </label>
                                  </fieldset>
                                  <fieldset>
                                        <label class="custom-control custom-radio">
                                          <input id="radioStacked1" name="radio-stacked1" type="radio" class="custom-control-input">
                                          <span class="custom-control-indicator"></span>
                                          <span class="custom-control-description">اجازة اعتيادية</span>
                                        </label>
                                   </fieldset>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <div class="form-group">
                                <label for="eventRegInput1">سبب الأجازة</label>
                                <textarea class="form-control" rows="4" placeholder="سبب الأجازة"></textarea>
                            </div>
                </div>
            </div>

            <div class="flexed-row ">
                <button type="button" class="btn btn-primary">
                    تأكيد الأمر
                </button>
            </div>
    </div>
</div>