@{import('calendars/fullcalendar.min.css','plugins/calendars/fullcalendar.min.css')}

<div id="new_vacation"></div>
<div id="new_vacationtype"></div>
<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">ادارة التشغيل</a>
                </li>
                <li class="breadcrumb-item"><a href="employees">الموظفين</a>
                </li>
                <li class="breadcrumb-item active">الأجازات
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">الأجازات</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->

                          <div class="btn-group" role="group" aria-label="Basic example">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-icon btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="employees_times">الحضور والانصراف</a>
                                    <a class="dropdown-item" href="vacations">الأجازات</a>
                                    <a class="dropdown-item" href="salaries">المرتبات</a>
                                    <a class="dropdown-item" href="bonuses">المكافئات</a>
                                    <a class="dropdown-item" href="reports">التقييمات</a>
                                  </div>
                                </div>
                                <button type="button" class="btn btn-secondary tab-btn" data-tabname="settings-tab">الاعدادات
                                    <i class="ft-cog icon-right"></i>
                                </button>
                              <button type="button" class="btn btn-secondary tab-btn" data-tabname="manage-tab">ادارة الاجازات
                                  <i class="icon-calendar icon-right"></i>
                              </button>
                            <button type="button" class="btn btn-secondary new_vacation_request">اضافة اجازة موظف
                                <i class="ft-plus icon-right"></i>
                            </button>
                            </div>
                        </div>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">

            <section class="tab-body" id="settings-tab" style="display:none">
                <div class="row flexed-column flexed-vcentered">
                  <div class="col-md-9">
                    <div class="flexed-row flexed-between mb-1">
                      <p class="no-margin"> أنواع الأجازات ( 0 أجازة ) </p>
                      <a class="primary new_vacationtype_request">
                        <i class="ft-plus"></i> أجازة جديدة
                      </a>
                    </div>
                    <div class="card border-top-primary border-top-3">
                      <div class="card-body">
                          <div class="card-block">
                            <small>
                              اضغط على اي أجازة لعرض كامل تفاصيلها
                            </small>
                            <div class="item-groups">
                            <div class="item-group bg-primary">
                              <p>اعتيادية</p><i class="ft-x-square"></i>
                            </div>
                               <div class="item-group bg-primary"><p>عارضة</p><i class="ft-x-square"></i></div>
                               <div class="item-group bg-primary"><p>مرضية</p><i class="ft-x-square"></i></div> 
                            </div>
                            </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-9">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-block">
                          <table class="table table-striped table-bordered  mb-0">
                              <thead>
                                  <tr>
                                      <th>
                                          المسمى
                                      </th>
                                      <th>الرصيد بالأيام</th>
                                      <th>نسبة الأجر أثناء الإجازة</th>
                                      <th>نوع</th>
                                      <th>اجراءات</th>
                                      <th>تفعيل</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    أجازة عارضة
                                  </td>
                                  <td>
                                    6 يوم
                                  </td>
                                  <td>
                                    100 %
                                  </td>
                                  <td>
                                    سنوي
                                  </td>
                                  <td>
                                      <div class="btn-toolbar flexed-row flexed-centered" role="toolbar" aria-label="Toolbar with button groups">
                                          
                                          <div class="btn-group" role="group" aria-label="Second Group" >
                                              <button type="button" class="btn btn-icon btn-success"><i class="ft-eye"></i></button>
                                            <button type="button" class="btn btn-icon btn-info"><i class="ft-edit"></i></button>
                                            <button type="button" class="btn btn-icon btn-danger"><i class="ft-trash-2"></i></button>
                                          </div>
                                        </div>
                                  </td>
                                  <td>
                                      <input type="checkbox" id="switcherySize2" class="switchery-sm" checked/>
                                  </td>
                                </tr>
                                <tr>
                                    <td>
                                      أجازة عارضة
                                    </td>
                                    <td>
                                      6 يوم
                                    </td>
                                    <td>
                                      100 %
                                    </td>
                                    <td>
                                      سنوي
                                    </td>
                                    <td>
                                        <div class="btn-toolbar flexed-row flexed-centered" role="toolbar" aria-label="Toolbar with button groups">
                                            
                                            <div class="btn-group" role="group" aria-label="Second Group" >
                                                <button type="button" class="btn btn-icon btn-success"><i class="ft-eye"></i></button>
                                              <button type="button" class="btn btn-icon btn-info"><i class="ft-edit"></i></button>
                                              <button type="button" class="btn btn-icon btn-danger"><i class="ft-trash-2"></i></button>
                                            </div>
                                          </div>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="switcherySize2" class="switchery-sm" />
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>


            <section class="tab-body" style="display:block">
            <div class="row">
                <div class="col-xs-12">
                  <div class="card bg-gradient-x-primary">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-4 col-sm-12 border-right-primary border-right-lighten-3">
                          <div class="card-block text-xs-center">
                            <h1 class="display-4 white"><i class="icon-users font-large-2"></i> 1579</h1>
                            <span class="white">اجمالي الموظفين</span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 border-right-primary border-right-lighten-3">
                          <div class="card-block text-xs-center">
                            <h1 class="display-4 white"><i class="icon-umbrella font-large-2"></i> 17</h1>
                            <span class="white">الأجازات الجارية</span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                          <div class="card-block text-xs-center">
                            <h1 class="display-4 white"><i class="ft-star font-large-2"></i> 6</h1>
                            <span class="white">الأجازات الجديدة</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <ul class="nav nav-tabs nav-top-border no-hover-bg">
                      <li class="nav-item">
                        <a class="nav-link active" id="base-tab11" data-toggle="tab" aria-controls="tab11" href="#tab11" aria-expanded="false">أجندة الأجازات</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="base-tab12" data-toggle="tab" aria-controls="tab12" href="#tab12" aria-expanded="true">رصيد الأجازات</a>
                      </li>
                    </ul>
                    <div class="tab-content pt-1">
                      <div role="tabpanel" class="tab-pane active" id="tab11" aria-expanded="false" aria-labelledby="base-tab11">
                          <div class="row">
          <div class="col-xl-12 col-lg-12 ">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">أجندة الأجازات</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                        <div class="fullcalendar"></div>
                  </div>
                </div>
              </div>
          </div>
        </div>


                      </div>
                      <div class="tab-pane " id="tab12" aria-labelledby="base-tab12" aria-expanded="true">
                        <div class="row">
              <div class="col-xs-12 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">رصيد أجازات الموظفين</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body collapse in">
                  <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <table class="table table-striped table-bordered base-style center">
                    <thead>
                      <tr>
                        <th>كود</th>
                        <th>اسم الموظف</th>
                        <th>أيام العمل</th>
                        <th>الاجازات المستحقة</th>
                        <th>الاجازات المستهلكة</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <td>125</td>
                          <td>17</td>
                          <td>4</td>
                      </tr>
                                              <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <td>125</td>
                          <td>17</td>
                          <td>4</td>
                      </tr>
                                              <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <td>125</td>
                          <td>17</td>
                          <td>4</td>
                      </tr>
                                              <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <td>125</td>
                          <td>17</td>
                          <td>4</td>
                      </tr>





                    </tbody>
                    <tfoot>
                      <tr>
                        <th>كود</th>
                        <th>اسم الموظف</th>
                        <th>أيام العمل</th>
                        <th>الاجازات المستحقة</th>
                        <th>الاجازات المستهلكة</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
          </div>
                      </div>
                    </div>
            </div>
            </div>

          </section>


          <section class="tab-body" id="manage-tab" style="display:none">
              <div class="row flexed-column flexed-vcentered">
                  <div class="col-md-9">
                    <div class="flexed-row flexed-between mb-1">
                      <p class="no-margin"> الأجازات الرسمية</p>
                      <p class="no-margin"> 7 أجازات</p>
                    </div>
                    <div class="alert bg-primary alert-dismissible fade in mb-2" role="alert">
                      <strong>
                      يحتوي النظام مُسبقا على 7 أجازات رسمية مقررة من قبل الحكومة المصرية
                      </strong>
                    </div>
                    </div>

                    <div class="col-md-9">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-block">
                              <table class="table table-striped table-bordered  mb-0">
                                <thead>
                                  <tr>
                                    <th>
                                      اليوم
                                    </th>
                                    <th>
                                      التاريخ
                                    </th>
                                    <th>
                                      الأجازة
                                    </th>
                                    <th>تفعيل</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      الأحد
                                    </td>
                                    <td>
                                        7/1/2018
                                    </td>
                                    <td>
                                        عيد الميلاد المجيد                                        
                                    </td>
                                    <td>
                                        <input type="checkbox" id="switcherySize2" class="switchery-sm" checked/>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        الثلاثاء
                                      </td>
                                      <td>
                                          25/1/2018	
                                      </td>
                                      <td>
                                          عيد الثورة والشرطة                                          
                                      </td>
                                      <td>
                                          <input type="checkbox" id="switcherySize2" class="switchery-sm" checked/>
                                      </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            الأحد
                                        </td>
                                        <td>
                                            8/4/2018	
                                        </td>
                                        <td>
                                            عيد القيامة المجيد                                            
                                        </td>
                                        <td>
                                            <input type="checkbox" id="switcherySize2" class="switchery-sm" checked/>
                                        </td>
                                      </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
          </section>
        </div>
    </div>
</div>


    @{import('vendors.min.js','extensions/moment.min.js','extensions/fullcalendar.min.js')};
<script>
$(function(){
  $('.fullcalendar').fullCalendar();



  $('#new_vacation').iziModal({
    title: 'اضافة اجازة جديدة',
    subtitle: '',
    headerColor: 'rgb(54, 68, 94)',
    width: 400,
    zindex:10000,
    onOpening: function(modal){
      
        modal.startLoading();
        $.ajax({
    method:'get',
    url:'/new_vacation',
    success:function(data){
      $("#new_vacation .iziModal-content").html(data);
      modal.stopLoading();
    }
  });
    }
  });



  $('#new_vacationtype').iziModal({
    title: 'اضافة نوع أجازة جديد',
    subtitle: '',
    headerColor: 'rgb(54, 68, 94)',
    width: 400,
    zindex:10000,
    onOpening: function(modal){
      
        modal.startLoading();
        $.ajax({
    method:'get',
    url:'/new_vacationtype',
    success:function(data){
      $("#new_vacationtype .iziModal-content").html(data);
      modal.stopLoading();
    }
  });
    }
  });



  $(document).on('click','.new_vacation_request',function(){
    $("#new_vacation").iziModal('open');
  });

  $(document).on('click','.new_vacationtype_request',function(){
    $("#new_vacationtype").iziModal('open');
  });



  $(document).on('change','select.vacation_type',function(){
    var val = $(this).val();
    if(val == 'partly' || val == 'other'){
      $('.form_components .component').hide();
      $('.form_components #partly_vacation').show();
    }else if(val == 'annual'){
      $('.form_components .component').hide();
      $('.form_components #annual_vacation').show();
    }
  });


  $(document).on('change','select[name="doafterend"]',function(){
    var val = $(this).val();
    if(val == '3'){
      $('.form_components .max_days').show();
    }else{
      $('.form_components .max_days').hide();
    }
  });




  var i = 0;
    if (Array.prototype.forEach) {
        var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));

        elems.forEach(function (html) {
            var switchery = new Switchery(html);
        });
    } else {
        var elems1 = document.querySelectorAll('.switchery');

        for (i = 0; i < elems1.length; i++) {
            var switchery = new Switchery(elems1[i]);
        }
    }

    var elemSmall = document.querySelectorAll('.switchery-sm');
    for (i = 0; i < elemSmall.length; i++) {
        new Switchery(elemSmall[i], {className:"switchery switchery-small"});
    }

    var danger = document.querySelectorAll('.switchery-danger');
    for (i = 0; i < danger.length; i++) {
      new Switchery(danger[i], { color: '#DA4453' });
    }



    /*$(document).on('click','.settings-btn',function(){
      $('#view-panel').fadeOut(500,function(){
        $('#settings-panel').fadeIn();
      });
    });*/

    $(document).on('click','.tab-btn',function(){
      var tab_name = $(this).attr('data-tabname');
      
      if($('#'+tab_name).is(':not(:visible)')){
        $('.tab-body:visible').fadeOut(500,function(){
        $('#'+tab_name).fadeIn();
        $('.tab-body:visible:not(#'+tab_name+')').hide();
      });

      }
      $('.tab-btn').removeClass('active');
      $(this).addClass('active');
      
      
    });


});
</script>
