


<!-- income list as modal -->
<div class="modal fade text-xs-left in" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="myModalLabel1">حساب قائمة المركز المالي</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12">
            <div class="card" style="">
              <div class="card-body">
                <div id="goal-list-scroll" class="table-responsive position-relative ps-container ps-theme-default" data-ps-id="0372ae19-7aa1-713c-8f79-e864541758bc">
                    <table class="table table-bordered mb-0 disable_normal_datatable file-export right" >
                    <thead>
                      <tr>
                        <th></th>
                        <th>دائن</th>
                        <th>مدين</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>الخزينة</td>
                        <td>15000</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                          <td>
                              البنك
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                             أوراق القبض
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              المدينون
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              البضائع
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                       <tr>
                          <td>
                              الاسثمارات طويلة الاجل
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              الأراضي والمنشآت
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              المعدات والتجهيزات
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              الأثاث
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              السيارات
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              الشهرة
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              العلامات التجارية
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              براءات الاختراع
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              تأمينات مستردة
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              ايرادات مستحقة
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              مصاريف مدفوعة مقدما
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                الاجمالي
                            </th>
                            <td colspan="2">
                                0.00
                            </td>
                        </tr>
                    </tfoot>
                  </table>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 463px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
              </div>
            </div>
          </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">اغلاق</button>
                                </div>
                              </div>
                            </div>
                          </div>




<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">الحسابات المتقدمة</a>
                </li>
                <li class="breadcrumb-item"><a href="#">القوائم المالية</a>
                </li>
                <li class="breadcrumb-item active">المركز المالي
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">المركز المالي</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">bla bla bla</button>
                            <button type="button" class="btn btn-secondary"  data-toggle="modal" data-target="#default">عرض كحساب</button>
                          </div>
                        </div>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">
            
        <div class="row">
          <div class="col-xl-8 col-lg-12">
            <div class="card">
              <div class="card-header no-border">
                <h4 class="card-title">قائمة الأصول</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                  </ul>
                </div>
              </div>
                
                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب الأصول المتداولة</span></p>
                  <div class="table-responsive">
                      <table class="table right">
                      <tbody>
                        <tr>
                          <th scope="row">الخزينة</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">البنك</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">أوراق القبض</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">المدينون</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">البضائع</th>
                          <td>15000</td>
                        </tr>
                        
                        
                        <tr class="group"><td colspan="1" style="text-align: right !important">قيمة الأصول المتداولة</td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب الأصول غير المتداولة</span></p>
                  <div class="table-responsive">
                      <table class="table right">
                      <tbody>
                        <tr>
                          <th scope="row">الاستثمارات طويلة الأجل</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">الأراضي والمنشآت</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">المعدات والتجهيزات</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">الأثاث</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">السيارات</th>
                          <td>15000</td>
                        </tr>
                        
                        <tr class="group"><td colspan="1" style="text-align: right !important">قيمة الأصول غير المتداولة</td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
                
                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب الأصول غير الملموسة</span></p>
                  <div class="table-responsive">
                      <table class="table right">
                      <tbody>
                        <tr>
                          <th scope="row">الشهرة</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">العلامات التجارية</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">براءات الاختراع</th>
                          <td>15000</td>
                        </tr>
                        
                        
                        <tr class="group"><td colspan="1" style="text-align: right !important">قيمة الأصول غير الملموسة</td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
                
                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب الأصول الأخرى </span></p>
                  <div class="table-responsive">
                      <table class="table right">
                      <tbody>
                        <tr>
                          <th scope="row">تأمينات مستردة</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">ايرادات مستحقة</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">مصاريف مدفوعة مقدما</th>
                          <td>15000</td>
                        </tr>
                        
                        
                        <tr class="group"><td colspan="1" style="text-align: right !important">قيمة الأصول الأخرى </td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
                                
                
                
            </div>
          </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card">
                <div class="card-header">
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                        <p>
                            <span class="text-bold-600">- الأصول غير المتداولة </span><code>1500 جنيه</code>
                            <small style="float:left">يضاف اليها</small>
                        </p>
                        <p>
                            <span class="text-bold-600">- الأصول المتداولة </span><code>1500 جنيه</code>
                            <small style="float:left">يضاف اليها</small>
                        </p>
                        <p>
                            <span class="text-bold-600">- الأصول غير الملموسة </span><code>1500 جنيه</code>
                            <small style="float:left">يضاف اليها</small>
                        </p>
                        <p>
                            <span class="text-bold-600">- الأصول الأخرى </span><code>1500 جنيه</code>
                        </p>
                        <hr>
                        <p>
                            <span class="text-bold-600">- اجمالي الأصول </span><code>1500 جنيه</code>
                        </p>
                   </div>
                </div>
              </div>
                  </div>
        </div>
            
            
            <div class="row">
          <div class="col-xl-8 col-lg-12">
            <div class="card">
              <div class="card-header no-border">
                <h4 class="card-title">قائمة الالتزامات</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                  </ul>
                </div>
              </div>
                
                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب الالتزامات قصيرة الأجل</span></p>
                  <div class="table-responsive">
                      <table class="table right">
                      <tbody>
                        <tr>
                          <th scope="row">ذمم دائنة</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">قروض قصيرة الأجل</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">أوراق دفع </th>
                          <td>15000</td>
                        </tr>
                        
                        
                        <tr class="group"><td colspan="1" style="text-align: right !important">قيمة الالتزامات قصيرة الأجل</td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب الالتزامات طويلة الأجل</span></p>
                  <div class="table-responsive">
                      <table class="table right">
                      <tbody>
                        <tr>
                          <th scope="row">القروض طويلة الأجل</th>
                          <td>15000</td>
                        </tr>
                        
                        <tr class="group"><td colspan="1" style="text-align: right !important">قيمة الالتزامات طويلة الأجل</td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
                
                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب الالتزامات الأخرى</span></p>
                  <div class="table-responsive">
                      <table class="table right">
                      <tbody>
                        <tr>
                          <th scope="row">ايرادات مقبوضة مقدما</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">مصاريف مستحقة</th>
                          <td>15000</td>
                        </tr>
                        
                        
                        <tr class="group"><td colspan="1" style="text-align: right !important">قيمة الالتزامات الأخرى</td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
                
            </div>
          </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card">
                <div class="card-header">
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                        <p>
                            <span class="text-bold-600">- الالتزامات قصيرة الأجل </span><code>1500 جنيه</code>
                            <small style="float:left">يضاف اليها</small>
                        </p>
                        <p>
                            <span class="text-bold-600">- الالتزامات طويلة الأجل </span><code>1500 جنيه</code>
                            <small style="float:left">يضاف اليها</small>
                        </p>
                        <p>
                            <span class="text-bold-600">- الالتزامات الأخرى </span><code>1500 جنيه</code>
                        </p>
                        
                        <hr>
                        <p>
                            <span class="text-bold-600">- اجمالي الالتزامات </span><code>1500 جنيه</code>
                        </p>
                   </div>
                </div>
              </div>
                  </div>
        </div>
        
            
        </div>
    </div>
</div>
