

@{import('pages/users.min.css','pages/timeline.min.css','gallery/photoswipe.css','gallery/default-skin/default-skin.css','custom_plugins/cardToggler.css')}
<style>

.user-profile-header{
  padding-left: 0px;
padding-right: 0px;
margin-top: -15px;
width: 100.2%;
margin-right: -1px;
}

.profile-tab{
  display: none;
}
</style>
<!-- new vacancy -->
<div class="modal fade text-xs-left in" id="employee_profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-body background-main">




                                  <div id="user-profile">
                                    <div class="row">
                                      <div class="col-xs-12 user-profile-header">
                                        <div class="card profile-with-cover">
                                          <div class="card-img-top img-fluid bg-cover height-200" style="background: url('/images/carousel/22.jpg') 50%;"></div>
                                          <div class="media profil-cover-details">
                                            <div class="media-left pl-2 pt-2">
                                              <a href="#" class="profile-image">
                                                <img src="/images/portrait/small/avatar-s-8.png" class="rounded-circle img-border height-100"
                                                alt="Card image">
                                              </a>
                                            </div>
                                            <div class="media-body media-middle row">
                                              <div class="col-xs-6">
                                                <h3 class="card-title">Jose Diaz</h3>
                                              </div>
                                              <div class="col-xs-6 text-xs-right">
                                                <div class="btn-group hidden-md-down" role="group" aria-label="Basic example">
                                                  <button type="button" class="btn btn-success"><i class="fa fa-dashcube"></i> رسالة</button>
                                                  <button type="button" class="btn btn-success"><i class="fa fa-cog"></i></button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <nav class="navbar navbar-light navbar-profile">
                                            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse"
                                            data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2"
                                            aria-expanded="false" aria-label="Toggle navigation"></button>
                                            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                                              <ul class="nav navbar-nav float-xs-right profile-tabs">
                                                <li class="nav-item" data-tab="personal-tab">
                                                  <a class="nav-link" href="#"><i class="ft-user"></i> الملف الشخصي</a>
                                                </li>
                                                <li class="nav-item" data-tab="finances-tab">
                                                  <a class="nav-link" href="#"><i class="icon-wallet"></i>الماليات </a>
                                                </li>
                                                <li class="nav-item" data-tab="attendence-tab">
                                                  <a class="nav-link" href="#"><i class="icon-eye"></i>المتابعة </a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" href="#"><i class="icon-star"></i> التقييمات</a>
                                                </li>
                                              </ul>
                                            </div>
                                          </nav>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-4">
                                        <div class="card"><div class="card-body"><div class="card-block">
                                          <p>
                                            <i class="icon-user-female"></i>
                                            منى أحمد عبد القادر
                                          </p>
                                          <p>
                                            <i class="icon-home"></i>
                                            من القاهرة
                                          </p>
                                          <p>
                                            <i class="icon-heart"></i>
                                            عزباء
                                          </p>
                                          <p>
                                            <i class="icon-calendar"></i>
                                            مواليد 25 مارس 1997
                                          </p>
                                          <p>
                                            <i class="icon-briefcase"></i>
                                            محاسب مالي
                                          </p>

                                        </div></div></div>
                                      </div>
                                      <div class="col-xs-8 profile-tab" data-tab="personal-tab" style="display:block"><div class="card"><div class="card-body"><div class="card-block">
                                        <p>
                                          <i class="icon-graduation" style="font-size:18px" ></i>
                                          المؤهلات الدراسية
                                        </p>
                                        <div class="tag-listing-style mb-1">
                                          <span>حاصل على بكالريوس تجارة جامعة عين شمس</span>
                                        </div>

                                        <p>
                                          <i class="icon-fire" style="font-size:18px" ></i>
                                          الخبرات السابقة
                                        </p>
                                        <div class="tag-listing-style">
                                          <span>
                                            5 سنوات في مطاعم كنتاكي
                                          </span>
                                          <span>
                                            سنتين في مطاعم كوكدور
                                          </span>
                                          <span>
                                            سنة واحدة في مطاعم بيتزا بارتي
                                          </span>
                                        </div>



                                      </div></div></div>

                                      <div class="card"><div class="card-body"><div class="card-block">
                                        <p>
                                          <i class="icon-folder" style="font-size:18px" ></i>
                                          الملفات المحفوظة
                                        </p>
                                        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                          <div class="row">
                                            <figure class="col-md-3 col-sm-6 col-xs-12" itemprop="associatedMedia" itemscope
                                            itemtype="http://schema.org/ImageObject">
                                              <a href="/images/gallery/1.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/images/gallery/1.jpg"
                                                itemprop="thumbnail" alt="Image description" />
                                              </a>
                                            </figure>
                                            <figure class="col-md-3 col-sm-6 col-xs-12" itemprop="associatedMedia" itemscope
                                            itemtype="http://schema.org/ImageObject">
                                              <a href="/images/gallery/2.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/images/gallery/2.jpg"
                                                itemprop="thumbnail" alt="Image description" />
                                              </a>
                                            </figure>
                                            <figure class="col-md-3 col-sm-6 col-xs-12" itemprop="associatedMedia" itemscope
                                            itemtype="http://schema.org/ImageObject">
                                              <a href="/images/gallery/3.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/images/gallery/3.jpg"
                                                itemprop="thumbnail" alt="Image description" />
                                              </a>
                                            </figure>
                                            <figure class="col-md-3 col-sm-6 col-xs-12" itemprop="associatedMedia" itemscope
                                            itemtype="http://schema.org/ImageObject">
                                              <a href="/images/gallery/4.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/images/gallery/4.jpg"
                                                itemprop="thumbnail" alt="Image description" />
                                              </a>
                                            </figure>
                                            <figure class="col-md-3 col-sm-6 col-xs-12" itemprop="associatedMedia" itemscope
                                            itemtype="http://schema.org/ImageObject">
                                              <a href="/images/gallery/4.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/images/gallery/4.jpg"
                                                itemprop="thumbnail" alt="Image description" />
                                              </a>
                                            </figure>
                                            <figure class="col-md-3 col-sm-6 col-xs-12" itemprop="associatedMedia" itemscope
                                            itemtype="http://schema.org/ImageObject">
                                              <a href="/images/gallery/4.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/images/gallery/4.jpg"
                                                itemprop="thumbnail" alt="Image description" />
                                              </a>
                                            </figure>
                                          </div>
                                        </div>
                                        <!--/ Image grid -->
                                        <!-- Root element of PhotoSwipe. Must have class pswp. -->
                                        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                                          <!-- Background of PhotoSwipe.
                                         It's a separate element as animating opacity is faster than rgba(). -->
                                          <div class="pswp__bg"></div>
                                          <!-- Slides wrapper with overflow:hidden. -->
                                          <div class="pswp__scroll-wrap">
                                            <!-- Container that holds slides.
                                            PhotoSwipe keeps only 3 of them in the DOM to save memory.
                                            Don't modify these 3 pswp__item elements, data is added later on. -->
                                            <div class="pswp__container">
                                              <div class="pswp__item"></div>
                                              <div class="pswp__item"></div>
                                              <div class="pswp__item"></div>
                                            </div>
                                            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                                            <div class="pswp__ui pswp__ui--hidden">
                                              <div class="pswp__top-bar">
                                                <!--  Controls are self-explanatory. Order can be changed. -->
                                                <div class="pswp__counter"></div>
                                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                                <button class="pswp__button pswp__button--share" title="Share"></button>
                                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                                                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                                                <!-- element will get class pswp__preloader-active when preloader is running -->
                                                <div class="pswp__preloader">
                                                  <div class="pswp__preloader__icn">
                                                    <div class="pswp__preloader__cut">
                                                      <div class="pswp__preloader__donut"></div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                                <div class="pswp__share-tooltip"></div>
                                              </div>
                                              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                                              </button>
                                              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                                              </button>
                                              <div class="pswp__caption">
                                                <div class="pswp__caption__center"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <!--/ PhotoSwipe -->


                                    </div></div></div>
                                    <!---- finances tab--->
                                    <div class="col-xs-8 profile-tab finances" data-tab="finances-tab" data-toggle="card">
                                      <div class="card mb-0" data-head="لمحة سريعة"><div class="card-body"><div class="card-block">
                                        <div class="flexed-row flexed-between"><p class="tag-listing-style">
                                          تاريخ التعيين :
                                           <span>25 مارس 2016</span>
                                        </p>
                                        <p class="tag-listing-style">
                                          الراتب الأساسي :
                                           <span>2500 جنيه</span>
                                        </p></div>
                                        <canvas id="myChart" class="mb-1" style="height:300px !important; width:100%;"></canvas>
                                        <div class="row">
                      <div class="col-lg-4 col-md-6 col-xs-12 flexed-row flexed-around border-right-blue-grey border-right-lighten-3">
                        <div class="float-xs-left pl-1">
                          <span class="font-large-2 text-bold-300 primary">589</span>
                        </div>
                        <div class="float-xs-left mt-1 ml-1">
                          <span class="blue-grey darken-1 block">اجمالي</span>
                          <span class="blue-grey darken-1 block">الصافي</span>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-xs-12 flexed-row  flexed-around border-right-blue-grey border-right-lighten-3">
                        <div class="float-xs-left pl-1">
                          <span class="font-large-2 text-bold-300 danger">765</span>
                        </div>
                        <div class="float-xs-left mt-1 ml-1">
                          <span class="blue-grey darken-1 block">اجمالي</span>
                          <span class="blue-grey darken-1 block">المكافآت</span>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-xs-12 flexed-row  flexed-around ">
                        <div class="float-xs-left pl-1">
                          <span class="font-large-2 text-bold-300 success">693</span>
                        </div>
                        <div class="float-xs-left mt-1 ml-1">
                          <span class="blue-grey darken-1 block">اجمالي</span>
                          <span class="blue-grey darken-1 block">الخصومات</span>
                        </div>
                      </div>
                    </div>
                                      </div></div></div>

                                      <div class="card mb-0" data-head="الخصومات"><div class="card-body"><div class="card-block">
                                          <div class="flexed-row flexed-between"><p class="tag-listing-style">
                                            الراتب الأساسي :
                                             <span>2500 جنيه</span>
                                          </p>
                                          <p class="tag-listing-style">
                                            الخصومات :
                                             <span>500 جنيه</span>
                                          </p></div>
                                          <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>التاريخ</th>
                          <th>القيمة</th>
                          <th>البيان</th>
                          <th>المسئول</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>25-12-2016</th>
                          <td>50 جنيه</td>
                          <td>خصم يوم بسبب غياب بدون اذن</td>
                          <td>ريان كمال</td>
                        </tr><tr>
                          <th>25-12-2016</th>
                          <td>50 جنيه</td>
                          <td>خصم يوم بسبب غياب بدون اذن</td>
                          <td>ريان كمال</td>
                        </tr><tr>
                          <th>25-12-2016</th>
                          <td>50 جنيه</td>
                          <td>خصم يوم بسبب غياب بدون اذن</td>
                          <td>ريان كمال</td>
                        </tr><tr>
                          <th>25-12-2016</th>
                          <td>50 جنيه</td>
                          <td>خصم يوم بسبب غياب بدون اذن</td>
                          <td>ريان كمال</td>
                        </tr><tr>
                          <th>25-12-2016</th>
                          <td>50 جنيه</td>
                          <td>خصم يوم بسبب غياب بدون اذن</td>
                          <td>ريان كمال</td>
                        </tr>
                      </tbody>
                    </table>
                    <button type="button" class="btn btn-danger float-xs-right">خصم جديد</button>
                  </div>
                                      </div></div></div>

                                      <div class="card mb-0" data-head="المكافآت"><div class="card-body"><div class="card-block">
                                        <div class="flexed-row flexed-between"><p class="tag-listing-style">
                                          الراتب الأساسي :
                                           <span>2500 جنيه</span>
                                        </p>
                                        <p class="tag-listing-style">
                                          المكافآت :
                                           <span>500 جنيه</span>
                                        </p></div>
                                        <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>التاريخ</th>
                        <th>القيمة</th>
                        <th>البيان</th>
                        <th>المسئول</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>25-12-2016</th>
                        <td>50 جنيه</td>
                        <td>مكافأةأسبوع العمال</td>
                        <td>ريان كمال</td>
                      </tr>
                      <tr>
                        <th>25-12-2016</th>
                        <td>50 جنيه</td>
                        <td>مكافأةأسبوع العمال</td>
                        <td>ريان كمال</td>
                      </tr><tr>
                        <th>25-12-2016</th>
                        <td>50 جنيه</td>
                        <td>مكافأةأسبوع العمال</td>
                        <td>ريان كمال</td>
                      </tr><tr>
                        <th>25-12-2016</th>
                        <td>50 جنيه</td>
                        <td>مكافأةأسبوع العمال</td>
                        <td>ريان كمال</td>
                      </tr><tr>
                        <th>25-12-2016</th>
                        <td>50 جنيه</td>
                        <td>مكافأةأسبوع العمال</td>
                        <td>ريان كمال</td>
                      </tr><tr>
                        <th>25-12-2016</th>
                        <td>50 جنيه</td>
                        <td>مكافأةأسبوع العمال</td>
                        <td>ريان كمال</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-success float-xs-right">مكافأة جديدة</button>
                </div>


                                      </div></div></div>


                                    </div>


                                    <!---- attendence tab--->
                                    <div class="col-xs-8 profile-tab attendence" data-tab="attendence-tab" data-toggle="card">
                                      <div class="card mb-0" data-head="لمحة سريعة"><div class="card-body"><div class="card-block">
                                        <div class="flexed-row flexed-between"><p class="tag-listing-style">
                                          تاريخ التعيين :
                                           <span>25 مارس 2016</span>
                                        </p>
                                        <p class="tag-listing-style">
                                          رصيد الأجازات :
                                           <span>23 يوم</span>
                                        </p></div>
                                        <canvas id="attendence" class="mb-1" style="height:300px !important; width:100%;"></canvas>
                                        <div class="row">
                      <div class="col-lg-4 col-md-6 col-xs-12 flexed-row flexed-around border-right-blue-grey border-right-lighten-3">
                        <div class="float-xs-left pl-1">
                          <span class="font-large-2 text-bold-300 primary">170</span>
                        </div>
                        <div class="float-xs-left mt-1 ml-1">
                          <span class="blue-grey darken-1 block">اجمالي</span>
                          <span class="blue-grey darken-1 block">الحضور</span>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-xs-12 flexed-row  flexed-around border-right-blue-grey border-right-lighten-3">
                        <div class="float-xs-left pl-1">
                          <span class="font-large-2 text-bold-300 danger">2</span>
                        </div>
                        <div class="float-xs-left mt-1 ml-1">
                          <span class="blue-grey darken-1 block">اجمالي</span>
                          <span class="blue-grey darken-1 block">الغياب</span>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-xs-12 flexed-row flexed-around">
                        <div class="float-xs-left pl-1">
                          <span class="font-large-2 text-bold-300 success">6</span>
                        </div>
                        <div class="float-xs-left mt-1 ml-1">
                          <span class="blue-grey darken-1 block">اجمالي</span>
                          <span class="blue-grey darken-1 block">الأجازات</span>
                        </div>
                      </div>
                    </div>
                                      </div>
                                    </div>
                                    </div>

                                    <div class="card mb-0" data-head="الاجازات"><div class="card-body"><div class="card-block">
                                      <div class="flexed-row flexed-between"><p class="tag-listing-style">
                                        تاريخ التعيين :
                                         <span>25 مارس 2016</span>
                                      </p>
                                      <p class="tag-listing-style">
                                        رصيد الأجازات :
                                         <span>23 يوم</span>
                                      </p></div>
                                      <div class="table-responsive">
                                    <table class="table">
                                    <thead>
                                    <tr>
                                    <th>التاريخ</th>
                                    <th>النوع</th>
                                    <th>البيان</th>
                                    <th>المسئول</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                      <th>25-12-2016</th>
                                      <td>خاصة</td>
                                      <td>ظروف مرضية</td>
                                      <td>ريان كمال</td>
                                      </tr>
                                      <tr>
                                      <th>25-12-2016</th>
                                      <td>رسمية</td>
                                      <td>ذكرى حرب أكتوبر</td>
                                      <td>ريان كمال</td>
                                      </tr>
                                    </tbody>
                                    </table>
                                    <button type="button" class="btn btn-success float-xs-right">اجازة جديدة</button>
                                    </div>


                                    </div></div></div>


                                    <div class="card mb-0" data-head="الغياب"><div class="card-body"><div class="card-block">
                                      <div class="flexed-row flexed-between"><p class="tag-listing-style">
                                        تاريخ التعيين :
                                         <span>25 مارس 2016</span>
                                      </p>
                                      <p class="tag-listing-style">
                                        رصيد الأجازات :
                                         <span>23 يوم</span>
                                      </p></div>
                                      <div class="table-responsive">
                                    <table class="table">
                                    <thead>
                                    <tr>
                                    <th>التاريخ</th>
                                    <th>النوع</th>
                                    <th>البيان</th>
                                    <th>المسئول</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                      <th>25-12-2016</th>
                                      <td>غياب</td>
                                      <td>غياب بدون اذن</td>
                                      <td>ريان كمال</td>
                                      </tr>
                                      <tr>
                                      <th>25-12-2016</th>
                                      <td>غياب</td>
                                      <td>تأخير زائد</td>
                                      <td>ريان كمال</td>
                                      </tr>
                                    </tbody>
                                    </table>
                                    </div>


                                    </div></div></div>


                                    </div>




                                    </div>
                                    </div>
                                  </div>











                                </div>
                              </div>
                            </div>
                          </div>




<!-- new vacancy -->
<div class="modal fade text-xs-left in" id="new_vacancy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="myModalLabel1">ادراج مُسمى وظيفي جديد</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form ">
                      <div class="form-body">
                        <div class="form-group row">
                            <div class="col-md-3"><label for="eventRegInput1">المُسمى الوظيفي</label></div>
                            <div class="col-md-9"><input type="text" id="eventRegInput1" class="form-control" placeholder="المُسمى الوظيفي" name="">
                            </div>
                            </div>
                        <div class="form-group row">
                            <div class="col-md-3"><label  for="eventRegInput2">التعريف الوظيفي</label></div>
                              <div class="col-md-9"><textarea id="eventRegInput2" rows="2" class="form-control" name="" placeholder="التعريف الوظيفي" style="margin-top: 0px; margin-bottom: 0px;"></textarea>
                              </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3"><label for="eventRegInput3">المهام الوظيفية</label></div>
                            <div class="col-md-9 job-duties">
                                <input type="text" id="eventRegInput3" class="form-control" placeholder="اكتب كل مهمة واضغط ادخال" name="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3"><label  for="eventRegInput4">الملفات المطلوبة</label></div>
                            <div class="col-md-9 job-documents"><input type="text" id="eventRegInput4" class="form-control" placeholder="اكتب اسم كل ملف واضغط ادخال" name="">
                            </div>
                            </div>
                        <div class=" row offset-md-3">
                            <div class="form-group col-md-6">
                                <label  for="eventRegInput4">ساعات العمل اليومية</label>
                                <input type="text" data-bts-min="0" id="eventRegInput4" class="form-control touchspin" placeholder="8" name="">
                            </div>
                            <div class="form-group col-md-6">
                                <label  for="eventRegInput4">الراتب الشهري</label>
                                <input type="text" data-bts-min="0" data-bts-max="10000000" data-bts-step="5" id="eventRegInput4" class="form-control touchspin" placeholder="1200" name="">
                            </div>
                        </div>
                      </div>
                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn grey btn-outline-secondary " data-dismiss="modal">اغلاق</button>
                                  <button type="button" class="btn btn-primary btn-min-width">تثبيت</button>
                                </div>
                              </div>
                            </div>
                          </div>





<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">ادارة التشغيل</a>
                </li>
                <li class="breadcrumb-item active">الموظفين
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">الموظفين</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->

                          <div class="btn-group" role="group" aria-label="Basic example">
                              <div class="btn-group">
                            <button type="button" class="btn btn-icon btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="employees_times">الحضور والانصراف</a>
                                <a class="dropdown-item" href="vacations">الأجازات</a>
                              <a class="dropdown-item" href="#">المرتبات</a>
                              <a class="dropdown-item" href="#">المكافئات</a>
                              <a class="dropdown-item" href="#">التقييمات</a>
                            </div>
                          </div>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#new_vacancy">ادراج مُسمى وظيفي</button>
                            <a href="employee_profile"  class="btn btn-secondary">ادراج موظف جديد</a>
                          </div>
                        </div>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">
            <div class="row employees-cards">
          <div class="col-xl-3 col-md-6 col-xs-12" data-toggle="modal" data-target="#employee_profile">
            <div class="card cursor-pointer">
              <div class="text-xs-center">
                <div class="card-block">
                  <img src="images/portrait/medium/avatar-m-4.png" class="rounded-circle  height-150" alt="Card image">
                </div>
                <div class="card-block">
                  <h4 class="card-title">Michelle Howard</h4>
                  <h6 class="card-subtitle text-muted">Managing Director</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-xs-12">
            <div class="card cursor-pointer">
              <div class="text-xs-center">
                <div class="card-block">
                  <img src="images/portrait/medium/avatar-m-1.png" class="rounded-circle  height-150" alt="Card image">
                </div>
                <div class="card-block">
                  <h4 class="card-title">Joseph Ryan</h4>
                  <h6 class="card-subtitle text-muted">Marketing Head</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-xs-12">
            <div class="card cursor-pointer">
              <div class="text-xs-center">
                <div class="card-block">
                  <img src="images/portrait/medium/avatar-m-6.png" class="rounded-circle  height-150" alt="Card image">
                </div>
                <div class="card-block">
                  <h4 class="card-title">Frances Butler</h4>
                  <h6 class="card-subtitle text-muted">Technical Lead</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-xs-12">
            <div class="card cursor-pointer">
              <div class="text-xs-center">
                <div class="card-block">
                  <img src="images/portrait/medium/avatar-m-5.png" class="rounded-circle  height-150" alt="Card image">
                </div>
                <div class="card-block">
                  <h4 class="card-title">Andrew Davis</h4>
                  <h6 class="card-subtitle text-muted">UI/UX Designer</h6>
                </div>
              </div>
            </div>
          </div>
            </div>
        </div>
    </div>
</div>
@{import('vendors.min.js','gallery/photo-swipe/photoswipe.min.js','gallery/photo-swipe/photoswipe-ui-default.min.js','scripts/gallery/photo-swipe/photoswipe-script.js','custom_plugins/cardToggler.js')};
<script>

$(document).on('keyup','.job-duties input',function(e){
var code = (e.keyCode ? e.keyCode : e.which );
var value = $(this).val();
var option = '<li class="row"><div class="col-md-10 pl-0 pr-0">'+value+'</div><div class="col-md-2 pl-0 pr-0"> <button type="button" class="btn btn-icon btn-pure danger btn-sm mr-1 option_remove"><i class="fa fa-trash-o"></i></button></div> </li>';
var form = '<ul class="duties-options"><p class="title">قائمة المهام الوظيفية :</p>'+option+'</ul>';
var form_length = $('.job-duties ul.duties-options').length;
if (code == 13) { //Enter keycode
    if(form_length < 1 && $.trim(value) !== ''){
        $(form).insertAfter('.job-duties input');
    }else if(form_length >= 1 && $.trim(value) !== ''){
        $('.job-duties ul.duties-options').append(option);
    }
    $('.job-duties input').val('');
}
});


$(document).on('click','.job-duties ul.duties-options li button',function(){
$(this).parents('li').remove();
var options = $('.job-duties ul.duties-options li').length;
if(options < 1){
    $('ul.duties-options').remove();
}
});


$(document).on('keyup','.job-documents input',function(e){
var code = (e.keyCode ? e.keyCode : e.which );
var value = $(this).val();
var option = '<li class="row"><div class="col-md-10 pl-0 pr-0">'+value+'</div><div class="col-md-2 pl-0 pr-0"> <button type="button" class="btn btn-icon btn-pure danger btn-sm mr-1 option_remove"><i class="fa fa-trash-o"></i></button></div> </li>';
var form = '<ul class="documents-options"><p class="title">قائمة المستندات المطلوبة :</p>'+option+'</ul>';
var form_length = $('.job-documents ul.documents-options').length;
if (code == 13) { //Enter keycode
    if(form_length < 1 && $.trim(value) !== ''){
        $(form).insertAfter('.job-documents input');
    }else if(form_length >= 1 && $.trim(value) !== ''){
        $('.job-documents ul.documents-options').append(option);
    }
    $('.job-documents input').val('');
}
});

$(document).on('click','.job-documents ul.documents-options li button',function(){
$(this).parents('li').remove();
var options = $('.job-documents ul.documents-options li').length;
if(options < 1){
    $('ul.documents-options').remove();
}
});


$('.profile-tabs li').on('click touch',function(){
  var tab = $(this).attr('data-tab');
  $('.profile-tab').hide();
  $(document).find('.profile-tab[data-tab="'+tab+'"]').show();
});


$(document).ready(function(){
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["يناير", "فبراير", "مارس", "أبريل", "مايو", "يونيه"],
          datasets: [
            {
                label: 'الصافي',
                data: [12, 1200, 1500, 1600, 1000, 1200],
                backgroundColor: 'rgba(17, 209, 149, 0.3215686274509804)',
                borderColor: '#41efb9',
                borderWidth: 1,
                type: 'line'

            },
            {
              label: 'الأساسي',
              data: [12, 1200, 1500, 1600, 1000, 1200],
              backgroundColor: '#ffebd7',
              borderColor: '#feb66f',
              borderWidth: 1
          },
          {
              label: 'الخصومات',
              data: [25, 34, 14, 12, 14, 25],
              backgroundColor: '#ffdfe5',
              borderColor: '#fe6c8b',
              borderWidth: 1
          },
          {
              label: 'المكافآت',
              data: [0, 360, 25, 361, 210, 14],
              backgroundColor: '#daf2f2',
              borderColor: '#76d0d0',
              borderWidth: 1
          }
          ]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          },
          legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: '#404E67',
                fontFamily: 'dubai'
            }
        },
        tooltips: {
          bodyFontFamily: 'dubai',
          titleFontFamily: 'dubai'
        }
      }
  });

  var ctx = document.getElementById("attendence").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["يناير", "فبراير", "مارس", "أبريل", "مايو", "يونيه"],
          datasets: [
            {
              label: 'الحضور ',
              data: [28, 30, 30, 25, 30, 29],
              backgroundColor: '#ffebd7',
              borderColor: '#feb66f',
              borderWidth: 1
          },
          {
              label: 'الغياب ',
              data: [0, 0, 0, 2, 0, 0],
              backgroundColor: '#ffdfe5',
              borderColor: '#fe6c8b',
              borderWidth: 1
          },
          {
              label: 'الاجازات',
              data: [2, 0, 0, 3, 0, 1],
              backgroundColor: '#daf2f2',
              borderColor: '#76d0d0',
              borderWidth: 1
          }
          ]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          },
          legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: '#404E67',
                fontFamily: 'dubai'
            }
        },
        tooltips: {
          bodyFontFamily: 'dubai',
          titleFontFamily: 'dubai'
        }
      }
  });



});


$(document).ready(function(){
  $('.finances').cardToggler();
  $('.attendence').cardToggler();
});





    </script>
