@{import('custom_plugins/image_upload.css')};

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">ادارة التشغيل</a>
                </li>
                <li class="breadcrumb-item"><a href="employees">الموظفين</a>
                </li>
                <li class="breadcrumb-item active">ادراج موظف جديد
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">ادراج موظف جديد</h3>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">
            <div class="row">
                <div class="col-md-4 mb-1">
                    <div class="col-md-12 mb-2 image_element"></div>
                    <div class="col-md-12">
                      <div class="dropdown-menu" style="display: block; position: static; width: 100%; margin-top: 0; float: none;">
                        <button class="dropdown-item" type="button">الترقية أو تعديل المرتب</button>
                        <button class="dropdown-item" type="button">الخصومات و الجزاءات</button>
                        <button class="dropdown-item" type="button">التقييمات والتوصيات</button>
                        <button class="dropdown-item" type="button">الحضور والانصراف</button>
                        <button class="dropdown-item" type="button">الأجازات</button>
                        <button class="dropdown-item" type="button">المكافئات</button>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-submenu">
                          <button class="dropdown-item" type="button">More Options</button>
                          <div class="dropdown-menu" role="menu">
                            <button class="dropdown-item" type="button">Submenu Item</button>
                            <button class="dropdown-item" type="button">Submenu Item</button>
                            <button class="dropdown-item" type="button">Submenu Item</button>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card">
                <div class="card-body collapse in">
                  <div class="card-block">
                    <form method="" action="" class="form">
                        <div class="form-body col-md-12">
                            <div class="row">
                          <div class="col-md-9">
                            <div class="form-group ">
                            <label for="eventRegInput1">اسم الموظف</label>
                            <input type="text" id="eventRegInput1" class="form-control" placeholder="اسم الموظف" name="">
                            </div>
                          </div>
                            <div class="col-md-3">
                            <div class="form-group ">
                            <label for="eventRegInput1">رقم الموبايل</label>
                            <input type="text" id="eventRegInput1" class="form-control" placeholder="رقم الموبايل" name="">
                            </div>
                          </div>
                        </div>
                            <div class=" row">
                            <div class="form-group col-md-6">
                                <label  for="eventRegInput4">الجنس</label>
                                <select class="form-control">
                                    <option></option>
                                    <option>
                                        ذكر
                                    </option>
                                    <option>
                                        أنثى
                                    </option>
                                    <option>
                                        غير ذلك
                                    </option>

                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label  for="eventRegInput4">الديانة</label>
                                <select class="form-control">
                                    <option></option>
                                    <option>
                                        مسلم
                                    </option>
                                    <option>
                                        مسيحي
                                    </option>
                                    <option>
                                        غير ذلك
                                    </option>

                                </select>
                            </div>
                        </div>
                            <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="phoneNumber1">محل الاقامة</label>
                              <select class="form-control">
                                    <option></option>
                                    <option>
                                        القاهرة
                                    </option>
                                    <option>
                                        الجيزة
                                    </option>
                                    <option>
                                        المعادي
                                    </option>

                                </select>
                            </div>
                          </div>
                          <div class="col-md-9">
                            <div class="form-group">
                              <label for="date1">العنوان كاملا</label>
                              <input type="text" id="eventRegInput1" class="form-control" placeholder="العنوان كاملا" name="">
                            </div>
                          </div>
                        </div>
                            <div class="row">
                            <div class="form-group col-md-6">
                                <label  for="eventRegInput4">الرقم القومي</label>
                                <input type="text" id="eventRegInput1" class="form-control" placeholder="الرقم القومي" name="">
                            </div>
                            <div class="form-group col-md-6">
                                <label  for="eventRegInput4">تاريخ الميلاد</label>
                                <input type="text" id="eventRegInput1" class="form-control singledate" placeholder="تاريخ الميلاد" name="">

                            </div>
                        </div>
                                <hr />
                            <div class=" row">
                            <div class="form-group col-md-3">
                                <label  for="eventRegInput4">الدرجة العلمية</label>
                                <select class="form-control">
                                    <option></option>
                                    <option>
                                        دبلوم
                                    </option>
                                    <option>
                                        ثانوية عامة
                                    </option>
                                    <option>
                                        بكالوريوس
                                    </option>
                                    <option>
                                        ماجستير
                                    </option>
                                    <option>
                                        دكتوراة
                                    </option>

                                </select>
                            </div>
                            <div class="form-group col-md-9">
                                <label  for="eventRegInput4">المؤهل الدراسي</label>
                                <input type="text" id="eventRegInput1" class="form-control" placeholder="المؤهل الدراسي" name="">
                            </div>
                        </div>
                            <div class=" row">
                            <div class="form-group col-md-4">
                                <label for="eventRegInput1">الوظيفة المطلوبة</label>
                            <select class="custom-select form-control">
                                    <option></option>
                                    <option>
                                        كاشير
                                    </option>
                                    <option>
                                        محاسب مالي
                                    </option>
                                    <option>
                                        شيف مطبخ
                                    </option>

                                </select>
                            </div>
                              <div class="form-group col-md-8" style="margin-top: 2.5rem">
                            <div class="icheck_minimal skin">
                        <fieldset>
                          <input type="checkbox" id="input-5">
                          <label for="input-5">تشغيل وضع تحت التدريب</label>
                        </fieldset>
                            </div>
                            </div>
                        </div>
                                <hr>
                            <div class="row">
                          <div class="col-md-12">
                      <div class="float-xs-right">
                        <input type="checkbox" name="" id="experience_field" data-target="experience" class="switchery"/>
                      </div>
                      <label for="experience_field" class="font-medium-2">الخبرات السابقة</label>
                              <div class="experience" >
                              <div class=" row mt-1">
                            <div class="form-group col-md-8">
                                <label for="eventRegInput4">مقر العمل السابق</label>
                                <input type="text" id="eventRegInput1" class="form-control" placeholder="مقر العمل السابق" name="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="eventRegInput4">سنوات الخبرة</label>
                                <input type="text" id="eventRegInput1" class="form-control touchspin" placeholder="0" name="">

                            </div>
                        </div>
                              <div class="form-group experience_tools" style="text-align: left">
                                  <button type="button" class="btn btn-secondary btn-sm new_experience ">خبرة جديدة</button>
                              </div>
                          </div>
                          </div>
                        </div>
                                <hr>
                            <div class="row">
                          <div class="col-md-12">
                      <div class="float-xs-right">
                        <input type="checkbox" name="salary_edit" id="salary_field" data-target="salary" class="switchery"/>
                      </div>
                      <label for="salary_field" class="font-medium-2 ">تعديل المرتب</label>
                          <div class="salary">
                              <div class="skin skin-flat mb-1 mt-1" style="text-align: left">
                        <fieldset class="display-inline-block" >
                            <input type="radio" name="salary_edit" value="increase"  id="salary_increase">
                          <label for="salary_increase">رفع المرتب</label>
                        </fieldset>
                        <fieldset class="display-inline-block" >
                            <input  type="radio" name="salary_edit" value="decrease" id="salary_decrease">
                          <label for="salary_decrease">خفض المرتب</label>
                        </fieldset>
                  </div>
                              <div class="salary_form">

                              </div>




                          </div>
                          </div>
                        </div>
                                <hr>
                                <div class="row">
                              <div class="col-md-12">
                          <div class="float-xs-right medicalbtn">
                            <input type="checkbox" name="" id="medical_field" data-target="medical" class="switchery"/>
                          </div>
                          <label for="medical_field" class="font-medium-2">الشهادة الصحية</label>
                                  <div class="medical" >
                                  <div class=" row mt-1">
                                <div class="form-group col-md-8 medical-float medicalattach">
                                  <label class="custom-file center-block block">
                                    <input type="file" id="file" class="custom-file-input">
                                    <span class="custom-file-control"></span>
                                  </label>
                                </div>
                            </div>
                              </div>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                          <div class="col-md-12 mb-1 pl-0 pr-0" >
                              <div class="col-md-4">
                                  البطاقة الشخصية
                              </div>
                              <div class="col-md-8">
                          <label class="custom-file center-block block">
                            <input type="file" id="file" class="custom-file-input">
                            <span class="custom-file-control"></span>
                          </label>
                              </div>
                          </div>
                            <div class="col-md-12 mb-1 pl-0 pr-0" >
                              <div class="col-md-4">
                                 الفيش الجنائي
                              </div>
                              <div class="col-md-8">
                          <label class="custom-file center-block block">
                            <input type="file" id="file" class="custom-file-input">
                            <span class="custom-file-control"></span>
                          </label>
                              </div>
                          </div>
                            <div class="col-md-12 mb-1 pl-0 pr-0" >
                              <div class="col-md-4">
                                  شهادة التخرج
                              </div>
                              <div class="col-md-8">
                          <label class="custom-file center-block block">
                            <input type="file" id="file" class="custom-file-input">
                            <span class="custom-file-control"></span>
                          </label>
                              </div>
                          </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-min-width mr-1 submit_add_new_empolyee">اضافة الموظف</button>
    </div>
</div>
        </div>
    </div>
</div>
@{import('vendors.min.js','custom_plugins/image_upload.js')};
<script>

$(document).on('change','.switchery',function(){
    var target = $(this).data('target');
        if($(this).is(':checked')){
            $('.'+target).fadeIn(500);
        }else{
            $('.'+target).fadeOut(500);
        }
});

$(document).on('click','.new_experience',function(){
    var form = '<div class="row"><hr> <div class="form-group col-md-8"> <label for="eventRegInput4">مقر العمل السابق</label> <input type="text" id="eventRegInput1" class="form-control" placeholder="مقر العمل السابق" name=""> </div><div class="form-group col-md-4"> <label for="eventRegInput4">سنوات الخبرة</label> <input type="text" id="eventRegInput1" class="form-control touchspin" placeholder="0" name=""> </div></div>';
    $(''+form+'').insertBefore('.experience_tools');
    $('.touchspin').TouchSpin();
    if($('.experience_tools').find('.remove_last').length < 1){
        var remove_last = '<button type="button" class="btn btn-danger btn-sm remove_last ">حذف الأخيرة</button>';
        $('.experience_tools').prepend(remove_last);
    }
});

$(document).on('click','.remove_last',function(){
    if($('.experience .row').length > 1){
       $('.experience').find('.row:last').remove();
       if($('.experience .row').length == 1){
           $('.remove_last').remove();
       }
    }
});

$(document).on('click','.remove_last',function(){
    if($('.medical .row').length > 1){
       $('.medical').find('.row:last').remove();
       if($('.medical .row').length == 1){
           $('.remove_last').remove();
       }
    }
});

$(.medicalbtn .switchery).on('click', function () {

  'use strict';
  $(.medicalattach).show();

})

$(document).on('mouseup','.salary .skin fieldset',function(){
    var _action = $(this).find('input[name="salary_edit"]').val();
    var form_length = $('.salary-form').length;
    $(this).find('label').click();
    if( _action == 'increase'){
        var form = '<div class="row salary-form increase"> <div class="form-group col-md-8"> <label for="eventRegInput4">سبب رفع المرتب</label> <input type="text" id="eventRegInput1" class="form-control" placeholder="سبب الرفع " name=""> </div><div class="form-group col-md-4"> <label for="eventRegInput4">قيمة الرفع</label> <input type="text" id="eventRegInput1" class="form-control touchspin" placeholder="0" name=""> </div></div>';
        var form_type = $('.increase').length;
    if(form_length < 1){
           $('.salary_form').append(form);
       }else if (form_length >= 1 && form_type !== 1){
           $('.salary_form').empty();
           $('.salary_form').append(form);
       }
       $('.touchspin').TouchSpin();
    }else if(_action == 'decrease'){
        var form = '<div class="row salary-form decrease"> <div class="form-group col-md-8"> <label for="eventRegInput4">سبب خفض المرتب</label> <input type="text" id="eventRegInput1" class="form-control" placeholder="سبب الخفض " name=""> </div><div class="form-group col-md-4"> <label for="eventRegInput4">قيمة الخفض</label> <input type="text" id="eventRegInput1" class="form-control touchspin" placeholder="0" name=""> </div></div>';
        var form_type = $('.decrease').length;
    if(form_length < 1){
           $('.salary_form').append(form);
       }else if (form_length >= 1 && form_type !== 1){
           $('.salary_form').empty();
           $('.salary_form').append(form);
       }
       $('.touchspin').TouchSpin();
    }
});


  $('.image_element').image_upload({
    name: 'item_image',
    background: '#FFF',
    height:'150px',
    width:'60%'
  });


</script>
