
<!-- income list as modal -->
<div class="modal fade text-xs-left in" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="myModalLabel1">حساب قائمة الدخل</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12">
            <div class="card" style="">
              <div class="card-body">
                <div id="goal-list-scroll" class="table-responsive position-relative ps-container ps-theme-default" data-ps-id="0372ae19-7aa1-713c-8f79-e864541758bc">
                    <table class="table table-bordered mb-0 disable_normal_datatable file-export right" >
                    <thead>
                      <tr>
                        <th></th>
                        <th>دائن</th>
                        <th>مدين</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>اجمالي المبيعات</td>
                        <td>15000</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                          <td>
                              مردودات المبيعات
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              مسموحات المبيعات
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              خصم مسموح به
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              صافي المشتريات
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              رصيد مخزون أول المدة
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              رصيد مخزون آخر المدة
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              المصروفات الادارية
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              مصروفات البيع والتشغيل
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              الايرادات والمكاسب الأخرى
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                      <tr>
                          <td>
                              مصروفات وخسائر أخرى
                          </td>
                          <td>
                              0.00
                          </td>
                          <td>
                              0.00
                          </td>
                      </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                الاجمالي
                            </th>
                            <td colspan="2">
                                0.00
                            </td>
                        </tr>
                    </tfoot>
                  </table>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 463px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
              </div>
            </div>
          </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">اغلاق</button>
                                </div>
                              </div>
                            </div>
                          </div>





<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">الحسابات المتقدمة</a>
                </li>
                <li class="breadcrumb-item"><a href="#">القوائم المالية</a>
                </li>
                <li class="breadcrumb-item active">قائمة الدخل
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">قائمة الدخل</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">bla bla bla</button>
                            <button type="button" class="btn btn-secondary"  data-toggle="modal" data-target="#default">عرض كحساب</button>
                          </div>
                        </div>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">

        <div class="row">
          <div class="col-xl-8 col-lg-12">
            <div class="card">
              <div class="card-header no-border">
                <h4 class="card-title">قائمة الدخل</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                  </ul>
                </div>
              </div>

                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب صافي المبيعات</span></p>
                  <div class="table-responsive">
                      <table class="table right">
                      <tbody>
                        <tr>
                          <th scope="row">اجمالي المبيعات</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                يُخصم منها
                            </th>
                        </tr>
                        <tr>
                          <th scope="row">مردودات المبيعات</th>
                          <td>500</td>
                        </tr>
                        <tr>
                          <th scope="row">مسموحات المبيعات</th>
                          <td>700</td>
                        </tr>
                        <tr>
                          <th scope="row">خصم مسموح به</th>
                          <td>1100</td>
                        </tr>
                        <tr class="group"><td colspan="1" style="text-align: right !important">قيمة صافي المبيعات</td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب تكلفة المبيعات</span></p>
                  <div class="table-responsive">
                      <table class="table right" id="table">
                      <tbody>
                        <tr data-tt-id="1">
                          <th scope="row">صافي المشتريات</th>
                          <td>15000</td>
                        </tr>
                        <tr data-tt-id="2" data-tt-parent-id="1">
                          <th scope="row"> المشتريات</th>
                          <td>15000</td>
                        </tr>
                        <tr data-tt-id="3" data-tt-parent-id="1">
                          <th scope="row">مردود المشتريات</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">رصيد مخزون أول المدة</th>
                          <td>500</td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                يُخصم منها
                            </th>
                        </tr>
                        <tr>
                          <th scope="row">رصيد مخزون آخر المدة</th>
                          <td>700</td>
                        </tr>
                        <tr>
                        <tr class="group"><td colspan="1" style="text-align: right !important">مُجمل تكلفة المبيعات</td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب المصروفات التشغيلية</span></p>
                  <div class="table-responsive">
                      <table class="table right">
                      <tbody>
                        <tr>
                          <th scope="row">مصروفات ادارية</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                          <th scope="row">مصروفات البيع والتشغيل</th>
                          <td>500</td>
                        </tr>
                        <tr>
                        <tr class="group"><td colspan="1" style="text-align: right !important">قيمة المصروفات التشغيلية  </td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>


                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب الايردات الأخرى </span></p>
                  <div class="table-responsive">
                      <table class="table right">
                      <tbody>
                        <tr>
                          <th scope="row">ايرادات ومكاسب أخرى</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                        <tr class="group"><td colspan="1" style="text-align: right !important">قيمة الايرادات الأخرى   </td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>


                <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <p>
                    <span class="text-bold-600">حساب المصروفات الأخرى </span></p>
                  <div class="table-responsive">
                      <table class="table right">
                      <tbody>
                        <tr>
                          <th scope="row">مصروفات وخسائر أخرى</th>
                          <td>15000</td>
                        </tr>
                        <tr>
                        <tr class="group"><td colspan="1" style="text-align: right !important">قيمة المصروفات الأخرى   </td><td colspan="1">17000</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>



            </div>
          </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card">
                <div class="card-header">
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                        <p>
                            <span class="text-bold-600">- مُجمل الأرباح </span><code>1500 جنيه</code>
                            <small style="float:left">يُخصم منها</small>
                        </p>
                        <p>
                            <span class="text-bold-600">- المصروفات التشغيلية </span><code>1500 جنيه</code>
                            <small style="float:left">يضاف اليها</small>
                        </p>
                        <p>
                            <span class="text-bold-600">- الايرادات الأخرى</span><code>1500 جنيه</code>
                            <small style="float:left">يُخصم منها</small>
                        </p>
                        <p>
                            <span class="text-bold-600">- المصروفات الأخرى</span><code>1500 جنيه</code>
                        </p>
                        <hr>
                        <p>
                            <span class="text-bold-600">- الربح قبل ضريبة الدخل </span><code>1500 جنيه</code>
                        </p>
                        <p>
                            <span class="text-bold-600">- الربح بعد ضريبة الدخل </span><code>1500 جنيه</code>
                        </p>
                   </div>
                </div>
              </div>
                  </div>
        </div>


        </div>
    </div>
</div>

<script>
    $(".table").treetable({ expandable: true });
//    $("#table").treetable();

//$('.disable_normal_datatable').DataTable( {
//    paging: false,
//    searching:false,
//    buttons: [
//        'csv'
//    ]
//} );

    </script>
@{import('vendors.min.js')};
