
<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">الحسابات</a>
                </li>
                <li class="breadcrumb-item active">أذونات
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">أذونات</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">bla bla bla</button>
                            <button type="button" class="btn btn-secondary">bla bla bla</button>
                          </div>
                        </div>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">
            
            
        <div class="row match-height">
          <div class="col-xl-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">كشف الأذونات</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                    <table class="table table-striped table-bordered base-style">
                      <thead>
                       <tr>
                            <th>
                                كود
                            </th>
                            <th>
                                نوع الاذن
                            </th>
                            <th>
                                التاريخ
                            </th>
                            <th>
                                البيان
                            </th>
                            </tr>
                      </thead>
                      <tbody>
                         <tr>
                                    <td>
                                        102
                                    </td>
                                    <td>
                                        استلام بضاعة
                                    </td>
                                    <td>
                                        17/7/2017
                                    </td>
                                    <td>
                                        استلام بضاعة من المخزن الرئيسي
                                    </td>
                                </tr><tr>
                                    <td>
                                        102
                                    </td>
                                    <td>
                                        استلام بضاعة
                                    </td>
                                    <td>
                                        17/7/2017
                                    </td>
                                    <td>
                                        استلام بضاعة من المخزن الرئيسي
                                    </td>
                                </tr><tr>
                                    <td>
                                        102
                                    </td>
                                    <td>
                                        استلام بضاعة
                                    </td>
                                    <td>
                                        17/7/2017
                                    </td>
                                    <td>
                                        استلام بضاعة من المخزن الرئيسي
                                    </td>
                                </tr><tr>
                                    <td>
                                        102
                                    </td>
                                    <td>
                                        استلام بضاعة
                                    </td>
                                    <td>
                                        17/7/2017
                                    </td>
                                    <td>
                                        استلام بضاعة من المخزن الرئيسي
                                    </td>
                                </tr><tr>
                                    <td>
                                        102
                                    </td>
                                    <td>
                                        استلام بضاعة
                                    </td>
                                    <td>
                                        17/7/2017
                                    </td>
                                    <td>
                                        استلام بضاعة من المخزن الرئيسي
                                    </td>
                                </tr><tr>
                                    <td>
                                        102
                                    </td>
                                    <td>
                                        استلام بضاعة
                                    </td>
                                    <td>
                                        17/7/2017
                                    </td>
                                    <td>
                                        استلام بضاعة من المخزن الرئيسي
                                    </td>
                                </tr><tr>
                                    <td>
                                        102
                                    </td>
                                    <td>
                                        استلام بضاعة
                                    </td>
                                    <td>
                                        17/7/2017
                                    </td>
                                    <td>
                                        استلام بضاعة من المخزن الرئيسي
                                    </td>
                                </tr><tr>
                                    <td>
                                        102
                                    </td>
                                    <td>
                                        استلام بضاعة
                                    </td>
                                    <td>
                                        17/7/2017
                                    </td>
                                    <td>
                                        استلام بضاعة من المخزن الرئيسي
                                    </td>
                                </tr><tr>
                                    <td>
                                        102
                                    </td>
                                    <td>
                                        استلام بضاعة
                                    </td>
                                    <td>
                                        17/7/2017
                                    </td>
                                    <td>
                                        استلام بضاعة من المخزن الرئيسي
                                    </td>
                                </tr><tr>
                                    <td>
                                        102
                                    </td>
                                    <td>
                                        استلام بضاعة
                                    </td>
                                    <td>
                                        17/7/2017
                                    </td>
                                    <td>
                                        استلام بضاعة من المخزن الرئيسي
                                    </td>
                                </tr>
                        
                        
                        
                      </tbody>
                      <tfoot>
                        <tr>
                            <th>
                                كود
                            </th>
                            <th>
                                نوع الاذن
                            </th>
                            <th>
                                التاريخ
                            </th>
                            <th>
                                البيان
                            </th>
                            </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </div>
            
        </div>
    </div>
</div>
