@{import('custom_plugins/image_upload.css')};
<style>
.icheck_square [class*=icheckbox_], .icheck_square [class*=iradio_], .skin [class*=icheckbox_], .skin [class*=iradio_]{
  margin-left: 0px;
}
.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}
</style>
<!-- item excel -->
<div class="modal fade text-xs-left in" id="items_excel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                            <div class="modal-dialog modal-sm" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="myModalLabel1">رفع ملف أصناف Excel</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form form-horizontal">
                      <div class="form-body">
                        <div class="form-group row">
                          <div class="col-md-12">
                            <label class="custom-file center-block block">
                                <input type="file" id="file" class="custom-file-input">
                            <span class="custom-file-control"></span>
                          </label>
                          </div>
                        </div>
                      </div>
                    </form>
                                    <hr>
                                    <p>
                                        بعد اختيار الملف والضغط على زر تثبيت الأصناف سيقوم النظام بتحليل بيانات الملف والتعامل معها تلقائيا ، ثم اضافتها الى قواعد البيانات
                                    </p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary btn-min-width mr-1">تثبيت الأصناف</button>
                                  <button type="button" class="btn grey btn-outline-secondary " data-dismiss="modal">اغلاق</button>

                                </div>
                              </div>
                            </div>
                          </div>






<!-- new manual item -->
<div class="modal fade text-xs-left in" id="manual_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="myModalLabel1">اضافة صنف جديد</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form add_new_product">
                      <div class="form-body">
                        <div class="col-md-9">
                          <div class="row">
                            <div class="form-group col-xs-6 mb-2">
                              <label for="item_name">اسم الصنف</label>
                              <input id="item_name" data-complete="ryan-complete" type="text" class="form-control" placeholder="اسم الصنف" name="product_name">
                            </div>
                            <div class="form-group col-xs-6 mb-2">
                              <label for="item_group">اسم المجموعة</label>
                              <input id="item_group" data-complete="ryan-complete" type="text" class="form-control" placeholder="اسم المجموعة" name="group_name">

                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-xs-12 mb-2">
                                <div class="form-section flex-fill">
                                    <p style="margin: 0px"><i class="ft-user"></i> أحجام الصنف</p>
                                    <button type="button" class="btn btn-outline-secondary btn-sm new_size"> حجم جديد</button>
                                </div>
                                <div class="size_section"><div class="list_empty">
                                    <i class="ft-alert-circle"></i>
                                    <p>
                                        لم تقم بتحديد أي أحجام بعد
                                    </p>
                                </div></div>

                            </div>
                          </div>
                          <div class="row">
                          <div class="form-group col-xs-12 mb-2">
                              <div class="form-section flex-fill extras_head">
                                  <p style="margin: 0px"><i class="ft-user"></i> اضافات الصنف</p>
                                  <fieldset class="form-group extras_engine_input engine_collapsed">
                        <input type="text" class="form-control" placeholder="ابحث عن الاضافات المتاحة">
                        <div class="form-control-position">
                        <i class="ft-x-square danger"></i>
                        </div>
                        <div class="extras_engine_result">

                        </div>
                        </fieldset>
                              </div>
                              <div class="extras_section">
                                  <div class="list_empty">
                                  <i class="ft-alert-circle"></i>
                                  <p>
                                      لم تقم بتحديد أي اضافات بعد
                                  </p>
                              </div>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-xs-12 mb-2">
                              <div class="form-section flex-fill">
                                  <p style="margin: 0px"><i class="ft-user"></i> مذاقات الصنف</p>
                                  <button type="button" class="btn btn-outline-secondary btn-sm new_taste"> مذاق جديد</button>
                              </div>
                              <div class="taste_section">
                                <div class="list_empty">
                                  <i class="ft-alert-circle"></i>
                                  <p>
                                      لم تقم بتحديد أي مذاقات بعد
                                  </p>
                              </div>
                            </div>

                          </div>
                        </div>
                        </div>
	<div class="col-md-3">
    <div class="row">
      <div class="form-group col-xs-12 mb-2 image_element" >
      </div>

      <div class="form-group col-xs-12 mb-2">
        <label for="eventInput1">
          الوقت المطلوب لتجهيز الصنف
        </label>
        <div id="time_for_prepare"></div>
        <small name="time_value"> 5 دقايق</small>
        </div>

        <div class="form-group col-xs-12 mb-2">
          <label for="eventInput1">
            أقصى عدد يمكن تجهيزه خلال <span name="time_value"></span>
          </label>
          <div id="prepare_at_once"></div>
          <small name="prepare_value">3 وحدات</small>
          </div>


          <div class="form-group col-xs-12 mb-2  skin skin-line">
            <label for="eventInput1">
              طبيعة الكمية المتوفرة
            </label>
            <fieldset >
              <input type="radio" name="input-radio-1" id="input-radio-1" checked>
              <label for="input-radio-1">غير محدودة</label>
            </fieldset>
            <fieldset >
              <input type="radio" name="input-radio-1" id="input-radio-2">
              <label for="input-radio-2">محدودة</label>
            </fieldset>
          </div>




    </div>
  </div>

                      </div>
                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary btn-min-width mr-1 submit_add_new_product">تثبيت الصنف</button>
                                  <button type="button" class="btn grey btn-outline-secondary cancel_manual_item" data-dismiss="modal">اغلاق</button>

                                </div>
                              </div>
                            </div>
                          </div>





<!-- new group -->
<div class="modal fade text-xs-left in" id="new_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                            <div class="modal-dialog modal-sm" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="myModalLabel1">انشاء مجموعة جديدة</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form form-horizontal">
                      <div class="form-body">
                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="groupName">اسم المجموعة</label>
                          <div class="col-md-9">
                            <input type="text" id="groupName" class="form-control" placeholder="اسم المجموعة" name="groupname">
                            <small>
                                * مثال : مشروبات - سندوتشات لحمة - سندوتشات فراح ....
                            </small>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 label-control">تفعيل تلقائي</label>
                          <div class="col-md-9">
                            <div class="input-group col-md-9">
                              <label class="display-inline-block custom-control custom-radio ml-1">
                                <input type="radio" name="customer" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description ml-0">نعم</span>
                              </label>
                              <label class="display-inline-block custom-control custom-radio">
                                <input type="radio" name="customer" checked="" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description ml-0">لا</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                                    <hr>
                                    <p>
                                        تساعدك المجموعات على تنظيم قائمة أصنافك وتُبقيها مرتبة ، مما يُسهل عليك البحث في قائمة الأصناف والتعديل عليها ، كما تُسهل العمل كثيرا أثناء تحضير الطلبات
                                    </p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary btn-min-width mr-1">تثبيت المجموعة</button>
                                  <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">اغلاق</button>

                                </div>
                              </div>
                            </div>
                          </div>






<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">الموارد</a>
                </li>
                <li class="breadcrumb-item active">الأصناف
                </li>

              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">الأصناف</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->
                          <div class="btn-group" role="group" aria-label="Basic example">
                              <div class="btn-group">
                            <button type="button" class="btn btn-secondary btn-min-width dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">اضافة صنف جديد</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="list_library" data-toggle="tooltip" data-placement="right" title="" data-original-title="يمكنك الاختيار بسهولة من بين مئات الأصناف الموجودة بشكل تلقائي في النظام
" >اختيار من المكتبة</a>
                              <a class="dropdown-item"  data-toggle="modal" data-target="#manual_item" data-toggle="tooltip" data-placement="right" title="" data-original-title="يمكنك ادخال صنف أو أكثر بشكل يدوي وملأ البيانات حسب رغباتك">ادخال صنف يدوي</a>
                              <a class="dropdown-item" data-toggle="modal" data-target="#items_excel" data-toggle="tooltip" data-placement="right" title="" data-original-title="يمكنك استيراد العديد من الاصناف دُفعة واحدة من خلال استيراد ملف Excel جاهز
">استيراد ملف Excel</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item"  data-toggle="tooltip" data-placement="right" title="" data-original-title="اضغط لمعرفة المزيد حول طرق اضافة الأصناف" href="#">معرفة المزيد</a>
                            </div>
                          </div>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#new_group">انشاء مجموعة</button>

                          </div>
                        </div>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">
            <div class="row">
          <div class="col-xl-8 col-lg-12">
              <div class="row">
            <div class="col-xl-6 col-lg-6 col-xs-12">
              <div class="card bg-danger">
                <div class="card-body">
                  <div class="card-block">
                    <div class="media">
                      <div class="media-body white text-xs-left">
                        <h2 class="total_groups_number">@{model.productGroups.length}</h2>
                        <span>اجمالي المجموعات</span>
                      </div>
                      <div class="media-right media-middle">
                        <i class="icon-grid white font-large-2 float-xs-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-xs-12">
              <div class="card bg-primary">
                <div class="card-body">
                  <div class="card-block">
                    <div class="media">
                      <div class="media-body white text-xs-left">
                        <h2 class="total_products_number">@{model.allProducts.length}</h2>
                        <span>اجمالي الأصناف</span>
                      </div>
                      <div class="media-right media-middle">
                        <i class="icon-list white font-large-2 float-xs-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

              <div class="card">
              <div class="card-header no-border">
                <h4 class="card-title">المجموعات</h4>

              </div>
              <div class="card-body">
                  <div class="card-block product-groups pt-0">
                    @{foreach group in model.productGroups}
                    <div class="product-group bg-danger"><p>@{group.name}</p><i class="ft-x-square"></i></div>
                    @{end}
                  </div>
              </div>
            </div>

          </div>

          <div class="col-xl-4 col-lg-12">
            <div class="card">
              <div class="card-header no-border">
                <h4 class="card-title">آخر 10 أصناف مُضافة</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <div id="goal-list-scroll" class="table-responsive position-relative ps-container ps-theme-default ps-active-x" data-ps-id="ae819e01-2d0f-4a42-cd34-dc01b79ba1ff">
                  <div class="card-block card-dashboard pt-0 pb-0">
                  <table class="table table-striped table-bordered last_10added">
                    <thead>
                      <tr>
                        <th>كود</th>
                        <th>الصنف</th>
                        <th>السعر</th>
                      </tr>
                    </thead>
                    <tbody>
                      @{foreach product in model.last10products}
                      <tr>
                        <td>@{product.p_id}</td>
                        <td>@{product.p_name}</td>
                        <td>@{product.p_price} جنيه</td>
                      </tr>
                      @{end}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>


        <section id="products_data">
                <div class="col-xs-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">قائمة الأصناف</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                    <table class="table table-striped table-bordered  all_products">
                      <thead>
                        <tr>
                          <th>كود</th>
                          <th>الصنف</th>
                          <th>المجموعة</th>
                          <th>الكمية المتاحة</th>
                          <th>سعر التكلفة</th>
                          <th>سعر البيع</th>
                          <th>كمية المبيعات</th>
                          <th>عائد المبيعات</th>
                          <th>تاريخ الاضافة</th>
                        </tr>
                      </thead>
                      <tbody>
                        @{foreach product in model.allProducts}
                        <tr>
                          <td>@{product.p_id}
                          </td>

                          <td>@{product.p_name}
                          </td>

                          <td>@{product.p_group}
                          </td>

                          <td>@{product.p_quantity}
                          </td>

                          <td>@{product.p_cost}
                          </td>

                          <td>@{product.p_price} جنيه
                          </td>

                          <td>@{product.total_sales_amount}
                          </td>

                          <td>@{product.total_sales_cash} جنيه
                          </td>

                          <td>@{product.p_created}
                          </td>
                      </tr>
                        @{end}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>كود</th>
                          <th>الصنف</th>
                          <th>المجموعة</th>
                          <th>الكمية المتاحة</th>
                          <th>سعر التكلفة</th>
                          <th>سعر البيع</th>
                          <th>كمية المبيعات</th>
                          <th>عائد المبيعات</th>
                          <th>تاريخ الاضافة</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
</section>

<scetion id="groups_data">
                <div class="col-xs-8">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">تفاصيل المجموعات</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                    <table class="table table-striped table-bordered groups_data ">
                      <thead>
                        <tr>
                          <th>
اسم المجموعة
                          </th>
                          <th>
عدد الأصناف
                          </th>
                          <th>
المبيعات
                          </th>
                          <th>
الاعلى قيمة
                          </th>
                          <th>
الاقل قيمة
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        @{foreach group in model.productGroups}
                        <tr data-groupname="@{group.name}">
                          <td>@{group.name}</td>
                          <td>@{group.total_products}</td>
                          <td>@{group.total_sales}</td>
                          <td>@{group.max}</td>
                          <td>@{group.min}</td>
                        </tr>
                        @{end}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>
اسم المجموعة
                          </th>
                          <th>
عدد الأصناف
                          </th>
                          <th>
المبيعات
                          </th>
                          <th>
الاعلى قيمة
                          </th>
                          <th>
الاقل قيمة
                          </th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
                <div class="col-xs-4 ">
              <div class="card">
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                      <div id="groups_data_chart" style="height:200px; width:100%">
                      </div>
                      <div class="groups_chart_data"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>



        </div>
    </div>
</div>




@{import('vendors.min.js','custom_plugins/auto_complete.js','custom_plugins/image_upload.js')};
<script>
var groups_data_chart ;

    $(function(){
      /*  socket.emit('fetch_counts');
        socket.emit('fetch_last_10added');
        socket.emit('fetch_all_products');
        socket.emit('fetch_groups_data');


    socket.on('fetch_last_10added',function(data){
        //$('.last_10added tbody').empty();
        $(data).each(function(){
           var _data = JSON.parse(JSON.stringify(this));
           var product = '<tr><td>'+_data.p_id+'</td><td>'+_data.p_name+'</td><td>'+_data.p_price+'</td></tr>';
           $('.last_10added tbody').append(product);
        });




    }).on('fetch_all_products',function(data){
        $('.all_products tbody').empty();
        async.parallel([
            function(callback){
                $(data).each(function(){
           var _data = JSON.parse(JSON.stringify(this));
           var item = '<tr ><td>'+_data.p_id+'</td><td>'+_data.p_name+'</td><td>'+_data.p_group+'</td><td>'+_data.p_quantity+'</td><td>'+_data.p_cost+'</td><td>'+_data.p_price+' جنيه</td><td>'+_data.total_sales_amount+'</td><td>'+_data.total_sales_cash+' جنيه</td><td>'+_data.p_created+'</td></tr>';
           $('.all_products tbody').append(item);
        });
        callback();
            }
], function() {
   $('.all_products').dataTable({
       info:false
   });
   $('.total_products_number').text(data.length);
});



    }).on('fetch_groups_data',function(data){
      $('.groups_data tbody,.product-groups').empty();
      $(data).each(function(i){
        var _data = JSON.parse(JSON.stringify(this));
        var item = '<tr data-groupName="'+_data.name+'"><td>'+_data.name+'</td><td>'+_data.total_products+'</td><td>'+_data.total_sales+' جنيه</td><td>'+_data.max+'</td><td>'+_data.min+'</td></tr>';
        $('.groups_data tbody').append(item);

        var item_2 = '<div class="product-group bg-danger"><p> '+_data.name+'</p><i class="ft-x-square"></i></div>';
        $('.product-groups').append(item_2);

        if(i == 0){
          socket.emit('update_groupdata',''+_data.name+'');
        }
        $('.total_groups_number').text(data.length);

      })



    })
*/

    socket.on('groups_data_chart',function(data){
      $('#groups_data_chart').empty();
      var chart_array = [];
for(var i = 0; i <data.length; i ++){
  var _data = JSON.parse(JSON.stringify(data[i]));
  var chart_data = {label: ""+_data.label+"", value: ""+Math.ceil((_data.value / _data.total) * 100)+""};
  chart_array.push(chart_data);
  if(i == 0){
    socket.emit('update_groupdata_only',''+_data.label+'');
  }
}

      console.log(chart_array);
        groups_data_chart = Morris.Donut({
        element: "groups_data_chart",
        data: chart_array,
        resize: !0,
        colors: ["#00A5A8", "#FF7D4D", "#FF4558", "#626E82"]
      });
      groups_data_chart.select(0);
      for(i = 0; i < groups_data_chart.segments.length; i++) {
        groups_data_chart.segments[i].handlers['hover'].push( function(i){
          var group_name = groups_data_chart.data[i].label;
          socket.emit('update_groupdata_only',group_name);
        });
      };
    }).on('update_groupdata',function(data){
      $('.groups_chart_data').empty();
      var _data = JSON.parse(JSON.stringify(data[0]));
      var form = '<center><p>  تمثل المجموعة '+Math.ceil(_data.percentage)+'% من اجمالي الاصناف بمبيعات حوالي '+_data.sum+' جنيه</p></center><table class="table"><tbody><tr><td> العنصر الأعلى مبيعا</td><td> '+_data.heighest_sale+'</td></tr><tr><td> العنصر الأقل مبيعا</td><td>'+_data.lowest_sale+'</td></tr></tbody></table> <button type="button" class="btn btn-secondary float-xs-right">عرض المزيد</button>';
      $('.groups_chart_data').append(form);

});








$(document).on('click','.groups_data tbody tr',function(){
  var group_name = $(this).attr('data-groupname');
  update_groupdata(group_name,$(this).index());
});

function update_groupdata(group_name,index){
  socket.emit('update_groupdata_only',group_name);
  setTimeout(function(){
    groups_data_chart.select(index);
  },5);
}


$(document).on('click','.submit_add_new_product',function(){
  var data = $('.add_new_product').serialize();
  console.log(data);
});




var time_for_prepare = document.getElementById('time_for_prepare');

noUiSlider.create(time_for_prepare, {
  start: get_value_of_precent(60,15),
  step: 0.5,
	connect: "lower",
	range: {
	  'min': 0,
	  'max': 60
	}
});
time_for_prepare.noUiSlider.on('update', function ( values, handle ) {
  $('[name="time_value"]').text(values[handle]+' دقيقة');
});


var prepare_at_once = document.getElementById('prepare_at_once');

noUiSlider.create(prepare_at_once, {
  start: get_value_of_precent(100,15),
  step: 1,
	connect: "lower",
	range: {
	  'min': 0,
	  'max': 100
	}
});
prepare_at_once.noUiSlider.on('update', function ( values, handle ) {
  $('[name="prepare_value"]').text(values[handle]+' وحدات');
});


$(document).on('keyup','#item_group',function(){
$(this).auto_complete();
});
$(document).on('keyup','#item_name',function(){
$(this).auto_complete({
  data: ['burger beef','checkien','7up']
});
});





$('.image_element').image_upload({
  name: 'item_image'
});



    });





</script>
