

<!-- item excel -->
<div class="modal fade text-xs-left in" id="items_excel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                            <div class="modal-dialog modal-sm" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="myModalLabel1">رفع ملف أصناف Excel</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form form-horizontal">
                      <div class="form-body">
                        <div class="form-group row">
                          <div class="col-md-12">
                            <label class="custom-file center-block block">
                                <input type="file" id="file" class="custom-file-input">
                            <span class="custom-file-control"></span>
                          </label>
                          </div>
                        </div>
                      </div>
                    </form>
                                    <hr>
                                    <p>
                                        بعد اختيار الملف والضغط على زر تثبيت الأصناف سيقوم النظام بتحليل بيانات الملف والتعامل معها تلقائيا ، ثم اضافتها الى قواعد البيانات
                                    </p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn grey btn-outline-secondary " data-dismiss="modal">اغلاق</button>
                                  <button type="button" class="btn btn-primary btn-min-width">تثبيت الأصناف</button>
                                </div>
                              </div>
                            </div>
                          </div>






<!-- new manual item -->
<div class="modal fade text-xs-left in" id="manual_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="myModalLabel1">اضافة صنف جديد</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form">
                      <div class="form-body">
                        <div class="row">
                          <div class="form-group col-xs-6 mb-2">
                            <label for="eventInput1">اسم الصنف</label>
                            <input type="text" class="form-control" placeholder="اسم الصنف" name="itemname">
                          </div>
                          <div class="form-group col-xs-6 mb-2">
                            <label for="eventInput1">اسم المجموعة</label>
                            <select class="form-control">
                                <option>
                                    سندوتشات
                                </option>
                                <option>
                                    وجبات
                                </option>
                                <option>
                                    مشروبات
                                </option>
                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-xs-12 mb-2">
                              <div class="form-section flex-fill">
                                  <p style="margin: 0px"><i class="ft-user"></i> أحجام الصنف</p>
                                  <button type="button" class="btn btn-outline-secondary btn-sm new_size"> حجم جديد</button>
                              </div>
                              <div class="size_section"><div class="list_empty">
                                  <i class="fa fa-exclamation-circle"></i>
                                  <p>
                                      لم تقم بتحديد أي أحجام بعد
                                  </p>
                              </div></div>

                          </div>
                        </div>
                          <div class="row">
                          <div class="form-group col-xs-12 mb-2">
                              <div class="form-section flex-fill extras_head">
                                  <p style="margin: 0px"><i class="ft-user"></i> اضافات الصنف</p>
                                  <fieldset class="form-group extras_engine_input engine_collapsed">
                      <input type="text" class="form-control" placeholder="ابحث عن الاضافات المتاحة">
                      <div class="form-control-position">
                        <i class="ft-x-square danger"></i>
                      </div>
                      <div class="extras_engine_result">

                      </div>
                    </fieldset>
                              </div>
                              <div class="extras_section">
                                  <div class="list_empty">
                                  <i class="fa fa-exclamation-circle"></i>
                                  <p>
                                      لم تقم بتحديد أي اضافات بعد
                                  </p>
                              </div>
                              </div>
                          </div>
                        </div>
                          <div class="row">
                          <div class="form-group col-xs-12 mb-2">

                          </div>
                        </div>
                      </div>
                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn grey btn-outline-secondary cancel_manual_item" data-dismiss="modal">اغلاق</button>
                                  <button type="button" class="btn btn-primary btn-min-width">تثبيت الصنف</button>
                                </div>
                              </div>
                            </div>
                          </div>





<!-- new group -->
<div class="modal fade text-xs-left in" id="new_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                            <div class="modal-dialog modal-sm" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="myModalLabel1">انشاء مجموعة جديدة</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form form-horizontal">
                      <div class="form-body">
                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="groupName">اسم المجموعة</label>
                          <div class="col-md-9">
                            <input type="text" id="groupName" class="form-control" placeholder="اسم المجموعة" name="groupname">
                            <small>
                                * مثال : مشروبات - سندوتشات لحمة - سندوتشات فراح ....
                            </small>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 label-control">تفعيل تلقائي</label>
                          <div class="col-md-9">
                            <div class="input-group col-md-9">
                              <label class="display-inline-block custom-control custom-radio ml-1">
                                <input type="radio" name="customer" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description ml-0">نعم</span>
                              </label>
                              <label class="display-inline-block custom-control custom-radio">
                                <input type="radio" name="customer" checked="" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description ml-0">لا</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                                    <hr>
                                    <p>
                                        تساعدك المجموعات على تنظيم قائمة أصنافك وتُبقيها مرتبة ، مما يُسهل عليك البحث في قائمة الأصناف والتعديل عليها ، كما تُسهل العمل كثيرا أثناء تحضير الطلبات
                                    </p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">اغلاق</button>
                                  <button type="button" class="btn btn-primary btn-min-width">تثبيت المجموعة</button>
                                </div>
                              </div>
                            </div>
                          </div>






<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">الموارد</a>
                </li>
                <li class="breadcrumb-item active">الأصناف
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">الأصناف</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->
                          <div class="btn-group" role="group" aria-label="Basic example">
                              <div class="btn-group">
                            <button type="button" class="btn btn-secondary btn-min-width dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">اضافة صنف جديد</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="list_library.php" data-toggle="tooltip" data-placement="right" title="" data-original-title="يمكنك الاختيار بسهولة من بين مئات الأصناف الموجودة بشكل تلقائي في النظام
" >اختيار من المكتبة</a>
                              <a class="dropdown-item"  data-toggleM="modal" data-target="#manual_item" data-toggle="tooltip" data-placement="right" title="" data-original-title="يمكنك ادخال صنف أو أكثر بشكل يدوي وملأ البيانات حسب رغباتك">ادخال صنف يدوي</a>
                              <a class="dropdown-item" data-toggleM="modal" data-target="#items_excel" data-toggle="tooltip" data-placement="right" title="" data-original-title="يمكنك استيراد العديد من الاصناف دُفعة واحدة من خلال استيراد ملف Excel جاهز
">استيراد ملف Excel</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item"  data-toggle="tooltip" data-placement="right" title="" data-original-title="اضغط لمعرفة المزيد حول طرق اضافة الأصناف" href="#">معرفة المزيد</a>
                            </div>
                          </div>
                            <button type="button" class="btn btn-secondary" data-toggleM="modal" data-target="#new_group">انشاء مجموعة</button>

                          </div>
                        </div>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">
            <div class="row">
          <div class="col-xl-8 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-block">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-xs-12 border-right-blue-grey border-right-lighten-3">
                        <div class="float-xs-right pl-2">
                          <span class="font-large-3 text-bold-300">589</span>
                        </div>
                        <div class="float-xs-left mt-2 ml-1">
                          <span class="blue-grey darken-1 block">اجمالي</span>
                          <span class="blue-grey darken-1 block">المجموعات</span>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-xs-12  ">
                        <div class="float-xs-left pl-2">
                          <span class="font-large-3 text-bold-300">765</span>
                        </div>
                        <div class="float-xs-right mt-2 ml-1">
                          <span class="blue-grey darken-1 block">اجمالي</span>
                          <span class="blue-grey darken-1 block">الأصناف</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
              <div class="card-header no-border">
                <h4 class="card-title">المجموعات</h4>

              </div>
              <div class="card-body">
                  <div class="card-block product-groups pt-0">
                  </div>
              </div>
            </div>

          </div>

          <div class="col-xl-4 col-lg-12">
            <div class="card">
              <div class="card-header no-border">
                <h4 class="card-title">آخر 10 أصناف مُضافة</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <div id="goal-list-scroll" class="table-responsive position-relative ps-container ps-theme-default ps-active-x" data-ps-id="ae819e01-2d0f-4a42-cd34-dc01b79ba1ff">
                  <table class="table mb-0 last_10added">
                    <thead>
                      <tr>
                        <th>كود</th>
                        <th>الصنف</th>
                        <th>السعر</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                <div class="ps-scrollbar-x-rail" style="width: 471px; left: -1px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 13px; width: 457px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 464px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps-scrollbar-x-rail" style="width: 471px; left: -1px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 13px; width: 457px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 464px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
              </div>
            </div>
          </div>
        </div>
            <div class="row">
                <div class="col-xs-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">قائمة الأصناف</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                    <table class="table table-striped table-bordered  all_products">
                      <thead>
                        <tr>
                          <th>كود</th>
                          <th>الصنف</th>
                          <th>المجموعة</th>
                          <th>الكمية المتاحة</th>
                          <th>سعر التكلفة</th>
                          <th>سعر البيع</th>
                          <th>كمية المبيعات</th>
                          <th>عائد المبيعات</th>
                          <th>تاريخ الاضافة</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                      <tfoot>
                        <tr>
                          <th>كود</th>
                          <th>الصنف</th>
                          <th>المجموعة</th>
                          <th>الكمية المتاحة</th>
                          <th>سعر التكلفة</th>
                          <th>سعر البيع</th>
                          <th>كمية المبيعات</th>
                          <th>عائد المبيعات</th>
                          <th>تاريخ الاضافة</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            </div>



            <div class="row">
                <div class="col-xs-8">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">تفاصيل المجموعات</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                    <table class="table table-striped table-bordered groups_data ">
                      <thead>
                        <tr>
                          <th>
اسم المجموعة
                          </th>
                          <th>
عدد الأصناف
                          </th>
                          <th>
المبيعات
                          </th>
                          <th>
الاعلى قيمة
                          </th>
                          <th>
الاقل قيمة
                          </th>
                        </tr>
                      </thead>
                      <tbody>

                      </tbody>
                      <tfoot>
                        <tr>
                          <th>
اسم المجموعة
                          </th>
                          <th>
عدد الأصناف
                          </th>
                          <th>
المبيعات
                          </th>
                          <th>
الاعلى قيمة
                          </th>
                          <th>
الاقل قيمة
                          </th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
                <div class="col-xs-4 ">
              <div class="card">
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                      <div id="groups_data_chart" style="height:200px; width:100%">
                      </div>
                      <div class="groups_chart_data"></div>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</div>




@{import('vendors.min.js')};
<script>


    $(function(){

        socket.emit('fetch_last_10added');
        socket.emit('fetch_all_products');
        socket.emit('fetch_groups_data');


    socket.on('fetch_last_10added',function(data){
        //$('.last_10added tbody').empty();
        $(data).each(function(){
           var _data = JSON.parse(JSON.stringify(this));
           var product = '<tr><td>'+_data.p_id+'</td><td>'+_data.p_name+'</td><td>'+_data.p_price+'</td></tr>';
           $('.last_10added tbody').append(product);
        });




    }).on('fetch_all_products',function(data){
        $('.all_products tbody').empty();
        async.parallel([
            function(callback){
                $(data).each(function(){
           var _data = JSON.parse(JSON.stringify(this));
           var item = '<tr ><td>'+_data.p_id+'</td><td>'+_data.p_name+'</td><td>'+_data.p_group+'</td><td>'+_data.p_quantity+'</td><td>'+_data.p_cost+'</td><td>'+_data.p_price+' جنيه</td><td>'+_data.total_sales_amount+'</td><td>'+_data.total_sales_cash+' جنيه</td><td>'+_data.p_created+'</td></tr>';
           $('.all_products tbody').append(item);
        });
        callback();
            }
], function() {
   $('.all_products').dataTable({
       info:false
   });
});



    }).on('fetch_groups_data',function(data){
      $('.groups_data tbody,.product-groups').empty();
      $(data).each(function(){
        var _data = JSON.parse(JSON.stringify(this));
        var item = '<tr data-groupName="'+_data.name+'"><td>'+_data.name+'</td><td>'+_data.total_products+'</td><td>'+_data.total_sales+' جنيه</td><td>'+_data.max+'</td><td>'+_data.min+'</td></tr>';
        $('.groups_data tbody').append(item);

        var item_2 = '<div class="product-group"><p> '+_data.name+'</p><i class="ft-x-square"></i></div>';
        $('.product-groups').append(item_2);


      })



    }).on('update_groupdata',function(data){
      $('.groups_chart_data').empty();
      var _data = JSON.parse(JSON.stringify(data[0]));
      var form = '<center><p>  تمثل المجموعة '+parseInt(_data.percentage)+'% من اجمالي الاصناف بمبيعات حوالي '+_data.sum+' جنيه</p></center><table class="table"><tbody><tr><td> العنصر الأعلى مبيعا</td><td> '+_data.heighest_sale+'</td></tr><tr><td> العنصر الأقل مبيعا</td><td>'+_data.lowest_sale+'</td></tr></tbody></table> <button type="button" class="btn btn-secondary float-xs-right">عرض المزيد</button>';
      $('.groups_chart_data').append(form);
    });





    	Morris.Donut({
    		element: "groups_data_chart",
    		data: [{
    			label: "Custard",
    			value: 25
    		}, {
    			label: "Frosted",
    			value: 40
    		}, {
    			label: "Jam",
    			value: 25
    		}, {
    			label: "Sugar",
    			value: 10
    		}],
    		resize: !0,
    		colors: ["#00A5A8", "#FF7D4D", "#FF4558", "#626E82"]
    	});

$(document).on('click','.groups_data tbody tr',function(){
  var group_name = $(this).attr('data-groupName');
  update_groupdata(group_name);
});
function update_groupdata(group_name){
  socket.emit('update_groupdata',group_name);
}

    });





</script>
