<div class="app-content content container-fluid">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">ادارة التشغيل</a>
                </li>
                <li class="breadcrumb-item"><a href="employees.php">الموظفين</a>
                </li>
                <li class="breadcrumb-item active">المرتبات
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">المرتبات</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->

                          <div class="btn-group" role="group" aria-label="Basic example">
                              <div class="btn-group">
                                <button type="button" class="btn btn-icon btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">الحضور والانصراف</a>
                                  <a class="dropdown-item" href="#">الأجازات</a>
                                  <a class="dropdown-item" href="#">المرتبات</a>
                                  <a class="dropdown-item" href="#">المكافئات</a>
                                  <a class="dropdown-item" href="#">التقييمات</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-secondary">ادارة المرتبات</button>
                              <button type="button" class="btn btn-secondary">تعديل المرتبات</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="content-header row">
                      </div>
          <div class="content-body">
            <div class="col-xl-6 col-lg-6 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-block">
                    <div class="media">
                      <div class="media-body text-xs-left">
                        <h3 class="primary">78</h3>
                        <span>اجمالي الموظفين</span>
                      </div>
                      <div class="media-right media-middle">
                        <i class="icon-user-follow primary font-large-2 float-xs-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-block">
                    <div class="media">
                      <div class="media-body text-xs-left">
                        <h3 class="primary">12.530 جم</h3>
                        <span>إجمالى المرتبات</span>
                      </div>
                      <div class="media-right media-middle">
                        <i class="icon-user-follow primary font-large-2 float-xs-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Simple Bar Chart -->
            <div class="row">
              <div class="col-xs-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">التدفق الشهرى للمرتبات</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                      <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-body collapse in">
                    <div class="card-block">
                      <div id="bar-chart" class="height-400"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
    </div>
</div>

@{import('vendors.min.js')};
