@{import('pages/users.min.css','pages/timeline.min.css','gallery/photoswipe.css','gallery/default-skin/default-skin.css','custom_plugins/cardToggler.css')}
<style>

</style>



<div class="app-content content container-fluid">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">ادارة التشغيل</a>
                </li>
                <li class="breadcrumb-item"><a href="employees.php">الموظفين</a>
                </li>
                <li class="breadcrumb-item active">المرتبات
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">المرتبات</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->

                          <div class="btn-group" role="group" aria-label="Basic example">
                              <div class="btn-group">
                                <button type="button" class="btn btn-icon btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">الحضور والانصراف</a>
                                  <a class="dropdown-item" href="#">الأجازات</a>
                                  <a class="dropdown-item" href="#">المرتبات</a>
                                  <a class="dropdown-item" href="#">المكافئات</a>
                                  <a class="dropdown-item" href="#">التقييمات</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-secondary">ادارة المرتبات</button>
                              <button type="button" class="btn btn-secondary">تعديل المرتبات</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="content-header row">
                      </div>
          <div class="content-body">
            <!-- Simple Bar Chart -->
            <div class="row">
              <div class="col-xs-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">التدفق الشهرى للمرتبات</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                      <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-body collapse in">
                    <div class="card-block">
                      <canvas id="salaries" class="mb-1" style="height:300px !important, width:100%;"></canvas>
                      <div id="bar-chart" class="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="card">
                  <div class="card-body">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12 border-right-blue-grey border-right-lighten-3 flexed-row flexed-centered flexed-vcentered">
                          <div class="float-xs-left pl-2">
                            <span class="font-large-3 text-bold-300">120</span>
                          </div>
                          <div class="float-xs-left ml-1">
                            <span class="blue-grey darken-1 block">اجمالي</span>
                            <span class="blue-grey darken-1 block">الموظفين</span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 border-right-blue-grey border-right-lighten-3 flexed-row flexed-centered flexed-vcentered">
                          <div class="float-xs-left pl-2">
                            <span class="font-large-3 text-bold-300">18.752 جم</span>
                          </div>
                          <div class="float-xs-left ml-1">
                            <span class="blue-grey darken-1 block">اجمالى</span>
                            <span class="blue-grey darken-1 block">المرتبات</span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 flexed-row flexed-centered flexed-vcentered">
                          <div class="float-xs-left pl-2">
                            <span class="font-large-3 text-bold-300">1514.6</span>
                          </div>
                          <div class="float-xs-left  ml-1">
                            <span class="blue-grey darken-1 block">متوسط</span>
                            <span class="blue-grey darken-1 block">المرتبات</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">سجل المرتبات</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                    <table class="table table-striped table-bordered base-style right">
                      <thead>
                        <tr>
                          <th>كود</th>
                          <th>اسم الموظف</th>
                          <th>تاريخ التعيين</th>
                          <th>ساعات العمل اليومية</th>
                          <th>معدل الدفع (جنيه / ساعه )</th>
                          <th>اجمالى المرتب</th>
                          <th>اجمالى المرتبات التى حصل عليها</th>
                          <th>تاريخ آخر قبض</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>101</td>
                            <td>ريان كمال فهمي</td>
                            <th>11/8/2017</th>
                            <td>8</td>
                            <td>6.25</td>
                            <td>1500</td>
                            <td>4476</td>
                            <td>1/11/2017
                        </tr>
                        <tr>
                            <td>101</td>
                            <td>ريان كمال فهمي</td>
                            <th>11/8/2017</th>
                            <td>8</td>
                            <td>6.25</td>
                            <td>1500</td>
                            <td>4476</td>
                            <td>1/11/2017
                        </tr>
                        <tr>
                            <td>101</td>
                            <td>ريان كمال فهمي</td>
                            <th>11/8/2017</th>
                            <td>8</td>
                            <td>6.25</td>
                            <td>1500</td>
                            <td>4476</td>
                            <td>1/11/2017
                        </tr>
                        <tr>
                            <td>101</td>
                            <td>ريان كمال فهمي</td>
                            <th>11/8/2017</th>
                            <td>8</td>
                            <td>6.25</td>
                            <td>1500</td>
                            <td>4476</td>
                            <td>1/11/2017
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>كود</th>
                          <th>اسم الموظف</th>
                          <th>تاريخ التعيين</th>
                          <th>ساعات العمل اليومية</th>
                          <th>معدل الدفع (جنيه / ساعه )</th>
                          <th>اجمالى المرتب</th>
                          <th>اجمالى المرتبات التى حصل عليها</th>
                          <th>تاريخ آخر قبض</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
              </div>
              </div>

          </div>
    </div>
</div>

@{import('vendors.min.js','gallery/photo-swipe/photoswipe.min.js','gallery/photo-swipe/photoswipe-ui-default.min.js','scripts/gallery/photo-swipe/photoswipe-script.js','custom_plugins/cardToggler.js')};
<script>

$(document).ready(function(){
  var ctx = document.getElementById("salaries").getContext('2d');
  var salaries = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["يناير", "فبراير", "مارس", "أبريل", "مايو", "يونيه"],
          datasets: [
            {
                label: 'الصافي',
                data: [12, 1200, 1500, 1600, 1000, 1200],
                backgroundColor: 'rgba(17, 209, 149, 0.3215686274509804)',
                borderColor: '#41efb9',
                borderWidth: 1,
                type: 'line'

            },
            {
              label: 'الأساسي',
              data: [12, 1200, 1500, 1600, 1000, 1200],
              backgroundColor: '#ffebd7',
              borderColor: '#feb66f',
              borderWidth: 1
          },
          {
              label: 'الخصومات',
              data: [25, 34, 14, 12, 14, 25],
              backgroundColor: '#ffdfe5',
              borderColor: '#fe6c8b',
              borderWidth: 1
          },
          {
              label: 'المكافآت',
              data: [0, 360, 25, 361, 210, 14],
              backgroundColor: '#daf2f2',
              borderColor: '#76d0d0',
              borderWidth: 1
          }
          ]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          },
          legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: '#404E67',
                fontFamily: 'dubai'
            }
        },
        tooltips: {
          bodyFontFamily: 'dubai',
          titleFontFamily: 'dubai'
        }
      }
  });

  var ctx = document.getElementById("attendence").getContext('2d');
  var salaries = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["يناير", "فبراير", "مارس", "أبريل", "مايو", "يونيه"],
          datasets: [
            {
              label: 'الحضور ',
              data: [28, 30, 30, 25, 30, 29],
              backgroundColor: '#ffebd7',
              borderColor: '#feb66f',
              borderWidth: 1
          },
          {
              label: 'الغياب ',
              data: [0, 0, 0, 2, 0, 0],
              backgroundColor: '#ffdfe5',
              borderColor: '#fe6c8b',
              borderWidth: 1
          },
          {
              label: 'الاجازات',
              data: [2, 0, 0, 3, 0, 1],
              backgroundColor: '#daf2f2',
              borderColor: '#76d0d0',
              borderWidth: 1
          }
          ]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          },
          legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: '#404E67',
                fontFamily: 'dubai'
            }
        },
        tooltips: {
          bodyFontFamily: 'dubai',
          titleFontFamily: 'dubai'
        }
      }
  });



});


</script>
@{import('vendors.min.js')};
