<div class="app-content content container-fluid">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">ادارة التشغيل</a>
                </li>
                <li class="breadcrumb-item"><a href="employees.php">الموظفين</a>
                </li>
                <li class="breadcrumb-item active">المرتبات
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">المرتبات</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->

                          <div class="btn-group" role="group" aria-label="Basic example">
                              <div class="btn-group">
                                <button type="button" class="btn btn-icon btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">الحضور والانصراف</a>
                                  <a class="dropdown-item" href="#">الأجازات</a>
                                  <a class="dropdown-item" href="#">المرتبات</a>
                                  <a class="dropdown-item" href="#">المكافئات</a>
                                  <a class="dropdown-item" href="#">التقييمات</a>
                                </div>
                              </div>
                              <button type="button" class="btn btn-secondary">ادارة المرتبات</button>
                              <button type="button" class="btn btn-secondary">تعديل المرتبات</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="content-header row">
                      </div>
          <div class="content-body">
            <div class="col-xl-6 col-lg-6 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-block">
                    <div class="media">
                      <div class="media-body text-xs-left">
                        <h3 class="primary">78</h3>
                        <span>اجمالي الموظفين</span>
                      </div>
                      <div class="media-right media-middle">
                        <i class="icon-user-follow primary font-large-2 float-xs-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-block">
                    <div class="media">
                      <div class="media-body text-xs-left">
                        <h3 class="primary">12.530 جم</h3>
                        <span>إجمالى المرتبات</span>
                      </div>
                      <div class="media-right media-middle">
                        <i class="icon-user-follow primary font-large-2 float-xs-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Simple Bar Chart -->
            <div class="row">
              <div class="col-xs-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">التدفق الشهرى للمرتبات</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                      <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-body collapse in">
                    <div class="card-block">
                      <div id="bar-chart" class="height-400"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-8 profile-tab finances" data-tab="finances-tab" data-toggle="card">
              <div class="card mb-0" data-head="لمحة سريعة"><div class="card-body"><div class="card-block">
                <div class="flexed-row flexed-between"><p class="tag-listing-style">
                  تاريخ التعيين :
                   <span>25 مارس 2016</span>
                </p>
                <p class="tag-listing-style">
                  الراتب الأساسي :
                   <span>2500 جنيه</span>
                </p></div>
                <canvas id="myChart" class="mb-1" style="height:300px !important; width:100%;"></canvas>
                <div class="row">
<div class="col-lg-4 col-md-6 col-xs-12 flexed-row flexed-around border-right-blue-grey border-right-lighten-3">
<div class="float-xs-left pl-1">
  <span class="font-large-2 text-bold-300 primary">589</span>
</div>
<div class="float-xs-left mt-1 ml-1">
  <span class="blue-grey darken-1 block">اجمالي</span>
  <span class="blue-grey darken-1 block">الصافي</span>
</div>
</div>
<div class="col-lg-4 col-md-6 col-xs-12 flexed-row  flexed-around border-right-blue-grey border-right-lighten-3">
<div class="float-xs-left pl-1">
  <span class="font-large-2 text-bold-300 danger">765</span>
</div>
<div class="float-xs-left mt-1 ml-1">
  <span class="blue-grey darken-1 block">اجمالي</span>
  <span class="blue-grey darken-1 block">المكافآت</span>
</div>
</div>
<div class="col-lg-4 col-md-6 col-xs-12 flexed-row  flexed-around ">
<div class="float-xs-left pl-1">
  <span class="font-large-2 text-bold-300 success">693</span>
</div>
<div class="float-xs-left mt-1 ml-1">
  <span class="blue-grey darken-1 block">اجمالي</span>
  <span class="blue-grey darken-1 block">الخصومات</span>
</div>
</div>
</div>
              </div></div></div>

              <div class="card mb-0" data-head="الخصومات"><div class="card-body"><div class="card-block">
                  <div class="flexed-row flexed-between"><p class="tag-listing-style">
                    الراتب الأساسي :
                     <span>2500 جنيه</span>
                  </p>
                  <p class="tag-listing-style">
                    الخصومات :
                     <span>500 جنيه</span>
                  </p></div>
                  <div class="table-responsive">
<table class="table">
<thead>
<tr>
  <th>التاريخ</th>
  <th>القيمة</th>
  <th>البيان</th>
  <th>المسئول</th>
</tr>
</thead>
<tbody>
<tr>
  <th>25-12-2016</th>
  <td>50 جنيه</td>
  <td>خصم يوم بسبب غياب بدون اذن</td>
  <td>ريان كمال</td>
</tr><tr>
  <th>25-12-2016</th>
  <td>50 جنيه</td>
  <td>خصم يوم بسبب غياب بدون اذن</td>
  <td>ريان كمال</td>
</tr><tr>
  <th>25-12-2016</th>
  <td>50 جنيه</td>
  <td>خصم يوم بسبب غياب بدون اذن</td>
  <td>ريان كمال</td>
</tr><tr>
  <th>25-12-2016</th>
  <td>50 جنيه</td>
  <td>خصم يوم بسبب غياب بدون اذن</td>
  <td>ريان كمال</td>
</tr><tr>
  <th>25-12-2016</th>
  <td>50 جنيه</td>
  <td>خصم يوم بسبب غياب بدون اذن</td>
  <td>ريان كمال</td>
</tr>
</tbody>
</table>
<button type="button" class="btn btn-danger float-xs-right">خصم جديد</button>
</div>
              </div></div></div>

              <div class="card mb-0" data-head="المكافآت"><div class="card-body"><div class="card-block">
                <div class="flexed-row flexed-between"><p class="tag-listing-style">
                  الراتب الأساسي :
                   <span>2500 جنيه</span>
                </p>
                <p class="tag-listing-style">
                  المكافآت :
                   <span>500 جنيه</span>
                </p></div>
                <div class="table-responsive">
<table class="table">
<thead>
<tr>
<th>التاريخ</th>
<th>القيمة</th>
<th>البيان</th>
<th>المسئول</th>
</tr>
</thead>
<tbody>
<tr>
<th>25-12-2016</th>
<td>50 جنيه</td>
<td>مكافأةأسبوع العمال</td>
<td>ريان كمال</td>
</tr>
<tr>
<th>25-12-2016</th>
<td>50 جنيه</td>
<td>مكافأةأسبوع العمال</td>
<td>ريان كمال</td>
</tr><tr>
<th>25-12-2016</th>
<td>50 جنيه</td>
<td>مكافأةأسبوع العمال</td>
<td>ريان كمال</td>
</tr><tr>
<th>25-12-2016</th>
<td>50 جنيه</td>
<td>مكافأةأسبوع العمال</td>
<td>ريان كمال</td>
</tr><tr>
<th>25-12-2016</th>
<td>50 جنيه</td>
<td>مكافأةأسبوع العمال</td>
<td>ريان كمال</td>
</tr><tr>
<th>25-12-2016</th>
<td>50 جنيه</td>
<td>مكافأةأسبوع العمال</td>
<td>ريان كمال</td>
</tr>
</tbody>
</table>
<button type="button" class="btn btn-success float-xs-right">مكافأة جديدة</button>
</div>


              </div></div></div>


            </div>
          </div>
    </div>
</div>

@{import('vendors.min.js')};
