

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">ادارة التشغيل</a>
                </li>
                <li class="breadcrumb-item"><a href="employees.php">الموظفين</a>
                </li>
                <li class="breadcrumb-item active">الأجازات
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">الأجازات</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->
                          
                          <div class="btn-group" role="group" aria-label="Basic example">
                              <div class="btn-group">
                            <button type="button" class="btn btn-icon btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">الحضور والانصراف</a>
                              <a class="dropdown-item" href="#">الأجازات</a>
                              <a class="dropdown-item" href="#">المرتبات</a>
                              <a class="dropdown-item" href="#">المكافئات</a>
                              <a class="dropdown-item" href="#">التقييمات</a>
                            </div>
                          </div>
                              <button type="button" class="btn btn-secondary">ادارة الاجازات</button>
                            <button type="button" class="btn btn-secondary">طلب اجازة</button>
                            </div>
                        </div>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">
            <div class="row">
          <div class="col-xl-4 col-lg-6 col-xs-12">
            <div class="card">
              <div class="card-body">
                <div class="card-block">
                  <div class="media">
                    <div class="media-body text-xs-left">
                      <h3 class="primary">78</h3>
                      <span>اجمالي الموظفين</span>
                    </div>
                    <div class="media-right media-middle">
                      <i class="icon-user-follow primary font-large-2 float-xs-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-xs-12">
            <div class="card">
              <div class="card-body">
                <div class="card-block">
                  <div class="media">
                    <div class="media-body text-xs-left">
                      <h3 class="danger">12</h3>
                      <span>اجازات جارية</span>
                    </div>
                    <div class="media-right media-middle">
                      <i class="icon-social-dropbox danger font-large-2 float-xs-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-xs-12">
            <div class="card">
              <div class="card-body">
                <div class="card-block">
                  <div class="media">
                    <div class="media-body text-xs-left">
                      <h3 class="success">4</h3>
                      <span>اجازات جديدة</span>
                    </div>
                    <div class="media-right media-middle">
                      <i class="icon-layers success font-large-2 float-xs-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card" style="background-color: transparent">
                <div class="card-body">
                  <div class="card-block p-0">
                    <ul class="nav nav-tabs nav-top-border no-hover-bg">
                      <li class="nav-item">
                        <a class="nav-link active" id="base-tab11" data-toggle="tab" aria-controls="tab11" href="#tab11" aria-expanded="false">الأجازات</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="base-tab12" data-toggle="tab" aria-controls="tab12" href="#tab12" aria-expanded="true">ادارة الأجازات</a>
                      </li>
                    </ul>
                    <div class="tab-content pt-1">
                      <div role="tabpanel" class="tab-pane active" id="tab11" aria-expanded="false" aria-labelledby="base-tab11">
                          <div class="row">
          <div class="col-xl-12 col-lg-12 ">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">أجندة الأجازات</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                        <div id='fc-selectable'></div>
                  </div>
                </div>
              </div>
          </div>
        </div>
                          
                          
                          
                          
                          <div class="row">
                <div class="col-xs-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">كشف أجازات الموظفين</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                    <table class="table table-striped table-bordered base-style right">
                      <thead>
                        <tr>
                          <th>كود</th>
                          <th>اسم الموظف</th>
                          <th>أيام العمل</th>
                          <th>أجازة مستحقة</th>
                          <th>أجازة مستهلكة</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>101</td>
                            <td>ريان كمال فهمي</td>
                            <td>125</td>
                            <td>17</td>
                            <td>4</td>
                        </tr>
                                                <tr>
                            <td>101</td>
                            <td>ريان كمال فهمي</td>
                            <td>125</td>
                            <td>17</td>
                            <td>4</td>
                        </tr>
                                                <tr>
                            <td>101</td>
                            <td>ريان كمال فهمي</td>
                            <td>125</td>
                            <td>17</td>
                            <td>4</td>
                        </tr>
                                                <tr>
                            <td>101</td>
                            <td>ريان كمال فهمي</td>
                            <td>125</td>
                            <td>17</td>
                            <td>4</td>
                        </tr>
                        
                        
                        
                        
                        
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>كود</th>
                          <th>اسم الموظف</th>
                          <th>أيام العمل</th>
                          <th>أجازة مستحقة</th>
                          <th>أجازة مستهلكة</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            </div>
                      </div>
                      <div class="tab-pane " id="tab12" aria-labelledby="base-tab12" aria-expanded="true">
                          <div class="row match-height">
            <div class="col-xl-4 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Tab with Underline</h4>
                </div>
                <div class="card-body">
                  <div class="card-block">
                      
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">أنواع الأجازات</h4>
                </div>
                <div class="card-body">
                  <div class="card-block custom-options pt-0" >
                      <div class="custom-options-container mb-1">
                          <span>اجازة عادية<i class="fa fa-times"></i></span>
                          <span>اجازة مرضية<i class="fa fa-times"></i></span>
                          <span>اجازة بدون اذن<i class="fa fa-times"></i></span>
<!--                          <div class="list_empty">
                                  <i class="fa fa-exclamation-circle"></i>
                                  <p>
                                      لم تقم بإدخال أي أنواع
                                  </p>
                              </div>-->
                      </div>
                      <fieldset class="form-group">
                          <input type="text" class="form-control custom-options-input" placeholder="اضافة نوع أجازة جديد">
                        </fieldset>
                  </div>
                </div>
              </div>
                
                <div class="card">
                <div class="card-header">
                  <h4 class="card-title">قانون الأجازات</h4>
                </div>
                <div class="card-body">
                  <div class="card-block " >
                      
                  </div>
                </div>
              </div>
            </div>
                              
                              
          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            
        </div>
    </div>
</div>


<script>
    $(document).on('keyup','.custom-options-input',function(e){
        var code = (e.keyCode ? e.keyCode : e.which );
        var option_value = $(this).val();
        var option_form = '<span>'+option_value+'<i class="fa fa-times"></i></span>';
        if (code == 13 && $.trim(option_value) !== '') { //Enter keycode
            $('.custom-options-container').append(option_form);
            $(this).val('');
            checkOptions();
        }
    });
    
    $(document).on('click','.custom-options-container span i',function(){
        $(this).parent('span').remove();
        checkOptions();
    });
    
    function checkOptions(){
        var listEmpty = '<div class="list_empty"><i class="fa fa-exclamation-circle"></i><p>لم تقم بإدخال أي أنواع</p></div>';
        if($('.custom-options-container span').length < 1){
            $('.custom-options-container').append(listEmpty)
       }else{
           $('.custom-options-container').find('.list_empty').remove();
       }
    }
    </script>
    
