@{import('calendars/fullcalendar.min.css','plugins/calendars/fullcalendar.min.css')}

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">ادارة التشغيل</a>
                </li>
                <li class="breadcrumb-item"><a href="employees.php">الموظفين</a>
                </li>
                <li class="breadcrumb-item active">الأجازات
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">الأجازات</h3>
        </div>
        <div class="content-header-right col-md-6 col-xs-12">
            <div class="form-group" style="text-align: left">
                          <!-- button group -->

                          <div class="btn-group" role="group" aria-label="Basic example">
                              <div class="btn-group">
                            <button type="button" class="btn btn-icon btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">الحضور والانصراف</a>
                              <a class="dropdown-item" href="#">الأجازات</a>
                              <a class="dropdown-item" href="#">المرتبات</a>
                              <a class="dropdown-item" href="#">المكافئات</a>
                              <a class="dropdown-item" href="#">التقييمات</a>
                            </div>
                          </div>
                              <button type="button" class="btn btn-secondary">ادارة الاجازات</button>
                            <button type="button" class="btn btn-secondary">طلب اجازة</button>
                            </div>
                        </div>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-block">
                    <div class="row">
                      <div class="col-lg-4 col-md-6 col-xs-12 border-right-blue-grey border-right-lighten-3 flexed-row flexed-centered flexed-vcentered">
                        <div class="float-xs-left pl-2">
                          <span class="font-large-3 text-bold-300">120</span>
                        </div>
                        <div class="float-xs-left ml-1">
                          <span class="blue-grey darken-1 block">اجمالي</span>
                          <span class="blue-grey darken-1 block">الموظفين</span>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-xs-12 border-right-blue-grey border-right-lighten-3 flexed-row flexed-centered flexed-vcentered">
                        <div class="float-xs-left pl-2">
                          <span class="font-large-3 text-bold-300">12</span>
                        </div>
                        <div class="float-xs-left ml-1">
                          <span class="blue-grey darken-1 block">الاجازات</span>
                          <span class="blue-grey darken-1 block">الجارية</span>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-xs-12 flexed-row flexed-centered flexed-vcentered">
                        <div class="float-xs-left pl-2">
                          <span class="font-large-3 text-bold-300">5</span>
                        </div>
                        <div class="float-xs-left  ml-1">
                          <span class="blue-grey darken-1 block">طلبات</span>
                          <span class="blue-grey darken-1 block">جديدة</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <ul class="nav nav-tabs nav-top-border no-hover-bg">
                      <li class="nav-item">
                        <a class="nav-link active" id="base-tab11" data-toggle="tab" aria-controls="tab11" href="#tab11" aria-expanded="false">أجندة الأجازات</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="base-tab12" data-toggle="tab" aria-controls="tab12" href="#tab12" aria-expanded="true">كشف الأجازات</a>
                      </li>
                    </ul>
                    <div class="tab-content pt-1">
                      <div role="tabpanel" class="tab-pane active" id="tab11" aria-expanded="false" aria-labelledby="base-tab11">
                          <div class="row">
          <div class="col-xl-12 col-lg-12 ">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">أجندة الأجازات</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                        <div class="fullcalendar"></div>
                  </div>
                </div>
              </div>
          </div>
        </div>


                      </div>
                      <div class="tab-pane " id="tab12" aria-labelledby="base-tab12" aria-expanded="true">
                        <div class="row">
              <div class="col-xs-12 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">كشف أجازات الموظفين</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body collapse in">
                  <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <table class="table table-striped table-bordered base-style right">
                    <thead>
                      <tr>
                        <th>كود</th>
                        <th>اسم الموظف</th>
                        <th>أيام العمل</th>
                        <th>أجازة مستحقة</th>
                        <th>أجازة مستهلكة</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <td>125</td>
                          <td>17</td>
                          <td>4</td>
                      </tr>
                                              <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <td>125</td>
                          <td>17</td>
                          <td>4</td>
                      </tr>
                                              <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <td>125</td>
                          <td>17</td>
                          <td>4</td>
                      </tr>
                                              <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <td>125</td>
                          <td>17</td>
                          <td>4</td>
                      </tr>





                    </tbody>
                    <tfoot>
                      <tr>
                        <th>كود</th>
                        <th>اسم الموظف</th>
                        <th>أيام العمل</th>
                        <th>أجازة مستحقة</th>
                        <th>أجازة مستهلكة</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
          </div>
                      </div>
                    </div>
            </div>
            </div>

        </div>
    </div>
</div>


    @{import('vendors.min.js','extensions/moment.min.js','extensions/fullcalendar.min.js')};
<script>
$(function(){
  $('.fullcalendar').fullCalendar();
});
</script>
