/*
NOTE:
------
A FILE FOR RTL SUPPORT RELATED ONLY
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


@font-face {
  font-family: 'dubai';
  src: url('fonts/DubaiW23-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/DubaiW23-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/DubaiW23-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/DubaiW23-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/DubaiW23-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

body, .navigation, .navigation .navigation-header, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .breadcrumb, .header-navbar{
    font-family: dubai !important;
}

.table td, .table th{
        white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
div.dataTables_wrapper div.dataTables_filter label{
    margin: 0px !important;
}
#DataTables_Table_0_filter{
    text-align: left;
}
.table td, .table th{
    padding: auto !important;
}
/*.footer{
    position: absolute;
    width: calc(100% - 240px);
    bottom: 5px;
}*/

table.right tbody tr td, tr th , thead tr th {
    text-align: right !important;
}
table.center tbody tr td, tr th , thead tr th{
    text-align: center !important;
}
.table.right thead th{
    text-align: right !important;
}
.table.right tfoot tr th{
    text-align: right !important;
}
.table-outer{
    padding: 15px;
    padding-top: 0px;
}

.footer-static{
        bottom: 0px;
    position: fixed;
    left: 0px;
    width: calc(100% - 240px);
}

table.treetable tr.expanded span.indenter a{
    background-image: url('../../app-assets/images/treetable/expand.png');
}
table.treetable tr.collapsed span.indenter a{
    background-image: url('../../app-assets/images/treetable/collapse.png');
}

form.form-horizontal .form-group .label-control{
    text-align: right;
}

.tooltip.bs-tether-element-attached-left .tooltip-inner::before, .tooltip.tooltip-right .tooltip-inner::before{
    top: 50%;
    left: 0;
    right: inherit;
    margin-top: -5px;
    content: '';
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
    transform: rotate(180deg);
}
.flex-fill{
    display: flex;
    flex-flow:  row column;
    justify-content: space-between;
    align-items: center;
    position: relative
}
.list_empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    background: #F5F7FA;
    height:100px;
    font-weight: bold;
}
.list_empty p{
    margin: 0px;
}
.list_empty i{
    font-size: 35px;
}
.colored-row{
        margin-bottom: 5px;
    display: flex;
    align-items: center;
    background: #F5F7FA;
    padding: 5px;
}
.extras_head{
    line-height: 2 !important;
}
.extras_head .form-group{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible ;
    top: 0px;
}
.extras_head .form-group .form-control-position{
    top: 2px;
}
.extras_head .form-group .form-control-position i{
    margin-right: 0px;
}
.extras_engine_input{
    overflow: hidden;
    display: none;
}
.engine_collapsed{
    height: 0px !important;
}
.extras_engine_result {
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 5;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    color: #404E67;
    text-align: right;
    list-style: none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    opacity: 0;
}
.extras_engine_result > .option {
width: 100%;
    height: 30px;
    cursor: pointer;
    padding: 3px 10px;
}
.extras_engine_result > .option:hover {
    background-color: #F5F7FA;
}

.extras_engine_input .form-control-position{
    cursor: pointer;
}

.library_list {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
.library_item {
    width: 120px;
    height: 120px;
    background-color: white;
    margin: 4px;
    border-radius: 3px;
    border: 1px solid #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
    cursor: pointer;
    overflow: hidden;
}
.library_item > .item_icon {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.library_item > .item_icon > img {
    width: 65px;
    height: 65%;
    transition: 0.2s;
}
.library_item > .item_name {
    height: calc(25% - 1px);
    border-top: 1px solid #ddd;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.library_item:hover .item_name {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #F5F7FA;
}
.library_item:hover .item_icon > img {
    transform: scale(1.5) rotate(45deg);
}



.scrollbar::-webkit-scrollbar {
    width: 0px;
    background-color: rgba(245, 245, 245, 0);
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(245, 245, 245, 0);
    background-color: rgba(245, 245, 245, 0);
}


.employees-cards .card:hover{
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

ul.duties-options , ul.documents-options{
    padding-right: 30px;
    margin: 5px 0px 0px 0px
}

ul.duties-options .title , ul.documents-options .title{
    margin-right: -30px;
    margin-bottom:0px
}
ul.duties-options li , ul.documents-options li{
    list-style-type: arabic-indic;
}



.salary,.experience{
    display: none;
}
.employee-profile-img .profile-img-upload{
    width: 100%;
    height: 250px;
    padding: .25rem;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    line-height: 3;
    font-size: 20px;
}

.employee-profile-img img{
    width: 100%;
    height: 100%;
    background-color: #FFF;
}
label[for="employee-profile-img"]{
    width: 100%;
    height:250px;
}

.dataTables_info{
    text-align: right;
}
.dataTables_length{
    text-align: right
}


/*
custom-options
*/
.custom-options-container span{
    display: inline-block;
    padding: .35em .4em;
    background-color: #00B5B8;
    color: #FFF;
    text-align: center;
    border-radius: 3px;
    margin: 3px;
}
.custom-options-container span i {
    margin: 0px 5px 0px 0px;
    cursor: pointer;
}







.product-groups{
    display: flex;
        flex-flow: wrap;
        justify-content: flex-start;
}
.product-groups .product-group{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0aa0a3;
    color: #FFF;
    font-size: initial;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.product-groups .product-group:first-of-type{
  margin-right: 0px;
}
.product-groups .product-group p{
    margin: 0px 5px;
}
.product-groups .product-group i{
        /* display: none; */
    background-color: #0000001f;
    /* height: 137%; */
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}
.product-groups .product-group i:hover{
    background-color: #00000059;
}
