/*
NOTE:
------
A FILE FOR RTL SUPPORT RELATED ONLY
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


@font-face {
  font-family: 'dubai';
  src: url('fonts/DubaiW23-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/DubaiW23-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/DubaiW23-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/DubaiW23-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/DubaiW23-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

body, .navigation, .navigation .navigation-header, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .breadcrumb, .header-navbar{
    font-family: dubai !important;
}
.background-main{
  background-color: #F5F7FA;
}
.btns-2group button{
  width: calc(50% - 5px);
}
.no-margin{
    margin: 0px;
}
.height-100{
    height: 100% !important;
}
.nav.nav-pills.nav-pill-toolbar.nav-stacked .nav-item~.nav-item a.nav-link{
    border-right: 1px solid #edeff2;
}
.nav.nav-pills.nav-pill-toolbar .nav-item a.nav-link{
    border: 1px solid #edeff2;
}



.custom-file-control, .custom-file-control::before{
    height: 3rem;
}
.table td, .table th{
        white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
div.dataTables_wrapper div.dataTables_filter label{
    margin: 0px !important;
}
#DataTables_Table_0_filter{
    text-align: left;
}
.table td, .table th{
    padding: auto !important;
}
/*.footer{
    position: absolute;
    width: calc(100% - 240px);
    bottom: 5px;
}*/

table.right tbody tr td, tr th , thead tr th {
    text-align: right !important;
}
table.center tbody tr td, tr th , thead tr th{
    text-align: center !important;
}
.table.right thead th{
    text-align: right !important;
}
.table.right tfoot tr th{
    text-align: right !important;
}
.table-outer{
    padding: 15px;
    padding-top: 0px;
}

.footer-static{
        bottom: 0px;
    position: fixed;
    left: 0px;
    width: calc(100% - 240px);
}

table.treetable tr.expanded span.indenter a{
    background-image: url('../../app-assets/images/treetable/expand.png');
}
table.treetable tr.collapsed span.indenter a{
    background-image: url('../../app-assets/images/treetable/collapse.png');
}

form.form-horizontal .form-group .label-control{
    text-align: right;
}

.tooltip.bs-tether-element-attached-left .tooltip-inner::before, .tooltip.tooltip-right .tooltip-inner::before{
    top: 50%;
    left: 0;
    right: inherit;
    margin-top: -5px;
    content: '';
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
    transform: rotate(180deg);
}
.flex-fill{
    display: flex;
    flex-flow:  row column;
    justify-content: space-between;
    align-items: center;
    position: relative
}
.list_empty{
  display: flex;
justify-content: center;
align-items: center;
flex-flow: column wrap;
width: 100%;
background: #F5F7FA;
height: auto;
font-weight: bold;
padding: 20px;
}
.list_empty p{
    margin: 0px;
}
.list_empty i{
    font-size: 35px;
        margin: 5px;

}
.colored-row{
        margin-bottom: 5px;
    display: flex;
    align-items: center;
    background: #F5F7FA;
    padding: 5px;
}
.extras_head{
    line-height: 2 !important;
}
.extras_head .form-group{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible ;
    top: 0px;
}
.extras_head .form-group .form-control-position{
    top: 2px;
}
.extras_head .form-group .form-control-position i{
    margin-right: 0px;
}
.extras_engine_input{
    overflow: hidden;
    display: none;
}
.engine_collapsed{
    height: 0px !important;
}
.extras_engine_result {
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 5;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    color: #404E67;
    text-align: right;
    list-style: none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    opacity: 0;
}
.extras_engine_result > .option {
width: 100%;
    height: 30px;
    cursor: pointer;
    padding: 3px 10px;
}
.extras_engine_result > .option:hover {
    background-color: #F5F7FA;
}

.extras_engine_input .form-control-position{
    cursor: pointer;
}

.library_list {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
.library_item {
    width: 120px;
    height: 120px;
    background-color: white;
    margin: 4px;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
    cursor: pointer;
    overflow: hidden;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}

.library_item > .item_icon {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
        overflow: hidden;
}
.library_item > .item_icon > img {
    width: 65px;
    height: 65%;
    transition: 0.2s;
}
.library_item > .item_name {
    height: 25%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fa;
}

.library_item:hover {
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}
.library_item:hover .item_icon > img {
    transform: scale(1.3) rotate(20deg);
}



.scrollbar::-webkit-scrollbar {
    width: 0px;
    background-color: rgba(245, 245, 245, 0);
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(245, 245, 245, 0);
    background-color: rgba(245, 245, 245, 0);
}


.employees-cards .card:hover{
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

ul.duties-options , ul.documents-options{
    padding-right: 30px;
    margin: 5px 0px 0px 0px
}

ul.duties-options .title , ul.documents-options .title{
    margin-right: -30px;
    margin-bottom:0px
}
ul.duties-options li , ul.documents-options li{
    list-style-type: arabic-indic;
}



.salary,.experience{
    display: none;
}
.employee-profile-img .profile-img-upload{
    width: 100%;
    height: 250px;
    padding: .25rem;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    line-height: 3;
    font-size: 20px;
}

.employee-profile-img img{
    width: 100%;
    height: 100%;
    background-color: #FFF;
}
label[for="employee-profile-img"]{
    width: 100%;
    height:250px;
}

.dataTables_info{
    text-align: right;
}
.dataTables_length{
    text-align: right
}


/*
custom-options
*/
.custom-options-container span{
    display: inline-block;
    padding: .35em .4em;
    background-color: #00B5B8;
    color: #FFF;
    text-align: center;
    border-radius: 3px;
    margin: 3px;
}
.custom-options-container span i {
    margin: 0px 5px 0px 0px;
    cursor: pointer;
}







.product-groups{
    display: flex;
        flex-flow: wrap;
        justify-content: flex-start;
}
.product-groups .product-group{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0aa0a3;
    color: #FFF;
    font-size: initial;
    border-radius: 3px;
    margin: 5px;
}
.product-groups .product-group:first-of-type{
  margin-right: 0px;
}
.product-groups .product-group p{
    margin: 0px 5px;
}
.product-groups .product-group i{
        /* display: none; */
    background-color: #0000001f;
    /* height: 137%; */
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.product-groups .product-group i:hover{
    background-color: #00000059;
}

.medical-float {
  float: left;
}



.dropdown-menu{
  border: 0px;
border-radius: .25rem;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
border-radius: 3px;
}
.dropdown-item{
  padding:10px 20px;
}




/*
* list_library deign
*/

.preview_item_header{
  width: 108%;
  height: 130px;
  margin-right: -14.5px;
  margin-top: -15px
}
.preview_item_header .header_data{
  width: 100%;
    height: 100%;
    background-image: url('/images/carousel/sandwich.png');
    background-size: 25% 100%;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preview_item_header .header_data .header_words{
  width: 75%;
height: auto;
max-height: 100%;
background: #00000021;
color: #fff;
padding: 5px;
margin-right: -10px;
}
.preview_item_list{
  padding: 10px 0px;
}
.preview_item_list span{
    display: inline-block;
    padding: 0px 10px;
    background-color: #09979a24;
    color: #0cb1b4;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    border-radius: 3px;
    cursor: default;
}



.tag-listing-style span{
  padding: 0px 5px;
background-color: #11d19552;
border-radius: 3px;
}
.tag-listing-style span:first-of-type{
  margin-left: 5px;
}
.tag-listing-style span + span{
  margin-left: 5px;
}

/*
*flexd style
*/
.flexed-row{
    display: flex;
    flex-flow: row wrap;
  }
.flexed-column{
  display: flex;
  flex-flow: column wrap;
}
.flexed-between{
  justify-content: space-between;
}
.flexed-around{
  justify-content: space-around;
}
.flexed-centered{
  justify-content:center;
}
.flexed-vcentered{
  align-items: center;
}



/*
*/
.default-shadow{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    border: none;
}
#scrolldown{
    display: flex;
    justify-content: center;
}
#scrolldown a {
  padding-top: 60px;
}
#scrolldown a span {
position: absolute;
    bottom: 35px;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -12px;
    border-left: 2px solid #1b2332;
    border-bottom: 2px solid #1b2332;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


/**
*custom tabs
*/


.tab-slider--nav {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.tab-slider--nav.filled{
    margin-top: -10px;
    margin-left: -10px;
    width: calc(105% + 1px);
}

.tab-slider--tabs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  overflow: hidden;
  background: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tab-slider--tabs .after {
  content: "";
  width: 33.33%;
  background: #2c3955;
  height: 100%;
  position: absolute;
  top: 0;
  left: 66.66%;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.tab-slider--trigger {
    width:33.33%;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: #2c3955;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tab-slider--trigger.active {
  color: #fff;
}

.tab-slider--body {
  margin-top: 35px;
  display: none;
}



/**
permission-cards design
*/

.permission-cards .permission-card{
    width: 100%;
    height: 70px;
    padding: 10px 0px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: 0.3s;
}
.permission-cards .permission-card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.09), 0 4px 6px 0 rgba(0, 0, 0, 0.08);
}
.permission-cards .permission-card .permission-part{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.permission-cards .permission-card .permission-part.id{
    width: 25%;
    
}
.permission-cards .permission-card .permission-part.id p{
    margin: 0px;
    /* padding: 5px; */
    background: #11d195;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.permission-cards .permission-card .permission-part.data{
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    font-weight: bold;
}
.permission-cards .permission-card .permission-part.data p{
    margin: 0px;
}
.permission-header{
    padding: 5px 0px;
    border-bottom: 1px solid #F5F7FA;
    margin-bottom: 5px;
    font-weight: bold;
}



/**
*inventory card design
*/
.inventory-card{
    width:150px;
    height:150px;
    cursor: pointer;
    transition: 0.3s;
}
.inventory-card:first-child{
    margin-left: 15px;
}
.inventory-card + .inventory-card{
    margin-left: 15px;
}
.inventory-card:not(.new){
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}
.inventory-card:hover{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    border: none;
}
.inventory-card .card-block{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.inventory-card .card-block i{
    font-size: 25px;
    margin-bottom: 1rem
}

.inventory-card.new {
    background-color: transparent;
    border: 1px dashed #ddd;
}
.inventory-card.new .card-block{
    font-weight: bold;
}


/*
*inventory
*/

span.color-platte{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
}


/**/
.button-wrap {
    position: relative;
  }
  @media (max-width: 40em) {
    .button-wrap {
      margin-top: -1.5em;
    }
  }
  
  .button-label {
    display: inline-block;
    padding: 1em 2em;
    margin: 0.5em;
    cursor: pointer;
    color: #292929;
    border-radius: 0.25em;
    background: #efefef;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .button-label h1 {
    font-size: 1em;
    font-family: "Lato", sans-serif;
  }
  .button-label:hover {
    background: #d6d6d6;
    color: #101010;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
  }
  .button-label:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
  }
  @media (max-width: 40em) {
    .button-label {
      padding: 0em 1em 3px;
      margin: 0.25em;
    }
  }
  
  .button-flat input:checked + .button-label {
    background: #0aa0a3;
    color: #efefef;
  }
.button-flat input:checked + .button-label:hover {
    background: #0aa0a3;
    color: #e2e2e2;
  }
  
  .hidden {
    display: none;
  }
  

  /** button */
  .cf label{
    position: relative;
    color: #535f76;
    background-color: #eee;
    text-align: center;
    /* height: 150px; */
    /* line-height: 150px; */
    display: inline-block;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem 2rem;
    transition: 0.3s ;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);

    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.cf label:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
  }
.cf input{
    display: none;
}

.cf .plan input:disabled + label{
    color: #535f7633;
    cursor: not-allowed;
    box-shadow: 0 0px 0px;
}

.cf .plan input:checked + label{
    background-color: #0aa0a3;
    color: #FFF;
}

.cf .plan input:checked + label:after{
	content: "\2713";
	width: 40px;
	height: 40px;
    line-height: 40px;
    color: #FFF;
    border:3px solid #fff;
	border-radius: 100%;
	background-color: #0aa0a3;
	z-index: 999;
	position: absolute;
	top: -10px;
	right: -10px;
}


/**
button
*/
.radio-group input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  
  .radio-group label {
    color: #0cb1b4;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0px;
  }
  
  .radio-group input[type=radio]:checked + label {
    color: #ffffff;
    background: #0cb1b4;
  }
  
 
  
  .radio-group {
    border: solid 1px #ebeef0;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  