


<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">ادارة المخازن</a>
                </li>
                <li class="breadcrumb-item active">تقارير المخازن
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">تقارير المخازن</h3>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                  <div class="card">
                    <div class="card-header no-border-bottom">
                      <h4 class="card-title">نظرة عامة</h4>
                      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                      <div class="heading-elements">
                        <ul class="list-inline mb-0">
                          <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                          <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-body collapse in">
                      <div class="card-block">
                        <canvas id="inventories" class="mb-1" style="height:300px !important; width:100%;"></canvas>
                        <div class="row my-1">
                            <div class="col-lg-4 col-xs-12">
                              <div class="text-xs-center">
                                <h3>@{model.inventories_data.length}</h3>
                                <p class="text-muted">اجمالي المخازن 
                                </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <div class="text-xs-center">
                                  <h3>15050 جنيه</h3>
                                  <p class="text-muted">اجمالي المخزون 
                                    <span class="success"><i class="ft-arrow-up"></i> 1.16%</span>
                                  </p>
                                  </div>
                              </div>
                            <div class="col-lg-4 col-xs-12">
                              <div class="text-xs-center">
                                <h3>6,630</h3>
                                <p class="text-muted">اجمالي الأصناف 
                                  <span class="success">( +354 هذا الاسبوع )</span>
                                </p>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-xs-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">بيانات المخازن</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                      <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard" style="padding-top: 0px;">
                      <table class="table table-striped table-bordered base-style">
                        <thead>
                          <tr>
                            <th>كود</th>
                            <th>اسم المخزن</th>
                            <th>اجمالي المخزون</th>
                            <th>اجمالي الأصناف</th>
                            <th>اجمالي الواردات</th>
                            <th>اجمالي الصادرات</th>
                            <th>اجمالي الهوالك</th>
                            <th>اجمالي المرتجعات</th>
                          </tr>
                        </thead>
                        <tbody>
                            @{foreach inventory in model.inventories_data}
                            <tr>
                                <td>@{inventory.id}</td>
                                <td>@{inventory.i_name}</td>
                                <td>
                                    @{if inventory.total_values > 0}@{inventory.total_values} جنيه @{fi}
                                    @{if !inventory.total_values > 0}--- @{fi}
                                </td>
                                <td>@{inventory.total_items}</td>
                                <td>
                                        @{if inventory.total_incoming > 0}@{inventory.total_incoming} جنيه @{fi}
                                        @{if !inventory.total_incoming > 0}--- @{fi}
                               </td>
                               <td>
                                    @{if inventory.total_outcoming > 0}@{inventory.total_outcoming} جنيه @{fi}
                                    @{if !inventory.total_outcoming > 0}--- @{fi}
                           </td>
                               <td>
                                    @{if inventory.total_destroied > 0}@{inventory.total_destroied} جنيه @{fi}
                                    @{if !inventory.total_destroied > 0}--- @{fi}
                           </td>
                                <td>
                                    @{if inventory.total_returned > 0}@{inventory.total_returned} جنيه @{fi}
                                    @{if !inventory.total_returned > 0}--- @{fi}
                           </td>
                            </tr>
                            @{end}
                        </tbody>
                        <tfoot>
                            <tr>
                            <th>كود</th>
                            <th>اسم المخزن</th>
                            <th>اجمالي المخزون</th>
                            <th>اجمالي الأصناف</th>
                            <th>اجمالي الواردات</th>
                            <th>اجمالي الصادرات</th>
                            <th>اجمالي الهوالك</th>
                            <th>اجمالي المرتجعات</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              </div>




              <div class="row">
                  <div class="col-xs-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">تهديدات الصلاحيات</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                      <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard" style="padding-top: 0px;">
                        <div class="row">
                            <div class="col-md-5">
                                <canvas id="expires" class="mb-3" style="height:300px !important; width:100%;"></canvas>
                                <table class="table table-striped table-bordered ">
                                        <thead>
                                          <tr>
                                            <th>اسم المخزن</th>
                                            <th>الأصناف المهددة</th>
                                            <th>النسبة</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            @{foreach row in model.inventories_expiry2}
                                            <tr style="display: table-row;">
                                                <td>@{row.i_name}</td>
                                                <td>@{row.count}</td>
                                                <td>@{row.percent} %</td>
                                            </tr>
                                            @{end}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>اسم المخزن</th>
                                                <th>قيمة المنصرفات</th>
                                                <th>النسبة</th>
                                              </tr>
                                        </tfoot>
                                      </table>
                              </div>
                              <div class="col-md-7">
                                  <table class="table table-striped table-bordered base-style">
                                      <thead>
                                        <tr>
                                          <th>كود</th>
                                          <th>الصنف</th>
                                          <th>الكمية</th>
                                          <th>المخزن</th>
                                          <th>باقي من الأيام</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          @{foreach row in model.inventories_expiry}
                                          <tr style="display: table-row;">
                                              <td>
                                                  @{row.id}
                                              </td>
                                              <td>
                                                    @{row.name}
                                              </td>
                                              <td>
                                                    @{row.amount} @{row.module}
                                              </td>
                                              <td>
                                                    @{row.i_name}
                                              </td>
                                              <td>
                                                    @{row.still.days} يوم و @{row.still.hours} ساعة
                                              </td>
                                          </tr>
                                          @{end}
                                      </tbody>
                                      <tfoot>
                                            <tr>
                                          <th>كود</th>
                                          <th>الصنف</th>
                                          <th>الكمية</th>
                                          <th>المخزن</th>
                                          <th>باقي من الأيام</th>
                                        </tr>
                                      </tfoot>
                                    </table>
                              </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>





              <div class="row">
                  <div class="col-xs-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">قيم المخزون</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                      <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-dashboard" style="padding-top: 0px;">
                        <div class="row">
                            <div class="col-md-5">
                                <canvas id="amounts" class="mb-1" style="height:300px !important; width:100%;"></canvas>
                              </div>
                              <div class="col-md-7">
                                  <table class="table table-striped table-bordered base-style">
                                      <thead>
                                        <tr>
                                          <th>اسم المخزن</th>
                                          <th>قيمة المخزون</th>
                                          <th>عدد الأصناف</th>
                                          <th>النسبة</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          @{foreach row in model.inventories_values}
                                          <tr style="display: table-row;">
                                              <td>@{row.i_name}</td>
                                              <td>@{row.total_values} جنيه</td>
                                              <td>@{row.total_items}</td>
                                              <td>@{row.percent} %</td>
                                          </tr>
                                          @{end}
                                      </tbody>
                                      <tfoot>
                                          <tr>
                                              <th>اسم المخزن</th>
                                              <th>قيمة المخزون</th>
                                              <th>عدد الأصناف</th>
                                              <th>النسبة</th>
                                            </tr>
                                      </tfoot>
                                    </table>
                              </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>



            <div class="row">
          <div class="col-xl-6 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">قيم الواردات</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                        <canvas id="incoming" class="mb-1" style="height:300px !important; width:100%;"></canvas>
                    <table class="table table-striped table-bordered base-style">
                        <thead>
                          <tr>
                            <th>اسم المخزن</th>
                            <th>قيمة الواردات</th>
                            <th>النسبة</th>
                          </tr>
                        </thead>
                        <tbody>
                                @{foreach row in model.inventories_incoming}
                                <tr style="display: table-row;">
                                    <td>@{row.i_name}</td>
                                    <td>@{row.total} جنيه</td>
                                    <td>@{row.percent} %</td>
                                </tr>
                                @{end}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>اسم المخزن</th>
                                <th>قيمة الواردات</th>
                                <th>النسبة</th>
                              </tr>
                        </tfoot>
                      </table>
                </div>
                </div>
              </div>
          </div>



          <div class="col-xl-6 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">قيم المنصرفات</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                    
                    <div class="card-block card-dashboard" style="padding-top: 0px;">
                        <canvas id="outcoming" class="mb-1" style="height:300px !important; width:100%;"></canvas>
                    <table class="table table-striped table-bordered base-style">
                        <thead>
                          <tr>
                            <th>اسم المخزن</th>
                            <th>قيمة المنصرفات</th>
                            <th>النسبة</th>
                          </tr>
                        </thead>
                        <tbody>
                            @{foreach row in model.inventories_outcoming}
                            <tr style="display: table-row;">
                                <td>@{row.i_name}</td>
                                <td>@{row.total} جنيه</td>
                                <td>@{row.percent} %</td>
                            </tr>
                            @{end}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>اسم المخزن</th>
                                <th>قيمة المنصرفات</th>
                                <th>النسبة</th>
                              </tr>
                        </tfoot>
                      </table>
                </div>
                </div>
              </div>
          </div>
        </div>


        </div>
    </div>
</div>
@{import('vendors.min.js')}
@{json(model.inventories_expiry2, 'expires_chart')}
@{json(model.inventories_values, 'amounts_chart')}
@{json(model.inventories_incoming, 'incoming_chart')}
@{json(model.inventories_outcoming, 'outcoming_chart')}

<script>


$(function(){
  

/**
 * inventories
 * */
  var ctx = document.getElementById("inventories").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["يناير", "فبراير", "مارس", "أبريل", "مايو", "يونيه"],
          datasets: [
          {
              label: 'المخزن الرئيسي ',
              data: [200, 214, 113, 213, 185, 160],
              backgroundColor: 'rgba(17, 209, 149, 0.3215686274509804)',
              borderColor: '#41efb9',
              borderWidth: 1
          },
            {
              label: 'فرع السلام ',
              data: [90, 95, 97, 96, 97, 94],
              backgroundColor: '#daf2f2',
              borderColor: '#76d0d0',
              borderWidth: 1
          },
          {
              label: 'فرع الهرم ',
              data: [10, 5, 3, 4, 3, 6],
              backgroundColor: '#ffdfe5',
              borderColor: '#fe6c8b',
              borderWidth: 1
          }
          
          ]
      },
      options: {
          legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: '#404E67',
                fontFamily: 'dubai'
            }
        },
        tooltips: {
          bodyFontFamily: 'dubai',
          titleFontFamily: 'dubai'
        }
      }
  });



  /**
   * expires
   * */
   var ctx = document.getElementById("expires").getContext('2d');
   var expires_data = JSON.parse($('#expires_chart').text());
   var expires_labels = [];
   var expires_values = [];
   for(var i = 0; i < expires_data.length; i ++){
    expires_labels.push(expires_data[i].i_name);
    expires_values.push(expires_data[i].percent);
   }
   var myChart = new Chart(ctx, {
       type: 'pie',
       data: {
           labels: expires_labels,
           datasets: [
           {
               label: 'نسبة التهديدات',
               data: expires_values,
               backgroundColor: ['#00A5A8', '#626E82', '#FF7D4D'],
               borderWidth: 1
           }
           ]
       },
       options: {
           legend: {
             labels: {
                 // This more specific font property overrides the global property
                 fontColor: '#404E67',
                 fontFamily: 'dubai'
             }
         },
         tooltips: {
           bodyFontFamily: 'dubai',
           titleFontFamily: 'dubai'
         }
       }
   });



   /**
   * amounts
   * */
   var ctx = document.getElementById("amounts").getContext('2d');
   var amounts_data = JSON.parse($('#amounts_chart').text());
   var amounts_labels = [];
   var amounts_values = [];
   for(var i = 0; i < amounts_data.length; i ++){
    amounts_labels.push(amounts_data[i].i_name);
    amounts_values.push(amounts_data[i].percent);
   }
   var myChart = new Chart(ctx, {
       type: 'pie',
       data: {
           labels: amounts_labels,
           datasets: [
           {
               label: 'نسبة التهديدات',
               data: amounts_values,
               backgroundColor: ['#00A5A8', '#626E82', '#FF7D4D'],
               borderWidth: 1
           }
           ]
       },
       options: {
           legend: {
             labels: {
                 // This more specific font property overrides the global property
                 fontColor: '#404E67',
                 fontFamily: 'dubai'
             }
         },
         tooltips: {
           bodyFontFamily: 'dubai',
           titleFontFamily: 'dubai'
         }
       }
   });




   /**
   * incoming
   * */
   var ctx = document.getElementById("incoming").getContext('2d');
   var incoming_data = JSON.parse($('#incoming_chart').text());
   var incoming_labels = [];
   var incoming_values = [];
   for(var i = 0; i < incoming_data.length; i ++){
    incoming_labels.push(incoming_data[i].i_name);
    incoming_values.push(incoming_data[i].percent);
   }
   var myChart = new Chart(ctx, {
       type: 'pie',
       data: {
           labels: incoming_labels,
           datasets: [
           {
               label: 'نسبة التهديدات',
               data: incoming_values,
               backgroundColor: ['#00A5A8', '#626E82', '#FF7D4D'],
               borderWidth: 1
           }
           ]
       },
       options: {
           legend: {
             labels: {
                 // This more specific font property overrides the global property
                 fontColor: '#404E67',
                 fontFamily: 'dubai'
             }
         },
         tooltips: {
           bodyFontFamily: 'dubai',
           titleFontFamily: 'dubai'
         }
       }
   });



    /**
   * outcoming
   * */
   var ctx = document.getElementById("outcoming").getContext('2d');
   var outcoming_data = JSON.parse($('#outcoming_chart').text());
   var outcoming_labels = [];
   var outcoming_values = [];
   for(var i = 0; i < outcoming_data.length; i ++){
    outcoming_labels.push(outcoming_data[i].i_name);
    outcoming_values.push(outcoming_data[i].percent);
   }
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: outcoming_labels,
          datasets: [
          {
              label: 'نسبة التهديدات',
              data: outcoming_values,
              backgroundColor: ['#00A5A8', '#626E82', '#FF7D4D'],
              borderWidth: 1
          }
          ]
      },
      options: {
          legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: '#404E67',
                fontFamily: 'dubai'
            }
        },
        tooltips: {
          bodyFontFamily: 'dubai',
          titleFontFamily: 'dubai'
        }
      }
  });

});








</script>