<div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-2">
              <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-xs-12">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.php">الرئيسية</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">ادارة المخازن</a>
                    </li>
                    <li class="breadcrumb-item active">عرض المخازن
                    </li>
                  </ol>
                </div>
              </div>
              <h3 class="content-header-title mb-0">عرض المخازن</h3>
            </div>
          </div>
          <div class="content-header row">
          </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 flexed-row">
                            <div class="inventory-card card">
                                    <div class="card-body height-100">
                                        <div class="card-block height-100">
                                                <i class="icon-grid"></i>
                                                <p class="no-margin">
                                                    المخزن الرئيسي
                                                </p>
                                        </div>
                                    </div>
                                </div>
                        <div class="inventory-card card new">
                                <div class="card-body height-100">
                                    <div class="card-block height-100">
                                            <i class="icon-plus"></i>
                                            <p class="no-margin">
                                                مخزن جديد
                                            </p>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
            </div>
            </div>
            </div>
            




<!--div class="app-content content container-fluid height-100">
        <div class="content-wrapper height-100">
            <div class="content-body height-100">
                <div class="row height-100">
                    <div class="col-md-12 height-100">
                            <div class="card height-100">
                                    <div class="card-body height-100">
                                        <div class="card-block height-100 flexed-column flexed-centered flexed-vcentered" style="text-align:center;">
                                            <h3 class="mb-1">
                                                قد تكون هذه هي المرة الأولى التي تستخدم فيها نظام ادارة المخازن الخاص بنا 
                                                <br>
                                                يمكنك البدء بإنشاء مخزنك الأول بالضغط على الزر أدناه
                                            </h3>
                                            <button type="button" class="btn btn-outline-secondary btn-lg mb-3">انشاء مخزني الأول الآن</button>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
</div-->




@{import('vendors.min.js')};