.image_upload{
  width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
}
.image_upload label{
  width: 50%;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
background: #f5f7fa;
border-radius: 50%;
border: 1px solid #d0d4dc;
font-size: 30px;
margin: 0px;
cursor: pointer;
}
.image_upload label i{
transition: 0.3s linear
}
.image_upload label:hover i{
  transform: scale(1.3);
}
