<style>

</style>


<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-header row">
    </div>

      <div class="content-body">

        <div id="user-profile">
          <div class="row">
            <div class="col-xs-12">
            <div class="card profile-with-cover">
              <div class="card-img-top img-fluid bg-cover height-300" style="background: url('/images/souq/22.jpg') 50%;"></div>
              <div class="media profil-cover-details">
                <div class="media-left pl-2 pt-2">
                  <a href="#" class="profile-image">
                    <img src="/images/souq/avatar-s-8.png" class="rounded-circle img-border height-100"
                    alt="Card image">
                  </a>
                </div>
                <div class="media-body media-middle row">
                  <div class="col-xs-6">
                    <h3 class="card-title">شركة سما للتجارة</h3>
                  </div>
                  <div class="col-xs-6 text-xs-right">
                    <button type="button" class="btn btn-primary hidden-xs-down"><i class="fa fa-plus"></i> متابعة</button>
                    <div class="btn-group hidden-md-down" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-success"><i class="fa fa-dashcube"></i> رسالة</button>
                      <button type="button" class="btn btn-success"><i class="fa fa-cog"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="navbar navbar-light navbar-profile">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse"
                data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2"
                aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                  <ul class="nav navbar-nav float-xs-right">
                    <li class="nav-item active">
                      <a class="nav-link" href="#"><i class=""></i> الرئيسية <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class=""></i> الطلبات</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class=""></i> الماليات</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class=""></i> الاعدادات</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>



            </div>
         </div>
      </div>
    </div>
  </div>
