@{import('pages/users.min.css')};
@{import('custom_plugins/image_upload.css')};




<style>

.opened {
  height: 110px;
  text-align: center;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}

.code p {
  line-height: 100px;
  margin-top: 3px;
  font-size: 40px;
  width: 50%;
}

.tag {
  padding: 0 !important;
}

.details p:first-child {
  font-size: 30px
}

.details div:last-child {
  font-size: 20px;
}

.details {
  border-left: 2px solid rgba(0, 0, 0, 0.06);
  border-right: 2px solid rgba(0, 0, 0, 0.06);
  line-height: 40px;
}

.quantity p:first-child {
  font-size: 30px;
}

.quantity p:last-child {
  font-size: 28px;
  width: 20%;
  line-height: 40px;
}

.quantity {
  line-height: 40px;
}

.permission-cards .permission-card .permission-part.id {
    width: 25%;
}

.permission-cards .permission-card .permission-part.data {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    font-weight: bold;
}

.permission-cards .permission-card .permission-part.id p {
    margin: 0px;
    background: #11d195;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.permission-card,
.permission-cards {
  width: 100%;
height: 70px;
padding: 10px 0px;
background-color: #fff;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
border-radius: 3px;
border: none;
margin-bottom: 10px;
display: flex;
align-items: center;
justify-content: flex-start;
cursor: pointer;
transition: 0.3s;

}




.profile-tab{
  display: none;
}

.card-title h2 {
  margin-bottom: px;
}

</style>

<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-header row">
    </div>

      <div class="content-body">

        <div id="user-profile">
          <div class="row">
            <div class="col-xs-12">
            <div class="card profile-with-cover">
              <div class="card-img-top img-fluid bg-cover height-300" style="background: url('/images/souq/22.jpg') 50%;"></div>
              <div class="media profil-cover-details">
                <div class="media-left pl-2 pt-2">
                  <a href="#" class="profile-image">
                    <img src="/images/souq/avatar-s-8.png" class="rounded-circle img-border height-100"
                    alt="Card image">
                  </a>
                </div>
                <div class="media-body media-middle row">
                  <div class="col-xs-6">
                    <h3 class="card-title">شركة سما للتجارة</h3>
                  </div>
                  <div class="col-xs-6 text-xs-right">
                    <button type="button" class="btn btn-primary hidden-xs-down"><i class="fa fa-plus"></i> أضف صنف</button>
                    <div class="btn-group hidden-md-down" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-success"><i class="fa fa-dashcube"></i> رسالة</button>
                      <button type="button" class="btn btn-success"><i class="fa fa-cog"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="navbar navbar-light navbar-profile">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse"
                data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2"
                aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                  <ul class="nav navbar-nav float-xs-right profile-tabs">
                    <li class="nav-item action" data-tab="personal-tab">
                      <a class="nav-link" href="#" ><i class=""></i> الرئيسية </a>
                    </li>
                    <li class="nav-item" data-tab="tybes-tab">
                      <a class="nav-link" href="#" ><i class=""></i> الأصناف </a>
                    </li>
                    <li class="nav-item" data-tab="orders-tab">
                      <a class="nav-link" href="#"><i class=""></i> الطلبات</a>
                    </li>
                    <li class="nav-item" data-tab="finances-tab">
                      <a class="nav-link" href="#"><i class=""></i> الماليات</a>
                    </li>
                    <li class="nav-item" data-tab="settings">
                      <a class="nav-link" href="#"><i class=""></i> الاعدادات</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>


            </div>
         </div>

     <!-- main tab -->
     <div class="col-lg-12 profile-tab" data-tab="personal-tab">
       <div class="row">

         <div class="col-xl-3 col-lg-6 col-xs-12">
              <div class="card bg-primary">
                <div class="card-body">
                  <div class="card-block">
                    <div class="media">
                      <div class="media-left media-middle">
                        <i class="icon-pencil white font-large-2 float-xs-left"></i>
                      </div>
                      <div class="media-body white text-xs-right">
                        <h3>278</h3>
                        <span>اجمالى المبيعات</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-xs-12">
                 <div class="card bg-danger">
                   <div class="card-body">
                     <div class="card-block">
                       <div class="media">
                         <div class="media-left media-middle">
                           <i class="icon-list white font-large-2 float-xs-left"></i>
                         </div>
                         <div class="media-body white text-xs-right">
                           <h3>5</h3>
                           <span>اجمالى الأصناف</span>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>

               <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card bg-warning">
                      <div class="card-body">
                        <div class="card-block">
                          <div class="media">
                            <div class="media-left media-middle">
                              <i class="icon-layers white font-large-2 float-xs-left"></i>
                            </div>
                            <div class="media-body white text-xs-right">
                              <h3>23</h3>
                              <span>اجمالى الطلبات</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-xs-12">
                       <div class="card bg-success">
                         <div class="card-body">
                           <div class="card-block">
                             <div class="media">
                               <div class="media-left media-middle">
                                 <i class="icon-credit-card white font-large-2 float-xs-left"></i>
                               </div>
                               <div class="media-body white text-xs-right">
                                 <h3>675</h3>
                                 <span>اجمالى الارباح</span>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>

       </div>

       <!-- Column Chart -->
          <div class="row">
            <div class="col-xs-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title"></h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body collapse in">
                  <div class="card-block">
                    <canvas id="myChart" class="mb-1" style="height:300px !important; width:100%;"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- transcations -->
          <div class="row">
              <div class="col-xs-12 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">سجل حركة الحساب</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body collapse in">
                  <div class="card-block card-dashboard" style="padding-top: 0px;">
                  <table class="table table-striped table-bordered base-style right">
                    <thead>
                      <tr>
                        <th>كود</th>
                        <th>اسم المشترى</th>
                        <th>تاريخ الشراء</th>
                        <th>توقيت الشراء</th>
                        <th>الكمية</th>
                        <th>اجمالى المبيعات</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <th>11/8/2017</th>
                          <td>13:26</td>
                          <td>15</td>
                          <td>750</td>
                      </tr>
                      <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <th>11/8/2017</th>
                          <td>13:26</td>
                          <td>15</td>
                          <td>750</td>
                      </tr>
                      <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <th>11/8/2017</th>
                          <td>13:26</td>
                          <td>15</td>
                          <td>750</td>
                      </tr>
                      <tr>
                          <td>101</td>
                          <td>ريان كمال فهمي</td>
                          <th>11/8/2017</th>
                          <td>13:26</td>
                          <td>15</td>
                          <td>750</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>كود</th>
                        <th>اسم المشترى</th>
                        <th>تاريخ الشراء</th>
                        <th>توقيت الشراء</th>
                        <th>الكمية</th>
                        <th>اجمالى المبيعات</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            </div>
            </div>


     </div>


     <!-- tybes tab -->
     <div class="col-lg-12 profile-tab" data-tab="tybes-tab" id="tybes-tab">

       <div class="row">

         <div class="col-xl-4 col-lg-6 col-xs-12">
              <div class="card bg-danger">
                <div class="card-body">
                  <div class="card-block">
                    <div class="media">
                      <div class="media-left media-middle">
                        <i class="icon-list white font-large-2 float-xs-left"></i>
                      </div>
                      <div class="media-body white text-xs-right">
                        <h3>5</h3>
                        <span>اجمالى الأصناف</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-xs-12">
                 <div class="card bg-primary">
                   <div class="card-body">
                     <div class="card-block">
                       <div class="media">
                         <div class="media-left media-middle">
                           <i class="icon-pencil white font-large-2 float-xs-left"></i>
                         </div>
                         <div class="media-body white text-xs-right">
                           <h3>278</h3>
                           <span>اجمالى المبيعات</span>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>

               <div class="col-xl-4 col-lg-6 col-xs-12">
                    <div class="card bg-primary">
                      <div class="card-body">
                        <div class="card-block">
                          <div class="media">
                            <div class="media-left media-middle">
                              <i class="icon-pencil white font-large-2 float-xs-left"></i>
                            </div>
                            <div class="media-body white text-xs-right">
                              <h3>3</h3>
                              <span>اجمالى المجموعات</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

       </div>

       <!-- tybes table -->
       <div class="row">
           <div class="col-xs-12 col-lg-12">
         <div class="card">
           <div class="card-header">
             <h4 class="card-title">سجل حركة الحساب</h4>
             <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
             <div class="heading-elements">
               <ul class="list-inline mb-0">
                 <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                 <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                 <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
               </ul>
             </div>
           </div>
           <div class="card-body collapse in">
               <div class="card-block card-dashboard" style="padding-top: 0px;">
               <table class="table table-striped table-bordered base-style right">
                 <thead>
                   <tr>
                     <th>كود</th>
                     <th>اسم المنتج</th>
                     <th>تاريخ الإضافة</th>
                     <th>اجمالى الطلبات</th>
                     <th>اجمالى المبيعات</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                       <td>101</td>
                       <td>طماطم طازجة</td>
                       <th>11/8/2017</th>
                       <td>8</td>
                       <td>32</td>
                   </tr>
                   <tr>
                       <td>101</td>
                       <td>طماطم طازجة</td>
                       <th>11/8/2017</th>
                       <td>8</td>
                       <td>32</td>
                   </tr>
                   <tr>
                       <td>101</td>
                       <td>طماطم طازجة</td>
                       <th>11/8/2017</th>
                       <td>8</td>
                       <td>32</td>
                   </tr>
                   <tr>
                       <td>101</td>
                       <td>طماطم طازجة</td>
                       <th>11/8/2017</th>
                       <td>8</td>
                       <td>32</td>
                   </tr>
                 </tbody>
                 <tfoot>
                   <tr>
                     <th>كود</th>
                     <th>اسم المنتج</th>
                     <th>تاريخ الإضافة</th>
                     <th>اجمالى الطلبات</th>
                     <th>اجمالى المبيعات</th>
                   </tr>
                 </tfoot>
               </table>
             </div>
           </div>
         </div>
         </div>
         </div>


     </div>


     <!-- orders tab -->
     <div class="col-lg-12 profile-tab" data-tab="orders-tab" id="orders-tab">

       <div class="row">

         <div class="col-xl-4 col-lg-6 col-xs-12">
              <div class="card bg-danger">
                <div class="card-body">
                  <div class="card-block">
                    <div class="media">
                      <div class="media-left media-middle">
                        <i class="icon-list white font-large-2 float-xs-left"></i>
                      </div>
                      <div class="media-body white text-xs-right">
                        <h3>17</h3>
                        <span>اجمالى الطلبات</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-xs-12">
                 <div class="card bg-primary">
                   <div class="card-body">
                     <div class="card-block">
                       <div class="media">
                         <div class="media-left media-middle">
                           <i class="icon-pencil white font-large-2 float-xs-left"></i>
                         </div>
                         <div class="media-body white text-xs-right">
                           <h3>6</h3>
                           <span>الطلبات المفتوحة</span>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>

               <div class="col-xl-4 col-lg-6 col-xs-12">
                    <div class="card bg-success">
                      <div class="card-body">
                        <div class="card-block">
                          <div class="media">
                            <div class="media-left media-middle">
                              <i class="icon-pencil white font-large-2 float-xs-left"></i>
                            </div>
                            <div class="media-body white text-xs-right">
                              <h3>11</h3>
                              <span>الطلبات المغلقة</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

       </div>

       <div class="card">
         <div class="card-body">
           <div class="card-block">

             <div class="card-title">
               <h2>الطلبات المفتوحة</h2>
             </div>

             <div class="col-md-12">
               <div class="form-group float-xs-right" style="margin-top:-10px;">
       						<label>الفترة الزمنية للعرض</label>
       						<div class="input-group">
       						  <input type="text" class="form-control showdropdowns">
       						  <span class="input-group-addon">
       							<span class="fa fa-calendar"></span>
       						  </span>
       						</div>
       						<small class="text-muted">يُمكنك تحديد فترة زمنية معينة لعرض الاذونات طبقا لها</small>
       					  </div>
               </div
           </div>

           <div class="opened col-lg-12">

             <div class="code col-lg-3">
               <p class="tag tag-pill tag-success">17</p>
             </div>

             <div class="details col-lg-6">
               <p>ريان كمال فهمى</p>
               <p> 25 مارس 2017 </p>
             </div>

             <div class="quantity col-lg-3">
               <p> الكمية </p>
               <p class="tag tag-pill tag-success"> 36 </p>
             </div>

           </div>

           <div class="opened col-lg-12">

             <div class="code col-lg-3">
               <p class="tag tag-pill tag-success">17</p>
             </div>

             <div class="details col-lg-6">
               <p>ريان كمال فهمى</p>
               <p> 25 مارس 2017 </p>
             </div>

             <div class="quantity col-lg-3">
               <p> الكمية </p>
               <p class="tag tag-pill tag-success"> 36 </p>
             </div>

           </div>

           <div class="opened col-lg-12">

             <div class="code col-lg-3">
               <p class="tag tag-pill tag-success">17</p>
             </div>

             <div class="details col-lg-6">
               <p>ريان كمال فهمى</p>
               <p> 25 مارس 2017 </p>
             </div>

             <div class="quantity col-lg-3">
               <p> الكمية </p>
               <p class="tag tag-pill tag-success"> 36 </p>
             </div>

           </div>


         </div>
         <div class="col-lg-12 col-md-12">
                     <div class="text-xs-center mb-3">
                       <nav aria-label="Page navigation">
                         <ul class="pagination">
                           <li class="page-item"><a class="page-link" href="#" aria-label="Previous">«</a>
                           </li>
                           <li class="page-item"><a class="page-link" href="#">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                           <li class="page-item active"><a class="page-link" href="#">3</a></li>
                           <li class="page-item"><a class="page-link" href="#">4</a></li>
                           <li class="page-item"><a class="page-link" href="#">5</a></li>
                           <li class="page-item">
                             <a class="page-link" href="#" aria-label="Next">»</a>
                           </li>
                         </ul>
                       </nav>
                     </div>
                   </div>
       </div>

     </div>
   </div>

     <div class="card">
       <div class="card-body">
         <div class="card-block">

           <div class="card-title">
             <h2>الطلبات المغلقة</h2>
           </div>

           <div class="col-md-12">
             <div class="form-group float-xs-right" style="margin-top:-10px;">
                <label>الفترة الزمنية للعرض</label>
                <div class="input-group">
                  <input type="text" class="form-control showdropdowns">
                  <span class="input-group-addon">
                  <span class="fa fa-calendar"></span>
                  </span>
                </div>
                <small class="text-muted">يُمكنك تحديد فترة زمنية معينة لعرض الاذونات طبقا لها</small>
                </div>
             </div
         </div>

         <div class="opened col-lg-12">

           <div class="code col-lg-3">
             <p class="tag tag-pill tag-success">6</p>
           </div>

           <div class="details col-lg-6">
             <p>ريان كمال فهمى</p>
             <p> 25 مارس 2017 </p>
           </div>

           <div class="quantity col-lg-3">
             <p> الكمية </p>
             <p class="tag tag-pill tag-success"> 36 </p>
           </div>

         </div>

         <div class="opened col-lg-12">

           <div class="code col-lg-3">
             <p class="tag tag-pill tag-success">4</p>
           </div>

           <div class="details col-lg-6">
             <p>ريان كمال فهمى</p>
             <p> 25 مارس 2017 </p>
           </div>

           <div class="quantity col-lg-3">
             <p> الكمية </p>
             <p class="tag tag-pill tag-success"> 46 </p>
           </div>

         </div>

         <div class="opened col-lg-12">

           <div class="code col-lg-3">
             <p class="tag tag-pill tag-success">11</p>
           </div>

           <div class="details col-lg-6">
             <p>ريان كمال فهمى</p>
             <p> 25 مارس 2017 </p>
           </div>

           <div class="quantity col-lg-3">
             <p> الكمية </p>
             <p class="tag tag-pill tag-success"> 14 </p>
           </div>

         </div>


       </div>
       <div class="col-lg-12 col-md-12">
                   <div class="text-xs-center mb-3">
                     <nav aria-label="Page navigation">
                       <ul class="pagination">
                         <li class="page-item"><a class="page-link" href="#" aria-label="Previous">«</a>
                         </li>
                         <li class="page-item"><a class="page-link" href="#">1</a></li>
                         <li class="page-item"><a class="page-link" href="#">2</a></li>
                         <li class="page-item active"><a class="page-link" href="#">3</a></li>
                         <li class="page-item"><a class="page-link" href="#">4</a></li>
                         <li class="page-item"><a class="page-link" href="#">5</a></li>
                         <li class="page-item">
                           <a class="page-link" href="#" aria-label="Next">»</a>
                         </li>
                       </ul>
                     </nav>
                   </div>
                 </div>
     </div>

   </div>
 </div>

     <!-- finances-tab -->
     <div class="col-lg-12 profile-tab" data-tab="finances-tab">

       <!-- Simple Bar Chart -->
       <!-- Simple Bar Chart -->
       <div class="row">
         <div class="col-xs-12">
           <div class="card">
             <div class="card-header">
               <h4 class="card-title">سجل المبيعات</h4>
               <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
               <div class="heading-elements">
                 <ul class="list-inline mb-0">
                   <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                   <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                   <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                   <li><a data-action="close"><i class="ft-x"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="card-body collapse in">
               <div class="card-block">
                 <canvas id="myChar" class="mb-1" style="height:300px !important, width:100%;"></canvas>
                   <div class="row">
                       <div class="col-lg-4 col-md-6 col-xs-12 border-right-blue-grey border-right-lighten-3  flexed-row flexed-centered flexed-vcentered">
                         <div class="float-xs-left pl-2">
                           <span class="font-large-2 text-bold-300 primary">120</span>
                         </div>
                         <div class="float-xs-left ml-1">
                           <span class="blue-grey darken-1 block">اجمالي</span>
                           <span class="blue-grey darken-1 block">المبيعات</span>
                         </div>
                       </div>
                       <div class="col-lg-4 col-md-6 col-xs-12 border-right-blue-grey border-right-lighten-3  flexed-row flexed-centered flexed-vcentered">
                         <div class="float-xs-left pl-2">
                           <span class="font-large-2 text-bold-300 danger">8</span>
                         </div>
                         <div class="float-xs-left ml-1">
                           <span class="blue-grey darken-1 block">اجمالي</span>
                           <span class="blue-grey darken-1 block">الطلبات</span>
                         </div>
                       </div>
                       <div class="col-lg-4 col-md-6 col-xs-12 flexed-row flexed-centered flexed-vcentered">
                         <div class="float-xs-left pl-2">
                           <span class="font-large-2 text-bold-300 success">3</span>
                         </div>
                         <div class="float-xs-left ml-1">
                           <span class="blue-grey darken-1 block">اجمالى</span>
                           <span class="blue-grey darken-1 block">الأصناف</span>
                         </div>
                       </div>
                     </div>
                 <div id="bar-chart" class="">
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>

       <div class="row">
           <div class="col-xs-12 col-lg-12">
         <div class="card">
           <div class="card-header">
             <h4 class="card-title">سجل حركة المبيعات</h4>
             <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
             <div class="heading-elements">
               <ul class="list-inline mb-0">
                 <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                 <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                 <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
               </ul>
             </div>
           </div>
           <div class="card-body collapse in">
               <div class="card-block card-dashboard" style="padding-top: 0px;">
               <table class="table table-striped table-bordered base-style right">
                 <thead>
                   <tr>
                     <th>كود</th>
                     <th>اسم المشترى</th>
                     <th>تاريخ الشراء</th>
                     <th>توقيت الشراء</th>
                     <th>الكمية</th>
                     <th>اجمالى المبيعات</th>
                     <th>حالة الطلب</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                       <td>101</td>
                       <td>ريان كمال فهمي</td>
                       <th>11/8/2017</th>
                       <td>13:26</td>
                       <td>15</td>
                       <td>750</td>
                       <td>تم</td>
                   </tr>
                   <tr>
                       <td>101</td>
                       <td>ريان كمال فهمي</td>
                       <th>11/8/2017</th>
                       <td>13:26</td>
                       <td>15</td>
                       <td>750</td>
                       <td>تم</td>
                   </tr>
                   <tr>
                       <td>101</td>
                       <td>ريان كمال فهمي</td>
                       <th>11/8/2017</th>
                       <td>13:26</td>
                       <td>15</td>
                       <td>750</td>
                       <td>تم</td>
                   </tr>
                   <tr>
                       <td>101</td>
                       <td>ريان كمال فهمي</td>
                       <th>11/8/2017</th>
                       <td>13:26</td>
                       <td>15</td>
                       <td>750</td>
                       <td>تم</td>
                   </tr>
                 </tbody>
                 <tfoot>
                   <tr>
                     <th>كود</th>
                     <th>اسم المشترى</th>
                     <th>تاريخ الشراء</th>
                     <th>توقيت الشراء</th>
                     <th>الكمية</th>
                     <th>اجمالى المبيعات</th>
                     <th>حالة الطلب</th>
                   </tr>
                 </tfoot>
               </table>
             </div>
           </div>
         </div>
         </div>
         </div>

     </div>

     <!-- settings tab -->
     <div class="col-lg-12 profile-tab" data-tab="settings">

       <!-- image -->
       <div class="col-md-4 mb-1">
           <div class="col-md-12 mb-2 image_element"></div>
       </div>

       <!-- info -->
       <div class="col-md-8">


         <div class="card">
       <div class="card-body">
       <div class="card-block">
               <div class="row">
               <div class="col-md-9">
                 <div class="form-group ">
                 <label for="eventRegInput1">اسم التاجر</label>
                 <input type="text" id="eventRegInput1" class="form-control" placeholder="اسم التاجر" name="">
                 </div>
               </div>
                 <div class="col-md-3">
                 <div class="form-group ">
                 <label for="eventRegInput1">رقم الموبايل</label>
                 <input type="text" id="eventRegInput1" class="form-control" placeholder="رقم الموبايل" name="">
                 </div>
               </div>
             </div>
                 <div class="row">
               <div class="col-md-3">
                 <div class="form-group">
                   <label for="phoneNumber1">محل الاقامة</label>
                   <select class="form-control">
                         <option></option>
                         <option>
                             القاهرة
                         </option>
                         <option>
                             الجيزة
                         </option>
                         <option>
                             المعادي
                         </option>

                     </select>
                 </div>
               </div>
               <div class="col-md-9">
                 <div class="form-group">
                   <label for="date1">العنوان كاملا</label>
                   <input type="text" id="eventRegInput1" class="form-control" placeholder="العنوان كاملا" name="">
                 </div>
               </div>
             </div>

           </div>
         </div>
       </div>

       <div class="card">
         <div class="card-body">
           <div class="card-block">
             <div class="row">
               <div class="col-md-12">
                 <label for="descTextarea">وصف التاجر</label>
                  <textarea class="form-control" id="descTextarea" rows="3" placeholder="ضع وصف لك او لشركتك"></textarea>
               </div>
             </div>
           </div>
         </div>
       </div>

       <div class="form-group">
         <button type="button" class="btn btn-primary" >حفظ التغييرات</button>
       </div>



       </div>

       </div>

     </div


   </div>
    </div>
  </div>

@{import('vendors.min.js','gallery/photo-swipe/photoswipe.min.js','gallery/photo-swipe/photoswipe-ui-default.min.js','scripts/gallery/photo-swipe/photoswipe-script.js','custom_plugins/cardToggler.js','custom_plugins/image_upload.js')};



<script>

// 2222222222
$(document).ready(function(){
  var ctx = document.getElementById("myChar").getContext('2d');
  var myChar = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["يناير", "فبراير", "مارس", "أبريل", "مايو", "يونيه"],
          datasets: [
            {
                label: 'الصافي',
                data: [12, 1200, 1500, 1600, 1000, 1200],
                backgroundColor: 'rgba(17, 209, 149, 0.3215686274509804)',
                borderColor: '#41efb9',
                borderWidth: 1,
                type: 'line'

            },
            {
              label: 'الأساسي',
              data: [12, 1200, 1500, 1600, 1000, 1200],
              backgroundColor: '#ffebd7',
              borderColor: '#feb66f',
              borderWidth: 1
          },
          {
              label: 'الخصومات',
              data: [25, 34, 14, 12, 14, 25],
              backgroundColor: '#ffdfe5',
              borderColor: '#fe6c8b',
              borderWidth: 1
          },
          {
              label: 'المكافآت',
              data: [0, 360, 25, 361, 210, 14],
              backgroundColor: '#daf2f2',
              borderColor: '#76d0d0',
              borderWidth: 1
          }
          ]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          },
          legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: '#404E67',
                fontFamily: 'dubai'
            }
        },
        tooltips: {
          bodyFontFamily: 'dubai',
          titleFontFamily: 'dubai'
        }
      }
  });


  $('.profile-tabs li').on('click touch',function(){
    var tab = $(this).attr('data-tab');
    $('.profile-tab').hide();
    $(document).find('.profile-tab[data-tab="'+tab+'"]').show();
  });

});



$(document).ready(function(){
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["يناير", "فبراير", "مارس", "أبريل", "مايو", "يونيه"],
          datasets: [
            {
                label: 'الصافي',
                data: [12, 1200, 1500, 1600, 1000, 1200],
                backgroundColor: 'rgba(17, 209, 149, 0.3215686274509804)',
                borderColor: '#41efb9',
                borderWidth: 1,
                type: 'line'

            },
            {
              label: 'الأساسي',
              data: [12, 1200, 1500, 1600, 1000, 1200],
              backgroundColor: '#ffebd7',
              borderColor: '#feb66f',
              borderWidth: 1
          },
          {
              label: 'الخصومات',
              data: [25, 34, 14, 12, 14, 25],
              backgroundColor: '#ffdfe5',
              borderColor: '#fe6c8b',
              borderWidth: 1
          },
          {
              label: 'المكافآت',
              data: [0, 360, 25, 361, 210, 14],
              backgroundColor: '#daf2f2',
              borderColor: '#76d0d0',
              borderWidth: 1
          }
          ]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          },
          legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: '#404E67',
                fontFamily: 'dubai'
            }
        },
        tooltips: {
          bodyFontFamily: 'dubai',
          titleFontFamily: 'dubai'
        }
      }
  });



});

$('.image_element').image_upload({
  name: 'item_image',
  background: '#FFF',
  height:'170px',
  width:'60%'
});


</script>





  @{import('vendors.min.js')};
