<!-- new manual item -->
<div class="modal fade text-xs-left in" id="addNewProductManually" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="myModalLabel1">اضافة صنف جديد</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form add_new_product">
                      <div class="form-body">
                        <div class="col-md-9">
                          <div class="row">
                            <div class="form-group col-xs-6 mb-2">
                              <label for="item_name">اسم الصنف</label>
                              <input id="item_name" data-complete="ryan-complete" type="text" class="form-control" placeholder="اسم الصنف" name="product_name">
                            </div>
                            <div class="form-group col-xs-6 mb-2">
                              <label for="item_group">اسم المجموعة</label>
                              <input id="item_group" data-complete="ryan-complete" type="text" class="form-control" placeholder="اسم المجموعة" name="group_name">

                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-xs-12 mb-2">
                                <div class="form-section flex-fill">
                                    <p style="margin: 0px"><i class="ft-user"></i> أحجام الصنف</p>
                                    <button type="button" class="btn btn-outline-secondary btn-sm new_size"> حجم جديد</button>
                                </div>
                                <div class="size_section"><div class="list_empty">
                                    <i class="ft-alert-circle"></i>
                                    <p>
                                        لم تقم بتحديد أي أحجام بعد
                                    </p>
                                </div></div>

                            </div>
                          </div>
                          <div class="row">
                          <div class="form-group col-xs-12 mb-2">
                              <div class="form-section flex-fill extras_head">
                                  <p style="margin: 0px"><i class="ft-user"></i> اضافات الصنف</p>
                                  <fieldset class="form-group extras_engine_input engine_collapsed">
                        <input type="text" class="form-control" placeholder="ابحث عن الاضافات المتاحة">
                        <div class="form-control-position">
                        <i class="ft-x-square danger"></i>
                        </div>
                        <div class="extras_engine_result">

                        </div>
                        </fieldset>
                              </div>
                              <div class="extras_section">
                                  <div class="list_empty">
                                  <i class="ft-alert-circle"></i>
                                  <p>
                                      لم تقم بتحديد أي اضافات بعد
                                  </p>
                              </div>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-xs-12 mb-2">
                              <div class="form-section flex-fill">
                                  <p style="margin: 0px"><i class="ft-user"></i> مذاقات الصنف</p>
                                  <button type="button" class="btn btn-outline-secondary btn-sm new_taste"> مذاق جديد</button>
                              </div>
                              <div class="taste_section">
                                <div class="list_empty">
                                  <i class="ft-alert-circle"></i>
                                  <p>
                                      لم تقم بتحديد أي مذاقات بعد
                                  </p>
                              </div>
                            </div>

                          </div>
                        </div>
                        </div>
	<div class="col-md-3">
    <div class="row">
      <div class="form-group col-xs-12 mb-2 image_element" >
      </div>

      <div class="form-group col-xs-12 mb-2">
        <label for="eventInput1">
          الوقت المطلوب لتجهيز الصنف
        </label>
        <div id="time_for_prepare" data-value=""></div>
        <small name="time_value"> 5 دقايق</small>
        </div>

        <div class="form-group col-xs-12 mb-2">
          <label for="eventInput1">
            أقصى عدد يمكن تجهيزه خلال <span name="time_value"></span>
          </label>
          <div id="prepare_at_once" data-value=""></div>
          <small name="prepare_value">3 وحدات</small>
          </div>


          <div class="form-group col-xs-12 mb-2  skin skin-line availability">
            <label for="eventInput1">
              طبيعة الكمية المتوفرة
            </label>
            <fieldset >
              <input type="radio" name="availability" id="input-radio-1" >
              <label for="input-radio-1">غير محدودة</label>
            </fieldset>
            <fieldset >
              <input type="radio" name="availability" id="input-radio-2">
              <label for="input-radio-2">محدودة</label>
            </fieldset>
          </div>




    </div>
  </div>

                      </div>
                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary btn-min-width mr-1 submit_add_new_product">تثبيت الصنف</button>
                                  <button type="button" class="btn grey btn-outline-secondary cancel_manual_item" data-dismiss="modal">اغلاق</button>

                                </div>
                              </div>
                            </div>
                          </div>



                          <script>
                              $(function(){
                                  var time_for_prepare = document.getElementById('time_for_prepare');

noUiSlider.create(time_for_prepare, {
  start: get_value_of_precent(60,15),
  step: 0.5,
	connect: "lower",
	range: {
	  'min': 0,
	  'max': 60
	}
});
time_for_prepare.noUiSlider.on('update', function ( values, handle ) {
  $('[name="time_value"]').text(values[handle]+' دقيقة');
  $('#time_for_prepare').attr('data-value',values[handle]);
});


var prepare_at_once = document.getElementById('prepare_at_once');

noUiSlider.create(prepare_at_once, {
  start: get_value_of_precent(100,15),
  step: 1,
	connect: "lower",
	range: {
	  'min': 0,
	  'max': 100
	}
});
prepare_at_once.noUiSlider.on('update', function ( values, handle ) {
  $('[name="prepare_value"]').text(values[handle]+' وحدات');
  $('#prepare_at_once').attr('data-value',values[handle]);
});


$(document).on('keyup','#item_group',function(){
$(this).auto_complete();
});
$(document).on('keyup','#item_name',function(){
$(this).auto_complete({
  data: ['burger beef','checkien','7up']
});
});





$('.image_element').image_upload({
  name: 'item_image'
});





$('.submit_add_new_product').on('click',function(){

var p_name = $('input[name="product_name"]').val();
var p_group = $('input[name="group_name"]').val();
var p_image = $('input[name="item_image"]').val().replace(/C:\\fakepath\\/i, '');
var max_time = $('#time_for_prepare').attr('data-value');
var max_prepare = $('#prepare_at_once').attr('data-value');
/* p_sizes  */
var p_sizes = [];
$('.size_section .colored-row').each(function(){
var size = new Object();
size.name = $(this).find('input[name="size_name"]').val();
size.cost ;
if($(this).find('input[name="cost_price"]').val() !== ''){
size.cost = $(this).find('input[name="cost_price"]').val();
}else{
size.cost = 0;
}
size.sale ;
if($(this).find('input[name="sale_price"]').val() !== ''){
size.sale = $(this).find('input[name="sale_price"]').val();
}else{
size.sale = 0;
}
size.sym = get_first_letter($(this).find('input[name="size_name"]').val());
p_sizes.push(size);
});
/* p_extras */
var p_extras = [];
$('.extras_section .colored-row').each(function(){
var extra = new Object();
extra.name = $(this).find('input[name="extra_name"]').val();
extra.size = $(this).find('input[name="size_name"]').val();
extra.cost ;
if($(this).find('input[name="cost_price"]').val() !== ''){
extra.cost = $(this).find('input[name="cost_price"]').val();
}else{
extra.cost = 0;
}
extra.sale ;
if($(this).find('input[name="sale_price"]').val() !== ''){
extra.sale = $(this).find('input[name="sale_price"]').val();
}else{
extra.sale = 0;
}
p_extras.push(extra);
});
/* p_tastes */
var p_tastes = [];
$('.taste_section .colored-row').each(function(){
var taste = new Object();
taste.name = $(this).find('input[name="taste_name"]').val();
taste.size = $(this).find('input[name="size_name"]').val();
taste.cost ;
if($(this).find('input[name="cost_price"]').val() !== ''){
taste.cost = $(this).find('input[name="cost_price"]').val();
}else{
taste.cost = 0;
}
taste.sale ;
if($(this).find('input[name="sale_price"]').val() !== ''){
taste.sale = $(this).find('input[name="sale_price"]').val();
}else{
taste.sale = 0;
}
p_tastes.push(taste);
});

var data = new Object();
data.p_name = p_name;
data.p_group = p_group;
data.p_image = p_image;
data.max_time = max_time;
data.max_prepare = max_prepare;
data.p_sizes = p_sizes;
data.p_extras = p_extras;
data.p_tastes = p_tastes;
console.log(data.p_extras);

socket.emit('insertNewProduct',data);
$()
toastr.success('تم اضافة '+data.p_name+' الى قائمة الاصناف بنجاح','ممتاز جدا');




});
                              });
                          </script>