<div class="preview_item">
                                  <div class=" preview_item_header mb-1 p-2 bg-gradient-x-primary">
                                    <div class="header_data" style="background-image:url('/images/library_uploads/@{model.product_data[0].p_img}')">
                                      <div class="header_words">@{model.product_data[0].p_desc}</div>
                                    </div>
                                  </div>
                                  <div class="form-group mb-2">
                                      @{if model.product_sizes.length > 0}
                                    <h5>
                                      <i class="icon-grid"></i>
                                    الأحجام
                                    </h5>
                                    <div class="preview_item_list">
                                      @{foreach size in model.product_sizes}
                                      <span>@{size.name}</span>
                                      @{end}
                                    </div>
                                    @{fi}

                                  </div>
                                  <div class="form-group mb-2">
                                      @{if model.product_extras.length > 0}
                                    <h5>
                                      <i class="icon-grid"></i>
                                      الاضافات
                                    </h5>
                                    <div class="preview_item_list">
                                      @{foreach extra in model.product_extras}
                                      <span>@{extra.name}</span>
                                      @{end}
                                    </div>
                                    @{fi}

                                  </div>
                                  <div class="form-group mb-2">
                                      @{if model.product_tastes.length > 0}
                                    <h5>
                                      <i class="icon-grid"></i>
                                      المذاقات
                                    </h5>
                                    <div class="preview_item_list">
                                      @{foreach taste in model.product_tastes}
                                      <span>@{taste.name}</span>
                                      @{end}
                                    </div>
                                    @{fi}
                                  </div>
                                  <hr>
                                  <div class="form-group flexed-row flexed-between flexed-vcentered ">
                                    <p>
                                      متوسط الأسعار
                                    <code>@{model.product_data[0].p_prmin}</code>
                                    :
                                    <code>@{model.product_data[0].p_prmax} جنيه</code>
                                    </p>
                                    <button type="button" class="btn btn-primary install_product" data-pid="@{model.product_data[0].p_id}">تثبيت الآن</button>
                                  </div>
                                  <div class="form-group">
                                    <small>
                                      *
                                      يمكنك تعديل خصائص الصنف وملحقاته بما في ذلك الأسعار بعد تثبيته
                                    </small>
                                  </div>
                                  <section id="scrolldown" class="demo">
                                  <small>اضغط لمعرفة المزيد من التفاصيل</small>
                                  <a href="#"><span></span></a>
                                  </section>
                                </div>