

<div id="product_preview"></div>




<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">الرئيسية</a>
                </li>
                <li class="breadcrumb-item"><a href="#">الموارد</a>
                </li>
                <li class="breadcrumb-item"><a href="products">الأصناف</a>
                </li>
                <li class="breadcrumb-item active">مكتبة الأصناف
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">مكتبة الأصناف</h3>
        </div>
      </div>
      <div class="content-header row">
      </div>
        <div class="content-body">
            <div class="row">
                                        <div class="col-xs-9 library_list">
                                          @{foreach product in model.allProducts}
                                            <div  class="library_item" data-id="@{product.p_id}" data-name="@{product.p_name}">
                                              <div class="item_icon">
                                              <img src="images/library_uploads/@{product.p_img}" width="100%" height="100%">
                                              </div>
                                              <div class="item_name"> @{product.p_name}
                                              </div>
                                            </div>
                                            @{end}

                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group" style="text-align: center">
                          <!-- Outline Icon Button group -->
                          <div class="btn-group" role="group" aria-label="Basic example" dir="ltr">
                            <button type="button" class="btn btn-icon btn-outline-secondary"><i class="icon-cup"></i></button>
                            <button type="button" class="btn btn-icon btn-outline-secondary"><i class="icon-cup"></i></button>
                            <button type="button" class="btn btn-icon btn-outline-secondary"><i class="icon-cup"></i></button>
                            <button type="button" class="btn btn-icon btn-outline-secondary"><i class="icon-cup"></i></button>
                            <button type="button" class="btn btn-icon btn-outline-secondary"><i class="icon-cup"></i></button>
                          </div>
                        </div>
                                            <fieldset class="form-group position-relative">
                      <input type="text" class="form-control form-control-lg input-lg default-shadow font-medium-1" id="iconLeft3" placeholder="ابحث عن الأصناف">
                      <div class="form-control-position">
                        <i class="ft-search info font-medium-4"></i>
                      </div>
                                                        </fieldset>
                                                        <div class="card">
                                                          <div class="card-body">
                                                            <div class="card-block">
                                                              <p class="preview_item_list mb-0">
                                                                اجمالي الأصناف : 
                                                                <span>1520</span>
                                                                 صنف
                                                              </p>
                                                              <p class="preview_item_list mb-0">
                                                                الأصناف المثبتة : 
                                                                <span> 250 </span>
                                                                 صنف
                                                              </p>
                                                              <hr >
                                                              <p class="mb-0">
                                                                الأصناف الأكثر انتشارا :
                                                              </p>
                                                              <div class="preview_item_list mb-0">
                                                                <span>شاورما</span><span>شاورما</span><span>شاورما</span>
                                                              </div>
                                                              <hr >
                                                              <p class="mb-0">
                                                                الأصناف الأعلى مبيعا :
                                                              </p>
                                                              <div class="preview_item_list mb-0">
                                                                <span>شاورما</span><span>شاورما</span><span>شاورما</span>
                                                              </div>
                                                              <a href="#" >
                                                                
                                                                <small>اضغط لمعرفة المزيد من التفاصيل</small>
                                                              </a>
                                                            </div>
                                                          </div>
                                                        </div>
                                        </div>
                                    </div>




        </div>
    </div>
</div>
@{import('vendors.min.js')};
<script>
 $(function(){
   var p_id ;
   var p_name ;
$('#product_preview').iziModal({
    title: ''+p_name+'',
    subtitle: '',
    headerColor: 'rgb(54, 68, 94)',
    width: 400,
    zindex:10000,
    onOpening: function(modal){
      
        modal.startLoading();
        $.ajax({
    method:'get',
    url:'/productsLibraryItem/'+p_id+'',
    success:function(data){
      $("#product_preview .iziModal-content").html(data);
      modal.stopLoading();
    }
  });
    }
  });



   $('.library_item').on('click',function(){
      p_id = $(this).attr('data-id');
      p_name = $(this).attr('data-name');
     $("#product_preview").iziModal('open');
     $('.iziModal-header-title').text(p_name);
   });



   /*
   *Install a new product 
   */
   $(document).on('click','.install_product',function(){
     var p_id = $(this).attr('data-pid');
     socket.emit('install_product',p_id);
   });

   


 });
</script>